@model System.Xml.Linq.XElement
@{
    ViewBag.Title = "BM0";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int counter = 0;
}
<div class="d-flex">
    <a href="@Url.Action("Index","Statistic")" class="btn btn-sm btn-light mr-2">
        <span class="icon text-gray-600">
            <i class="fas fa-arrow-left"></i>
        </span>
    </a>
    <h4>БМ-0. Төрийн аудитын газрын гүйцэтгэсэн аудитын бүртгэл</h4>
    <div class="ml-auto pr-2">
        <a href="#" class="btn btn-sm btn-success btn-icon-split" onclick="exportFile('BM0', 'БМ-0. Төрийн аудитын газрын гүйцэтгэсэн аудитын бүртгэл')">
            <span class="icon text-white-50">
                <i class="fas fa-file-excel"></i>
            </span>
            <span class="text">Excel</span>
        </a>
    </div>
</div>
<hr class="sidebar-divider">
<div class="table-responsive">
    <table id="BM0" class="table table-bordered datatable display" style="width:100%">
        <thead>
            <tr style="background-color:#D2D3D5;">
                <th rowspan="3" class="text-center">№</th>
                <th colspan="12">Ерөнхий мэдээлэл</th>
                <th colspan="4">Аудитын багийн мэдээлэл</th>
            </tr>
            <tr>
                <th rowspan="2">Аудитын төрөл</th>
                <th rowspan="2">Сэдвийн үндэслэл</th>
                <th rowspan="2">Сэдвийн код</th>
                <th rowspan="2">Сэдвийн нэр</th>
                <th rowspan="2">Батлагдсан тушаалын дугаар</th>
                <th rowspan="2">Батлагдсан огноо</th>
                <th rowspan="2">Санал дүгнэлтийн төрөл</th>
                <th rowspan="2">Төсөв захирагчийн ангилал</th>
                <th rowspan="2">Хамрагдсан байгууллагын жагсаалт</th>
                <th colspan="3">Ажилласан</th>
                <th rowspan="2">Харьяа газар</th>
                <th rowspan="2">Багийн ахлах</th>
                <th rowspan="2">Багийн гишүүд</th>
                <th rowspan="2">Мэдээлэл оруулсан аудитор</th>
            </tr>
            <tr>
                <th>Хүн</th>
                <th>Өдөр</th>
                <th>Илүү цаг</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Elements("BM0").Count() != 0)
            {
                foreach (var item in Model.Elements("BM0"))
                {
                    counter++;
                    <tr>
                        <td>@counter</td>
                        <td>@(item.Element("OFFICE_ID") != null ? item.Element("OFFICE_ID").Value:"")</td>
                        <td>@(item.Element("DEPARTMENT_NAME") != null ? item.Element("DEPARTMENT_NAME").Value:"")</td>
                        <td>@(item.Element("STATISTIC_PERIOD") != null ? item.Element("STATISTIC_PERIOD").Value:"")</td>
                        <td>@(item.Element("AUDIT_YEAR") != null ? item.Element("AUDIT_YEAR").Value:"")</td>
                        <td>@(item.Element("AUDIT_TYPE") != null ? item.Element("AUDIT_TYPE").Value:"")</td>
                        <td>@(item.Element("AUDIT_TYPE_NAME") != null ? item.Element("AUDIT_TYPE_NAME").Value:"")</td>
                        <td>@(item.Element("AUDIT_CODE") != null ? item.Element("AUDIT_CODE").Value:"")</td>
                        <td>@(item.Element("AUDIT_NAME") != null ? item.Element("AUDIT_NAME").Value:"")</td>
                        <td>@(item.Element("AUDIT_BUDGET_TYPE") != null ? item.Element("AUDIT_BUDGET_TYPE").Value:"")</td>
                        <td>@(item.Element("ORDER_DATE") != null ? item.Element("ORDER_DATE").Value:"")</td>
                        <td>@(item.Element("ORDER_NO") != null ? item.Element("ORDER_NO").Value:"")</td>
                        <td>@(item.Element("ACT_NO") != null ? item.Element("ACT_NO").Value:"")</td>
                        <td>@(item.Element("ACT_VIOLATION_DESC") != null ? item.Element("ACT_VIOLATION_DESC").Value:"")</td>
                        <td>@(item.Element("ACT_VIOLATION_TYPE") != null ? item.Element("ACT_VIOLATION_TYPE").Value:"")</td>
                        <td>@(item.Element("ACT_SUBMITTED_DATE") != null ? item.Element("ACT_SUBMITTED_DATE").Value:"")</td>
                        <td>@(item.Element("ACT_DELIVERY_DATE") != null ? item.Element("ACT_DELIVERY_DATE").Value:"")</td>
                        <td>@(item.Element("ACT_AMOUNT") != null ? item.Element("ACT_AMOUNT").Value:"")</td>
                        <td>@(item.Element("ACT_STATE_AMOUNT") != null ? item.Element("ACT_STATE_AMOUNT").Value:"")</td>
                        <td>@(item.Element("ACT_LOCAL_AMOUNT") != null ? item.Element("ACT_LOCAL_AMOUNT").Value:"")</td>
                        <td>@(item.Element("ACT_ORG_AMOUNT") != null ? item.Element("ACT_ORG_AMOUNT").Value:"")</td>
                        <td>@(item.Element("ACT_OTHER_AMOUNT") != null ? item.Element("ACT_OTHER_AMOUNT").Value:"")</td>
                        <td>@(item.Element("ACT_RCV_NAME") != null ? item.Element("ACT_RCV_NAME").Value:"")</td>
                        <td>@(item.Element("ACT_RCV_ROLE") != null ? item.Element("ACT_RCV_ROLE").Value:"")</td>
                        <td>@(item.Element("ACT_RCV_GIVEN_NAME") != null ? item.Element("ACT_RCV_GIVEN_NAME").Value:"")</td>
                        <td>@(item.Element("ACT_RCV_ADDRESS") != null ? item.Element("ACT_RCV_ADDRESS").Value:"")</td>
                        <td>@(item.Element("ACT_CONTROL_AUDITOR") != null ? item.Element("ACT_CONTROL_AUDITOR").Value:"")</td>
                        <td>@(item.Element("COMPLETION_ORDER") != null ? item.Element("COMPLETION_ORDER").Value:"")</td>
                        <td>@(item.Element("COMPLETION_AMOUNT") != null ? item.Element("COMPLETION_AMOUNT").Value:"")</td>
                        <td>@(item.Element("COMPLETION_STATE_AMOUNT") != null ? item.Element("COMPLETION_STATE_AMOUNT").Value:"")</td>
                        <td>@(item.Element("COMPLETION_LOCAL_AMOUNT") != null ? item.Element("COMPLETION_LOCAL_AMOUNT").Value:"")</td>
                        <td>@(item.Element("COMPLETION_ORG_AMOUNT") != null ? item.Element("COMPLETION_ORG_AMOUNT").Value:"")</td>
                        <td>@(item.Element("COMPLETION_OTHER_AMOUNT") != null ? item.Element("COMPLETION_OTHER_AMOUNT").Value:"")</td>
                        <td>@(item.Element("REMOVED_AMOUNT") != null ? item.Element("REMOVED_AMOUNT").Value:"")</td>
                        <td>@(item.Element("REMOVED_LAW_AMOUNT") != null ? item.Element("REMOVED_LAW_AMOUNT").Value:"")</td>
                        <td>@(item.Element("REMOVED_LAW_DATE_NO") != null ? item.Element("REMOVED_LAW_DATE_NO").Value:"")</td>
                        <td>@(item.Element("REMOVED_INVALID_AMOUNT") != null ? item.Element("REMOVED_INVALID_AMOUNT").Value:"")</td>
                        <td>@(item.Element("REMOVED_INVALID_DATE_NO") != null ? item.Element("REMOVED_INVALID_DATE_NO").Value:"")</td>
                        <td>@(item.Element("ACT_C2_AMOUNT") != null ? item.Element("ACT_C2_AMOUNT").Value:"")</td>
                        <td>@(item.Element("ACT_C2_AMOUNT") != null ? item.Element("ACT_C2_AMOUNT").Value:"")</td>
                        <td>@(item.Element("ACT_C2_NONEXPIRED") != null ? item.Element("ACT_C2_NONEXPIRED").Value:"")</td>
                        <td>@(item.Element("ACT_C2_EXPIRED") != null ? item.Element("ACT_C2_EXPIRED").Value:"")</td>
                        <td>@(item.Element("BENEFIT_FIN_AMOUNT") != null ? item.Element("BENEFIT_FIN_AMOUNT").Value:"")</td>
                        <td>@(item.Element("BENEFIT_NONFIN") != null ? item.Element("BENEFIT_NONFIN").Value:"")</td>
                        <td>@(item.Element("EXEC_TYPE") != null ? item.Element("EXEC_TYPE").Value:"")</td>
                        <td>@(item.Element("CREATED_DATE") != null ? item.Element("CREATED_DATE").Value:"")</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js" integrity="sha512-wBcFatf7yQavHQWtf4ZEjvtVz4XkYISO96hzvejfh18tn3OrJ3sPBppH0B6q/1SHB4OKHaNNUKqOmsiTGlOM/g==" crossorigin="anonymous"></script><script>
        initDataTable();
        function exportFile() {
            var wb = XLSX.utils.table_to_book(document.getElementById('sampletable'));
            XLSX.writeFile(wb, 'sample.xlsx');

        }
    </script>
} 