@using Audit.Models
@model Audit.Models.BM2VM
@{
    ViewBag.Title = "BM2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex">
    <a href="@Url.Action("Index","Statistic")" class="btn btn-sm btn-light mr-2">
        <span class="icon text-gray-600">
            <i class="fas fa-arrow-left"></i>
        </span>
    </a>
    <h4>БМ-2. Төрийн аудитын газрын аудитор болон багийн албан шаардлагын бүртгэл</h4>
</div>
<hr class="sidebar-divider">
<form method="post" id="FilterForm">
    <div class="d-flex flex-wrap mb-2">

        <div class="form-group-sm pr-2">
            <label for="DeparmentID" class="col-form-label">Алба:</label>
            @Html.DropDownListFor(model => model.DeparmentID, Model.departments.Select(m => new SelectListItem { Text = m.DEPARTMENT_NAME, Value = m.DEPARTMENT_ID.ToString() }).ToList(), "Сонгоно уу", htmlAttributes: new { @class = "form-control form-control-sm" })
        </div>
        <div class="form-group-sm pr-2">
            <label for="PeriodID" class="col-form-label">Он:</label>
            @Html.DropDownListFor(model => model.PeriodID, Model.periods.Select(m => new SelectListItem { Text = m.PERIOD_LABEL, Value = m.ID.ToString() }).ToList(), null, htmlAttributes: new { @class = "form-control form-control-sm" })
        </div>
        <div class="form-group-sm ml-auto pr-2">
            <br />
            <a href="#" class="btn btn-sm btn-secondary btn-icon-split" onclick="BM2.loadTemplate();">
                <span class="icon text-white-50">
                    <i class="fas fa-plus"></i>
                </span>
                <span class="text">Шинэ бүртгэл</span>
            </a>
        </div>
        <div class="form-group-sm">
            <br />
            <a href="#" class="btn btn-sm btn-success btn-icon-split" id="exportXLSX" onclick="exportFile('BM2', 'БМ-2. Төрийн аудитын газрын аудитор болон багийн албан шаардлагын бүртгэл')">
                <span class="icon text-white-50">
                    <i class="fas fa-file-excel"></i>
                </span>
                <span class="text">Excel</span>
            </a>
        </div>
    </div>
</form>
<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table id="BM2" class="table table-bordered table-hover datatable display" style="width:100%">
                <thead>
                    <tr class="bg-light">
                        <th rowspan="4">№</th>
                        <th rowspan="4">Он</th>
                        <th rowspan="4">Аудитын төрөл</th>
                        <th rowspan="4">Аудитын код</th>
                        <th rowspan="4">Аудитын нэр</th>
                        <th rowspan="4">Төсөв захирагч / Сэдвийн ангилал</th>
                        <th colspan="2">Батлагдсан тушаалын</th>
                        <th colspan="10">Албан шаардлагын мэдээлэл</th>
                        <th rowspan="4">Албан шаардлагын хэрэгжилтэд хяналт тавих баг, аудитор, шинжээчийн овог, нэр, албан тушаал</th>
                        <th colspan="6" rowspan="2">Албан шаардлагын биелэлт</th>
                        <th colspan="6" rowspan="2">Бүртгэлээс хасагдсан</th>
                        <th rowspan="4">Дараа онд шилжих үлдэгдлийн дүн</th>
                        <th colspan="2" rowspan="3">Үүнээс</th>
                        <th colspan="3" rowspan="2">Хүлээн зөвшөөрүүлсэн үр өгөөж</th>
                        <th rowspan="4">Үйлдэл</th>
                    </tr>
                    <tr class="bg-light">
                        <th rowspan="3">Огноо</th>
                        <th rowspan="3">Дугаар</th>
                        <th rowspan="3">Албан шаардлагын огноо, дугаар</th>
                        <th rowspan="3">Зөрчлийн товч утга</th>
                        <th rowspan="3">Зөрчлийн ангилал</th>
                        <th colspan="2">Хугацаа (он, сар, өдөр)</th>
                        <th rowspan="3">Зөрчлийн дүн</th>
                        <th colspan="4">Албан шаардлагыг хүлээн авсан</th>
                    </tr>
                    <tr class="bg-light">
                        <th rowspan="2">Хүлээлгэн өгсөн</th>
                        <th rowspan="2">Зөрчлийг барагдуулах</th>
                        <th rowspan="2">Байгууллагын нэр</th>
                        <th rowspan="2">Албан тушаал</th>
                        <th rowspan="2">Овог нэр</th>
                        <th rowspan="2">Холбоо барих хаяг, утас</th>
                        <th rowspan="2">Зөрчлийг арилгасан баримтын огноо, дугаар</th>
                        <th rowspan="2">Дүн</th>
                        <th colspan="4">Үүнээс</th>
                        <th colspan="3">Хуулийн байгууллагад шилжүүлсэн</th>
                        <th colspan="3">Тушаалаар хүчингүй болгосон</th>
                        <th colspan="2">Санхүүгийн</th>
                        <th rowspan="2">Санхүүгийн бус үр өгөөжийн тоо</th>
                    </tr>
                    <tr class="bg-light">
                        <th>Улсын төсөвт</th>
                        <th>Орон нутгийн төсөвт</th>
                        <th>Тухайн байгууллагад</th>
                        <th>Бусад</th>
                        <th>Дүн</th>
                        <th>Огноо</th>
                        <th>Дугаар</th>
                        <th>Дүн</th>
                        <th>Огноо</th>
                        <th>Дугаар</th>
                        <th>Хугацаа болоогүй</th>
                        <th>Хугацаа хэтэрсэн</th>
                        <th>Тоо</th>
                        <th>Дүн</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            bm2ListInit();
        });

        function bm2ListInit(pagelength = 10) {
            BM2.table = $("#BM2").DataTable({
                "serverSide": true,
                "processing": true,
                "ajax": {
                    url: "/api/service/bm2list",
                    type: 'POST',
                    data: function (data) {
                        data.DeparmentID = $('#DeparmentID').val();
                        data.PeriodID = $('#PeriodID').val();
                        return data;
                    }
                },
                createdRow: function (row, data, dataIndex) {
                    $(row).attr('data-id', data.ID);
                },
                "columns": [
                    {
                        "data": null, "sortable": false, "class": 'text-center',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { "data": "AUDIT_YEAR", "name": "AUDIT_YEAR" },
                    { "data": "AUDIT_TYPE_NAME", "name": "AUDIT_TYPE_NAME" },
                    { "data": "AUDIT_CODE", "name": "AUDIT_CODE" },
                    { "data": "AUDIT_NAME", "name": "AUDIT_NAME" },
                    { "data": "BUDGET_TYPE_NAME", "name": "BUDGET_TYPE_NAME" },
                    { "data": "ORDER_DATE", "name": "ORDER_DATE" },
                    { "data": "ORDER_NO", "name": "ORDER_NO" },
                    { "data": "CLAIM_NO", "name": "CLAIM_NO" },
                    { "data": "CLAIM_VIOLATION_DESC", "name": "CLAIM_VIOLATION_DESC" },
                    { "data": "VIOLATION_NAME", "name": "VIOLATION_NAME" },
                    { "data": "CLAIM_SUBMITTED_DATE", "name": "CLAIM_SUBMITTED_DATE" },
                    { "data": "CLAIM_DELIVERY_DATE", "name": "CLAIM_DELIVERY_DATE" },
                    { "data": "CLAIM_VIOLATION_AMOUNT", "name": "CLAIM_VIOLATION_AMOUNT", "class": "text-right" },
                    { "data": "CLAIM_RCV_NAME", "name": "CLAIM_RCV_NAME" },
                    { "data": "CLAIM_RCV_ROLE", "name": "CLAIM_RCV_ROLE" },
                    { "data": "CLAIM_RCV_GIVEN_NAME", "name": "CLAIM_RCV_GIVEN_NAME" },
                    { "data": "CLAIM_RCV_ADDRESS", "name": "CLAIM_RCV_ADDRESS" },
                    { "data": "CLAIM_CONTROL_AUDITOR", "name": "CLAIM_CONTROL_AUDITOR" },
                    { "data": "COMPLETION_ORDER", "name": "COMPLETION_ORDER" },
                    { "data": "COMPLETION_AMOUNT", "name": "COMPLETION_AMOUNT", "class": "text-right" },
                    { "data": "COMPLETION_STATE_AMOUNT", "name": "COMPLETION_STATE_AMOUNT", "class": "text-right" },
                    { "data": "COMPLETION_LOCAL_AMOUNT", "name": "COMPLETION_LOCAL_AMOUNT", "class": "text-right" },
                    { "data": "COMPLETION_ORG_AMOUNT", "name": "COMPLETION_ORG_AMOUNT", "class": "text-right" },
                    { "data": "COMPLETION_OTHER_AMOUNT", "name": "COMPLETION_OTHER_AMOUNT", "class": "text-right" },
                    { "data": "REMOVED_LAW_AMOUNT", "name": "REMOVED_LAW_AMOUNT", "class": "text-right" },
                    { "data": "REMOVED_LAW_DATE", "name": "REMOVED_LAW_DATE" },
                    { "data": "REMOVED_LAW_NO", "name": "REMOVED_LAW_NO", "class": "text-right" },
                    { "data": "REMOVED_INVALID_AMOUNT", "name": "REMOVED_INVALID_AMOUNT", "class": "text-right" },
                    { "data": "REMOVED_INVALID_DATE", "name": "REMOVED_INVALID_DATE", "class": "text-right" },
                    { "data": "REMOVED_INVALID_NO", "name": "REMOVED_INVALID_NO", "class": "text-right" },
                    { "data": "CLAIM_C2_AMOUNT", "name": "CLAIM_C2_AMOUNT", "class": "text-right" },
                    { "data": "CLAIM_C2_NONEXPIRED", "name": "CLAIM_C2_NONEXPIRED", "class": "text-right" },
                    { "data": "CLAIM_C2_EXPIRED", "name": "CLAIM_C2_EXPIRED", "class": "text-right" },
                    { "data": "BENEFIT_FIN", "name": "BENEFIT_FIN", "class": "text-right" },
                    { "data": "BENEFIT_FIN_AMOUNT", "name": "BENEFIT_FIN_AMOUNT", "class": "text-right" },
                    { "data": "BENEFIT_NONFIN", "name": "BENEFIT_NONFIN", "class": "text-right" },
                    {
                        "data": null, "sortable": false, "class": 'text-center',
                        render: function (data, type, row, meta) {
                            var tmp = '<div class="btn-group">';
                            var urledit = '<a href="#" class="btn btn-sm" onclick="BM2.edit(' + data.ID + ')"><i class="fa fa-edit text-warning"></i></a>';
                            var urldelete = '<a href="#" class="btn btn-sm" onclick="BM2.delete(' + data.ID + ')"><i class="fa fa-trash-alt text-danger" ></i></a>';
                            tmp += urledit;
                            tmp += urldelete;
                            tmp += "</div>";
                            return tmp;
                        }
                    }
                ],
                "destroy": true,
                "scrollCollapse": true,
                "paging": true,
                "pageLength": pagelength,
                "lengthMenu": [[10, 25, 50], [10, 25, 50]],
                "filter": true,
                "info": true,
                "stateSave": false,
                "bAutoWidth": false,
                lengthChange: true,
                "language": datatables.language
            });

        }
        function Choose(id, code, name, orderdate, orderno, audittype) {
            $("#Bm2Modal input#AUDIT_ID").val(id);
            $("#Bm2Modal #AUDIT_TYPE").val(audittype);
            $("#Bm2Modal input#AUDIT_CODE").val(code);
            $("#Bm2Modal input#AUDIT_NAME").val(name);
            $("#Bm2Modal input#ORDER_DATE").val(orderdate);
            $("#Bm2Modal input#ORDER_NO").val(orderno);

            $('#BM0ListModel').modal('hide');
        }
        $('#DeparmentID').change(function () {
            bm2ListInit();
        });
        $('#PeriodID').change(function () {
            bm2ListInit();
        });
        var BM2 = {
            bm2ID: null,
            table:null,
        display: function (data) {
            $("div#bm2modalcontainer").remove();
            $('<div/>', { id: "bm2modalcontainer" }).appendTo('body').append(data);

            $("#Bm2Modal").modal({ show: true });

            $(".btnBM0listPopup").on('click', function () {
                if ($('#OFFICE_ID').val() != null && $('#OFFICE_ID').val() != '')
                    BM2.BM0List($('#OFFICE_ID').val());
                else
                    alert('Төрийн аудитын байгууллага сонгоно уу.');
            });
        },
        displayBM0List: function (data) {
            $("div#bm0listmodalcontainer").remove();
                $('<div/>', { id: "bm0listmodalcontainer" }).appendTo('body').append(data);

                $('#Bm2Modal').modal('hide');
            $('#BM0ListModel').modal({ show: true }).on('hidden.bs.modal', function (e) {
                $('#Bm2Modal').modal('show');
            });
        },
        BM0List: function (officeid) {
            $.ajax({
                    url: '@Url.Action("BM0Search", "Statistic", new { Area = "" })',
                    type: 'GET',
                    cache: false,
                    data: { officeid },
                    success: function (data) {
                        BM2.displayBM0List(data);
                    },
                    error: errorResponse,
                    beforeSend: function () {
                        Modal.show();
                    },
                    complete: function () {
                        Modal.hide();
                    }
                });
        },            
        loadTemplate: function () {
            $.ajax({
                    url: "@Url.Action("BM2AddEdit", "Statistic", new { Area = "" })",
                    type: 'GET',
                    success: function (data) {
                        BM2.display(data);
                    },
                    error: errorResponse,
                    beforeSend: function () {
                        Modal.show();
                    },
                    complete: function () {
                        Modal.hide();
                    }
                });
        },
        edit: function (id) {
            $.ajax({
                url: "@Url.Action("BM2Detail", "Statistic", new { Area = "" })",
                type: 'POST',
                data: { id },
                success: function (data, status, xhr) {
                    BM2.progressResponse(data, status, xhr);
                },
                error: errorResponse,
                beforeSend: function () {
                    Modal.show();
                },
                complete: function () {
                    Modal.hide();
                }
            });
        },
        delete: function (id) {
            BM2.bm2ID = id;
            var r = confirm("Устгах уу!");
            if (r) {
                $.ajax({
                    url: "@Url.Action("BM2Delete", "Statistic", new { Area = "" })",
                    type: 'POST',
                    data: { id },
                    success: function (data, status, xhr) {
                        BM2.progressResponse(data, status, xhr);
                    },
                    error: errorResponse,
                    beforeSend: function () {
                        Modal.show();
                    },
                    complete: function () {
                        Modal.hide();
                    }
                });
            }
        },
        close: function () {
            $("#Bm2Modal").modal("hide");
        },
        progressResponse: function (data, status, xhr) {
            var ct = xhr.getResponseHeader("content-type") || "";
            if (ct.indexOf("html") > -1) {
                BM2.display(data);
            }
            if (ct.indexOf('json') > -1) {
                if (data.error) {
                    Message.error(data.message);
                } else {
                    $('.modal-backdrop:first').remove()
                    BM2.close();
                    bm2ListInit();
                    Message.success(data.message);
                }
            }
        }
    }
        function exportFile(tableid, excelname,) {
            $('#exportXLSX').addClass('disabled');
            BM2.table.destroy();
            bm2ListInit(-1);

            setTimeout(function () {
                var wb = XLSX.utils.table_to_book(document.getElementById(tableid));
                XLSX.writeFile(wb, excelname + '.xlsx');

                BM2.table.destroy();
                bm2ListInit();
                $('#exportXLSX').removeClass('disabled');
            }, 5000
            )
        }
    </script>
} 