@using Audit.Models
@model Audit.Models.BM3VM
@{
    ViewBag.Title = "BM3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex">
    <a href="@Url.Action("Index","Statistic")" class="btn btn-sm btn-light mr-2">
        <span class="icon text-gray-600">
            <i class="fas fa-arrow-left"></i>
        </span>
    </a>
    <h4>БМ-3. Төрийн аудитын газрын аудитор болон багийн зөвлөмжийн бүртгэл</h4>
</div>
<hr class="sidebar-divider">
<form method="post" id="FilterForm">
    <div class="d-flex flex-wrap mb-2">

        @if (User.GetClaimData("USER_TYPE").ToUpper() == "HEAD_AUDITOR" || User.GetClaimData("USER_TYPE").ToUpper() == "ADMIN")
        {
            <div class="form-group-sm pr-2">
                <label for="DeparmentID" class="col-form-label">Алба:</label>
                @Html.DropDownListFor(model => model.DeparmentID, Model.departments.Select(m => new SelectListItem { Text = m.DEPARTMENT_NAME, Value = m.DEPARTMENT_ID.ToString() }).ToList(), "Сонгоно уу", htmlAttributes: new { @class = "form-control form-control-sm" })
            </div>
        }
        <div class="form-group-sm pr-2">
            <label for="PeriodID" class="col-form-label">Он:</label>
            @Html.DropDownListFor(model => model.PeriodID, Model.periods.Select(m => new SelectListItem { Text = m.PERIOD_LABEL, Value = m.ID.ToString() }).ToList(), null, htmlAttributes: new { @class = "form-control form-control-sm" })
        </div>
        <div class="form-group-sm ml-auto pr-2">
            <br />
            <a href="#" class="btn btn-sm btn-secondary btn-icon-split" onclick="BM3.loadTemplate();">
                <span class="icon text-white-50">
                    <i class="fas fa-plus"></i>
                </span>
                <span class="text">Шинэ бүртгэл</span>
            </a>
        </div>
        <div class="form-group-sm pr-2">
            <br />
            <a href="#" class="btn btn-sm btn-success btn-icon-split disabled enableBtn" onclick="BM3.completion();">
                <span class="icon text-white-50">
                    <i class="fas fa-check"></i>
                </span>
                <span class="text">Биелэлт</span>
            </a>
        </div>
        <div class="form-group-sm pr-2">
            <br />
            <a href="#" class="btn btn-sm btn-warning btn-icon-split disabled enableBtn" onclick="BM3.edit();">
                <span class="icon text-white-50">
                    <i class="fas fa-edit"></i>
                </span>
                <span class="text">Засах</span>
            </a>
        </div>
        <div class="form-group-sm pr-2">
            <br />
            <a href="#" class="btn btn-sm btn-danger btn-icon-split disabled enableBtn" onclick="BM3.delete();">
                <span class="icon text-white-50">
                    <i class="fas fa-trash-alt"></i>
                </span>
                <span class="text">Устгах</span>
            </a>
        </div>

        <div class="form-group-sm">
            <br />
            <a href="#" class="btn btn-sm btn-success btn-icon-split" id="exportXLSX" onclick="exportFile('BM3', 'БМ-3. Төрийн аудитын газрын аудитор болон багийн зөвлөмжийн бүртгэл')">
                <span class="icon text-white-50">
                    <i class="fas fa-file-excel"></i>
                </span>
                <span class="text">Excel</span>
            </a>
        </div>
    </div>
</form>
<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table id="BM3" class="table table-bordered table-hover datatable display">
                <thead>
                    <tr class="bg-light">
                        <th rowspan="3" class="text-center clickClass">№</th>
                        <th rowspan="3" class="clickClass">Төрийн аудитын байгууллага</th>
                        <th rowspan="3" class="clickClass">Аудитын он</th>
                        <th rowspan="3"class="clickClass">Аудитын төрөл</th>
                        <th rowspan="3"class="clickClass">Сэдвийн үндэслэл</th>
                        <th rowspan="3"class="clickClass">Аудитын код</th>
                        <th rowspan="3"class="clickClass">Аудитын нэр</th>
                        <th colspan="2"class="clickClass">Батлагдсан тушаал</th>
                        <th rowspan="3"class="clickClass">Төсөв захирагч</th>
                        <th colspan="11"class="clickClass">Аудитын зөвлөмжийн мэдээлэл</th>
                        <th rowspan="3"class="clickClass">Зөвлөмжийн хэрэгжилтэд хяналт тавих аудитор, шинжээчийн овог нэр, албан тушаал</th>
                        <th rowspan="3"class="clickClass">Зөвлөмжийн биелэлтийг мэдээлсэн баримт бичигйн огноо</th>
                        <th rowspan="3"class="clickClass">Зөвлөмжийн биелэлтийг мэдээлсэн баримт бичигйн нэр, дугаар</th>
                        <th colspan="4"class="clickClass">Зөвлөмжийн биелэлт</th>
                        <th colspan="4"class="clickClass">Дараа онд шилжих үлдэгдэл</th>
                        <th colspan="3"class="clickClass">Хүлээн зөвшөөрүүлсэн үр өгөөж</th>
                    </tr>
                    <tr class="bg-light">
                        <th rowspan="2"class="clickClass">Огноо</th>
                        <th rowspan="2"class="clickClass">Дугаар</th>
                        <th rowspan="2"class="clickClass">Зөвлөмжийн утга</th>
                        <th rowspan="2"class="clickClass">Зөвлөмж өгсөн илрүүлэлтийн ангилал</th>
                        <th colspan="2"class="clickClass">Өгсөн зөвлөмж</th>
                        <th colspan="2"class="clickClass">Зөвлөмжийн хугацаа (он, сар, өдөр)</th>
                        <th colspan="5"class="clickClass">Зөвлөмжийн биелэлтийг хариуцах албан тушаалтан</th>
                        <th colspan="2"class="clickClass">Хэрэгжсэн</th>
                        <th colspan="2"class="clickClass">Хэрэгжээгүй</th>
                        <th colspan="2"class="clickClass">Хугацаа болоогүй</th>
                        <th colspan="2"class="clickClass">Хугацаа хэтэрсэн</th>
                        <th colspan="2"class="clickClass">Санхүүгийн</th>
                        <th rowspan="2"class="clickClass">Санхүүгийн бус үр өгөөжийн тоо</th>
                    </tr>
                    <tr class="bg-light">
                        <th class="clickClass">Тоо</th>
                        <th class="clickClass">Дүн</th>
                        <th class="clickClass">Хүргүүлсэн</th>
                        <th class="clickClass">Биелэлтийг тооцох</th>
                        <th class="clickClass">Байгууллагын нэр</th>
                        <th class="clickClass">Албан тушаал</th>
                        <th class="clickClass">Овог нэр</th>
                        <th class="clickClass">Утас</th>
                        <th class="clickClass">Холбоо барих хаяг</th>
                        <th class="clickClass">Тоо</th>
                        <th class="clickClass">Дүн</th>
                        <th class="clickClass">Тоо</th>
                        <th class="clickClass">Дүн</th>
                        <th class="clickClass">Тоо</th>
                        <th class="clickClass">Дүн</th>
                        <th class="clickClass">Тоо</th>
                        <th class="clickClass">Дүн</th>
                        <th class="clickClass">Тоо</th>
                        <th class="clickClass">Дүн</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            bm3ListInit();
        });

        $(".clickClass").click(function () {
            $("#BM3 tbody tr").removeClass('row_selected');
            $("#FilterForm .enableBtn").addClass("disabled")
            BM3.bm3ID = null;
        });
        
      

        function rowselected() {
            $("#BM3 tbody tr").on('click', function (event) {
                $("#FilterForm .enableBtn").removeClass("disabled")
                $("#BM3 tbody tr").removeClass('row_selected');
                $(this).addClass('row_selected');
                BM3.bm3ID = this.getAttribute("data-id");
                BM3.rowdata = BM3.table.row(this).data();
            });
        }
        function bm3ListInit(pagelength = 10) {
            BM3.table = $("#BM3").DataTable({
                "serverSide": true,
                "processing": true,
                "ajax": {
                    url: "/api/service/bm3list",
                    type: 'POST',
                    data: function (data) {
                        data.DeparmentID = $('#DeparmentID').val();
                        data.PeriodID = $('#PeriodID').val();
                        return data;
                    }
                },
                createdRow: function (row, data, dataIndex) {
                    $(row).attr('data-id', data.ID);
                },
                "columns": [
                    {
                        "data": null, "sortable": false, "class": 'text-center',
                        render: function (data, type, row, meta) {
                            if (data.DEPARTMENT_NAME === "НИЙТ ДҮН") {
                                return "";
                            }
                            else {
                                return meta.row + meta.settings._iDisplayStart + 1;
                            }
                        }
                    },
                    { "data": "DEPARTMENT_NAME", "name": "DEPARTMENT_NAME" },
                    { "data": "YEAR_LABEL", "name": "YEAR_LABEL" },
                    { "data": "AUDIT_TYPE_NAME", "name": "AUDIT_TYPE_NAME" },
                    { "data": "TOPIC_TYPE_NAME", "name": "TOPIC_TYPE_NAME" },
                    { "data": "TOPIC_CODE", "name": "TOPIC_CODE" },
                    { "data": "TOPIC_NAME", "name": "TOPIC_NAME" },
                    { "data": "ORDER_DATE", "name": "ORDER_DATE" },
                    { "data": "ORDER_NO", "name": "ORDER_NO" },
                    { "data": "BUDGET_TYPE_NAME", "name": "BUDGET_TYPE_NAME" },
                    { "data": "REFERENCE_DESC", "name": "REFERENCE_DESC" },
                    { "data": "VIOLATION_NAME", "name": "VIOLATION_NAME" },
                    { "data": "REFERENCE_COUNT", "name": "REFERENCE_COUNT", "class": "text-right" },
                    { "data": "REFERENCE_AMOUNT", "name": "REFERENCE_AMOUNT", "class": "text-right" },
                    { "data": "REFERENCE_SUBMITTED_DATE", "name": "REFERENCE_SUBMITTED_DATE" },
                    { "data": "REFERENCE_DELIVERY_DATE", "name": "REFERENCE_DELIVERY_DATE" },
                    { "data": "REFERENCE_RCV_NAME", "name": "REFERENCE_RCV_NAME" },
                    { "data": "REFERENCE_RCV_ROLE", "name": "REFERENCE_RCV_ROLE" },
                    { "data": "REFERENCE_RCV_GIVEN_NAME", "name": "REFERENCE_RCV_GIVEN_NAME" },
                    { "data": "REFERENCE_RCV_PHONE", "name": "REFERENCE_RCV_PHONE" },
                    { "data": "REFERENCE_RCV_ADDRESS", "name": "REFERENCE_RCV_ADDRESS" },
                    { "data": "REFERENCE_CONTROL_AUDITOR", "name": "REFERENCE_CONTROL_AUDITOR" },
                    { "data": "COMPLETION_DATE", "name": "COMPLETION_DATE" },
                    { "data": "COMPLETION_ORDER", "name": "COMPLETION_ORDER" },
                    { "data": "COMPLETION_DONE", "name": "COMPLETION_DONE", "class": "text-right" },
                    { "data": "COMPLETION_DONE_AMOUNT", "name": "COMPLETION_DONE_AMOUNT", "class": "text-right" },
                    { "data": "COMPLETION_PROGRESS", "name": "COMPLETION_PROGRESS", "class": "text-right" },
                    { "data": "COMPLETION_PROGRESS_AMOUNT", "name": "COMPLETION_PROGRESS_AMOUNT", "class": "text-right" },
                    { "data": "C2_NONEXPIRED", "name": "C2_NONEXPIRED", "class": "text-right" },
                    { "data": "C2_NONEXPIRED_AMOUNT", "name": "C2_NONEXPIRED_AMOUNT", "class": "text-right" },
                    { "data": "C2_EXPIRED", "name": "C2_EXPIRED", "class": "text-right" },
                    { "data": "C2_EXPIRED_AMOUNT", "name": "C2_EXPIRED_AMOUNT", "class": "text-right" },
                    { "data": "BENEFIT_FIN", "name": "BENEFIT_FIN", "class": "text-right" },
                    { "data": "BENEFIT_FIN_AMOUNT", "name": "BENEFIT_FIN_AMOUNT", "class": "text-right" },
                    { "data": "BENEFIT_NONFIN", "name": "BENEFIT_NONFIN", "class": "text-right" },
                ],
                columnDefs: [
                    { width: 100, targets: 4 },
                    { width: 200, targets: 6 },
                    { width: 100, targets: 9 },
                    { width: 300, targets: 10 },

                ],
                scrollX: true,
                scrollCollapse: true,
                autoWidth: true,
                "destroy": true,
                "paging": true,
                "pageLength": pagelength,
                "lengthMenu": [[10, 25, 50], [10, 25, 50]],
                "filter": true,
                "info": true,
                "stateSave": false,
                lengthChange: true,
                "language": datatables.language,
                "drawCallback": function () {
                    rowselected();
                }
            });

        }
        function Choose(id, department, year, audittype, topictype, code, name, orderno, orderdate, budgettype) {
            $("#Bm3Modal #AUDIT_ID").val(id);
            $("#Bm3Modal #DEPARTMENT_NAME").val(department);
            $("#Bm3Modal #YEAR_LABEL").val(year);
            $("#Bm3Modal #AUDIT_TYPE_NAME").val(audittype);
            $("#Bm3Modal #TOPIC_TYPE_NAME").val(topictype);
            $("#Bm3Modal #TOPIC_CODE").val(code);
            $("#Bm3Modal #TOPIC_NAME").val(name);
            $("#Bm3Modal #ORDER_NO").val(orderno);
            $("#Bm3Modal #ORDER_DATE").val(orderdate);
            $("#Bm3Modal #BUDGET_TYPE_NAME").val(budgettype);

            $('#BM0ListModel').modal('hide');
        }
        $('#DeparmentID').change(function () {
            $("#BM3 tbody tr").removeClass('row_selected');
            $("#FilterForm .enableBtn").addClass("disabled")
            BM3.bm3ID = null;
            bm3ListInit();
        });
        $('#PeriodID').change(function () {
            $("#BM3 tbody tr").removeClass('row_selected');
            $("#FilterForm .enableBtn").addClass("disabled")
            BM3.bm3ID = null;
            bm3ListInit();
        });
        var BM3 = {
            bm3ID: null,
            table: null,
            display: function (data) {
                $("div#bm3modalcontainer").remove();
                $('<div/>', { id: "bm3modalcontainer" }).appendTo('body').append(data);

                $("#Bm3Modal").modal({ show: true });
                $(".btnBM0listPopup").on('click', function () {
                    if ($('#STATISTIC_PERIOD').val() != null && $('#STATISTIC_PERIOD').val() != '')
                        BM3.BM0List($('#STATISTIC_PERIOD').val());
                    else
                        alert('Тайлант хугацаа сонгоно уу.');
                });
            },
            displayBM0List: function (data) {
                $("div#bm0listmodalcontainer").remove();
                $('<div/>', { id: "bm0listmodalcontainer" }).appendTo('body').append(data);

                $('#Bm3Modal').modal('hide');
                $('#BM0ListModel').modal({ show: true }).on('hidden.bs.modal', function (e) {
                    $('#Bm3Modal').modal('show');
                });
            },
            BM0List: function (periodid) {
                $.ajax({
                    url: '@Url.Action("BM0Search", "Statistic", new { Area = "" })',
                    type: 'GET',
                    cache: false,
                    data: { periodid},
                    success: function (data) {
                        BM3.displayBM0List(data);
                    },
                    error: errorResponse,
                    beforeSend: function () {
                        Modal.show();
                    },
                    complete: function () {
                        Modal.hide();
                    }
                });
            },
              loadTemplate: function () {
                var audit_id;
                BM3.bm3ID != null ? audit_id = BM3.bm3ID : audit_id = 0;
                $.ajax({
                    url: "@Url.Action("BM3Add", "Statistic", new { Area = "" })",
                    type: 'GET',
                    data: { id: audit_id },
                    success: function (data) {
                        BM3.display(data);
                    },
                    error: errorResponse,
                    beforeSend: function () {
                        Modal.show();
                    },
                    complete: function () {
                        Modal.hide();
                    }
                });
            },
           edit: function () {
                if (BM3.bm3ID == null)
                    alert("Бичлэг сонгоно уу");
                else {
                     var audit_id = BM3.bm3ID;
                    $.ajax({
                        url: "@Url.Action("BM3Detail", "Statistic", new { Area = "" })",
                        type: 'POST',
                        data: { id: audit_id, isbm0: false },
                        success: function (data, status, xhr) {
                            BM3.progressResponse(data, status, xhr);
                        },
                        error: errorResponse,
                        beforeSend: function () {
                            Modal.show();
                        },
                        complete: function () {
                            Modal.hide();
                        }
                    });
                }
            },
            completion: function () {
                if (BM3.bm3ID == null)
                    alert("Бичлэг сонгоно уу");
                else {
                    var id = BM3.bm3ID;
                    $.ajax({
                        url: "@Url.Action("BM3Detail", "Statistic", new { Area = "" })",
                        type: 'POST',
                        data: { id: id, isbm0: false, iscompletion: true },
                        success: function (data, status, xhr) {
                            BM3.progressResponse(data, status, xhr);
                        },
                        error: errorResponse,
                        beforeSend: function () {
                            Modal.show();
                        },
                        complete: function () {
                            Modal.hide();
                        }
                    });
                }
            },
            delete: function () {
                if (BM3.bm3ID == null)
                    alert("Бичлэг сонгоно уу");
                else {
                    
                    var id = BM3.bm3ID;
                    var user = BM3.rowdata.REFERENCE_CONTROL_AUDITOR;
                    var r = confirm(user + " аудиторын оруулсан бүртгэл байна." + "\n" + "Та устгахдаа итгэлтэй байна уу?");
                    if (r) {
                        $.ajax({
                            url: "@Url.Action("BM3Delete", "Statistic", new { Area = "" })",
                            type: 'POST',
                            data: { id },
                            success: function (data, status, xhr) {
                                BM3.progressResponse(data, status, xhr);
                            },
                            error: errorResponse,
                            beforeSend: function () {
                                Modal.show();
                            },
                            complete: function () {
                                Modal.hide();
                            }
                        });
                    }
                }
            },
            close: function () {
                $("#Bm3Modal").modal("hide");
            },
            progressResponse: function (data, status, xhr) {
                var ct = xhr.getResponseHeader("content-type") || "";
                if (ct.indexOf("html") > -1) {
                    BM3.display(data);
                }
                if (ct.indexOf('json') > -1) {
                    if (data.error) {
                        Message.error(data.message);
                    } else {
                        $('.modal-backdrop:first').remove()
                        BM3.close();
                        bm3ListInit();
                        Message.success(data.message);
                        BM3.bm3ID = null;
                        $("#FilterForm .enableBtn").addClass("disabled");
                    }
                }
            }
        }
        function exportFile(tableid, excelname,) {
            $('#exportXLSX').addClass('disabled');
            BM3.table.destroy();
            bm3ListInit(-1);

            setTimeout(function () {
                var wb = XLSX.utils.table_to_book(document.getElementById(tableid));
                XLSX.writeFile(wb, excelname + '.xlsx');

                BM3.table.destroy();
                bm3ListInit();
                $('#exportXLSX').removeClass('disabled');
            }, 5000
            )
        }
    </script>
} 