

@model Audit.Models.BM3

<div class="modal fade" id="Bm3ModalBM0" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="max-width:90%;margin: 0 auto;">
        @using (Ajax.BeginForm("BM3AddBM0", "Statistic", new { Area = "" },
                   new AjaxOptions
                   {
                       UpdateTargetId = "Bm3ModalcontainerBM0",
                       OnBegin = "Modal.show()",
                       OnComplete = "Modal.hide(); $('#Bm3ModalBM0').modal({ show: true }); $('.modal-backdrop:first').remove()",
                       OnSuccess = "BM0.progressResponse(data, status, xhr)",
                       OnFailure = "errorResponse",
                       HttpMethod = "Post",
                       InsertionMode = InsertionMode.Replace
                   },
                   new { @class = "form-horizontal", @autocomplete = "off" }))
        {
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="exampleModalLabel">БМ-3. Төрийн аудитын газрын аудитор болон багийн зөвлөмжийн бүртгэл</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color:#fff;">x</span></button>
                </div>
                <div class="modal-body">
                    <fieldset>
                        <div class="hidden text-danger error-msgs">
                            <ul></ul>
                        </div>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @*@Html.HiddenFor(m => m.ID)*@
                        @Html.HiddenFor(m => m.AUDIT_ID)
                        @Html.HiddenFor(m => m.CREATED_DATE)
                        <h6 class="heading-1"><span>Ерөнхий мэдээлэл</span></h6>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Тайлант хугацаа: <span class="required">*</span></label>
                                    <div class="col-sm-4">
                                        @Html.DropDownListFor(model => model.STATISTIC_PERIOD, Model.periods.Select(m => new SelectListItem { Text = m.PERIOD_LABEL, Value = m.ID.ToString() }).ToList(), null, htmlAttributes: new { @class = "form-control form-control-sm" })
                                    </div>
                                   
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Төрийн аудитын байгууллага: <span class="required">*</span></label>
                                    <div class="col-sm-4">
                                        @Html.TextBoxFor(m => m.DEPARTMENT_NAME, new { @class = "form-control form-control-sm", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Аудитын он: <span class="required">*</span></label>
                                    <div class="col-sm-4">
                                        @Html.TextBoxFor(m => m.YEAR_LABEL, new { @class = "form-control form-control-sm", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Аудитын төрөл: <span class="required">*</span></label>
                                    <div class="col-sm-4">
                                        @Html.TextBoxFor(m => m.AUDIT_TYPE_NAME, new { @class = "form-control form-control-sm", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Сэдвийн үндэслэл: <span class="required">*</span></label>
                                    <div class="col-sm-4">
                                        @Html.TextBoxFor(model => model.TOPIC_TYPE_NAME, new { @class = "form-control form-control-sm", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Сэдвийн код: <span class="required">*</span></label>
                                    <div class="col-sm-4">
                                        @Html.TextBoxFor(m => m.TOPIC_CODE, new { @class = "form-control form-control-sm", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Сэдвийн нэр: <span class="required">*</span></label>
                                    <div class="col-sm-4">
                                        @Html.TextAreaFor(m => m.TOPIC_NAME, new { @class = "form-control form-control-sm", @readonly = "readonly", @rows = 3 })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Батлагдсан тушаалын дугаар: <span class="required">*</span></label>
                                    <div class="col-sm-4">
                                        @Html.TextBoxFor(m => m.ORDER_NO, new { @class = "form-control form-control-sm", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Батлагдсан огноо: <span class="required">*</span></label>
                                    <div class="col-sm-4">
                                        @Html.TextBoxFor(m => m.ORDER_DATE, new { @class = "form-control form-control-sm", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Төсөв захирагч:</label>
                                    <div class="col-sm-4">
                                        @Html.TextBoxFor(m => m.BUDGET_TYPE_NAME, new { @class = "form-control form-control-sm", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h6 class="heading-1"><span>Аудитын зөвлөмжийн мэдээлэл</span></h6>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Зөвлөмжийн утга: <span class="required">*</span></label>
                                    <div class="col-sm-4">
                                        @Html.TextAreaFor(m => m.REFERENCE_DESC, new { @class = "form-control form-control-sm", @rows = 3 })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Зөвлөмж өгсөн илрүүлэлтийн ангилал: <span class="required">*</span></label>
                                    <div class="col-sm-4">
                                        @Html.DropDownListFor(model => model.REFERENCE_TYPE, Model.refviolationtypes.Select(m => new SelectListItem { Text = m.VIOLATION_NAME, Value = m.VIOLATION_ID.ToString() }).ToList(), "Сонгоно уу", htmlAttributes: new { @class = "form-control form-control-sm" })

                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Өгсөн зөвлөмжийн тоо: <span class="required">*</span></label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.REFERENCE_COUNT, new { htmlAttributes = new { @class = "form-control form-control-sm text-right", @placeholder = "0.0", @onkeypress = "return event.charCode >= 48 && event.charCode <= 57" } })
                                        @Html.ValidationMessageFor(m => m.REFERENCE_COUNT, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Өгсөн зөвлөмжийн дүн: <span class="required">*</span></label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.REFERENCE_AMOUNT, new { htmlAttributes = new { @class = "form-control form-control-sm text-right currency", @placeholder = "0.00", @onkeypress = "return event.charCode >= 48 && event.charCode <= 57" } })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Хүргүүлсэн: <span class="required">*</span></label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.REFERENCE_SUBMITTED_DATE, new { htmlAttributes = new { @class = "form-control form-control-sm datepicker" } })
                                        @Html.ValidationMessageFor(m => m.REFERENCE_SUBMITTED_DATE, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Биелэлтийг тооцох: <span class="required">*</span></label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.REFERENCE_DELIVERY_DATE, new { htmlAttributes = new { @class = "form-control form-control-sm datepicker" } })
                                        @Html.ValidationMessageFor(m => m.REFERENCE_DELIVERY_DATE, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Байгууллагын нэр: <span class="required">*</span></label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.REFERENCE_RCV_NAME, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Албан тушаал: <span class="required">*</span></label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.REFERENCE_RCV_ROLE, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Овог нэр: <span class="required">*</span></label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.REFERENCE_RCV_GIVEN_NAME, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Утас: <span class="required">*</span></label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.REFERENCE_RCV_PHONE, new { htmlAttributes = new { @class = "form-control form-control-sm", @onkeypress = "return event.charCode >= 48 && event.charCode <= 57" } })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Холбоо барих хаяг:</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.REFERENCE_RCV_ADDRESS, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    </div>
                                </div>
                            </div>
                            @*<div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Зөвлөмжийн хэрэгжилтэд хяналт тавих аудитор, шинжээчийн овог нэр, албан тушаал:</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.REFERENCE_CONTROL_AUDITOR, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    </div>
                                </div>
                            </div>*@

                        </div>

                        <hr />
                        <div style="text-align: right">
                            <button type="submit" class="btn btn-sm" style="background-color:#233772; color:#fff;">Хадгалах</button>
                            <button type="button" class="btn btn-sm btn-default bg-secondary text-white" data-dismiss="modal">Хаах</button>
                        </div>
                    </fieldset>
                </div>
            </div>
        }
    </div>
</div>
<script>
    $(document).ready(function () {
        /* $(".currency").maskMoney({ suffix: ' ' });*/
        $('.currency').formatCurrency();
        $('.currency').blur(function () {
            $('.currency').html(null);
            $(this).formatCurrency({ colorize: true, negativeFormat: '%s%n', roundToDecimalPlace: 2 });
        })
            .keyup(function (e) {
                var e = window.event || e;
                var keyUnicode = e.charCode || e.keyCode;
                if (e !== undefined) {
                    switch (keyUnicode) {
                        case 16: break; // Shift
                        case 17: break; // Ctrl
                        case 18: break; // Alt
                        case 27: this.value = ''; break; // Esc: clear entry
                        case 35: break; // End
                        case 36: break; // Home
                        case 37: break; // cursor left
                        case 38: break; // cursor up
                        case 39: break; // cursor right
                        case 40: break; // cursor down
                        case 78: break; // N (Opera 9.63+ maps the "." from the number key section to the "N" key too!) (See: http://unixpapa.com/js/key.html search for ". Del")
                        case 110: break; // . number block (Opera 9.63+ maps the "." from the number block to the "N" key (78) !!!)
                        case 190: break; // .
                        default: $(this).formatCurrency({ colorize: true, negativeFormat: '-%s%n', roundToDecimalPlace: -1, eventOnDecimalsEntered: true });
                    }
                }
            })
    });
</script>
<script>
  $( function() {
      $(".datepicker").datepicker({
          beforeShow: function () {
              setTimeout(function () {
                  $('.ui-datepicker').css('z-index', 99999999999999);
              }, 0);
          },
          changeMonth: true,
          changeYear: true,
          dateFormat: "yy.mm.dd",
          firstDay: 1,
          dayNamesMin: ["Ня", "Да", "Мя", "Лха", "Пү", "Ба", "Бя"],
          monthNamesShort: ["1-сар", "2-сар", "3-сар", "4-сар", "5-сар", "6-сар", "7-сар", "8-сар", "9-сар", "10-сар", "11-сар", "12-сар"],
          //maxDate: "+0D",
          showOn: "button",
          buttonImage: "@Url.Content("~/Images/calendar.png")",
          buttonImageOnly: true,
          buttonText: "Select date"
      });
      calculateSum1();
      calculateSum2();

      $(".amount1").on("keydown keyup", function () {
          calculateSum1();
      });
      $(".amount2").on("keydown keyup", function () {
          calculateSum2();
      });

      function calculateSum1() {
          var sum = 0;
          //iterate through each textboxes and add the values
          $(".amount1").each(function () {
              //add only if the value is number
              if (!isNaN(this.value) && this.value.length != 0) {
                  sum += parseInt(this.value);
              }
          });

          $("#COMPLETION_PROGRESS").val(sum);
      }
      function calculateSum2() {
          var sum = 0;
          //iterate through each textboxes and add the values
          $(".amount2").each(function () {
              //add only if the value is number
              if (!isNaN(this.value) && this.value.length != 0) {
                  sum += parseFloat(this.value);
              }
          });

          $("#COMPLETION_PROGRESS_AMOUNT").val(sum.toFixed(2));
      }
  });
</script>


