@using Audit.Models
@model Audit.Models.BM5VM
@{
    ViewBag.Title = "BM5";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex">
    <a href="@Url.Action("Index","Statistic")" class="btn btn-sm btn-light mr-2">
        <span class="icon text-gray-600">
            <i class="fas fa-arrow-left"></i>
        </span>
    </a>
    <h4>БМ-5. Төрийн аудитын газрын хууль хяналтын байгууллагад шилжүүлсэн асуудлын бүртгэл</h4>
</div>
<hr class="sidebar-divider">
<form method="post" id="FilterForm">
    <div class="d-flex flex-wrap mb-2">

        @if (User.GetClaimData("USER_TYPE").ToUpper() == "HEAD_AUDITOR" || User.GetClaimData("USER_TYPE").ToUpper() == "ADMIN" || User.GetClaimData("USER_TYPE").ToUpper() == "HEAD_DIRECTOR")
        {
            <div class="form-group-sm pr-2">
                <label for="DeparmentID" class="col-form-label">Алба:</label>
                @Html.DropDownListFor(model => model.DeparmentID, Model.departments.Select(m => new SelectListItem { Text = m.DEPARTMENT_NAME, Value = m.DEPARTMENT_ID.ToString() }).ToList(), "Сонгоно уу", htmlAttributes: new { @class = "form-control form-control-sm" })
            </div>
        }
        <div class="form-group-sm pr-2">
            <label for="PeriodID" class="col-form-label">Он:</label>
            @Html.DropDownListFor(model => model.PeriodID, Model.periods.Select(m => new SelectListItem { Text = m.PERIOD_LABEL, Value = m.ID.ToString() }).ToList(), null, htmlAttributes: new { @class = "form-control form-control-sm" })
        </div>
        @if (User.GetClaimData("USER_TYPE").ToUpper() == "BRANCH_REGISTER" || User.GetClaimData("USER_TYPE").ToUpper() == "BRANCH_AUDITOR" || User.GetClaimData("USER_TYPE").ToUpper() == "HAK_USER" || User.GetClaimData("USER_TYPE").ToUpper() == "ADMIN")
        {
            <div class="form-group-sm ml-auto pr-2">
                <br />
                <a href="#" class="btn btn-sm btn-secondary btn-icon-split" onclick="BM5.loadTemplate();">
                    <span class="icon text-white-50">
                        <i class="fas fa-plus"></i>
                    </span>
                    <span class="text">Шинэ бүртгэл</span>
                </a>
            </div>
            <div class="form-group-sm pr-2">
                <br />
                <a href="#" class="btn btn-sm btn-success btn-icon-split disabled enableBtn" onclick="CheckUserTypeCompletion('@User.GetClaimData("USER_TYPE")');">
                    <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                    </span>
                    <span class="text">Хэрэгжилт</span>
                </a>
            </div>
            <div class="form-group-sm pr-2">
                <br />
                <a href="#" class="btn btn-sm btn-warning btn-icon-split disabled enableBtn" onclick="CheckUserTypeEdit('@User.GetClaimData("USER_TYPE")');">
                    <span class="icon text-white-50">
                        <i class="fas fa-edit"></i>
                    </span>
                    <span class="text">Засах</span>
                </a>
            </div>
            <div class="form-group-sm pr-2">
                <br />
                <a href="#" class="btn btn-sm btn-danger btn-icon-split disabled enableBtn" onclick="CheckUserTypeDelete('@User.GetClaimData("USER_TYPE")');">
                    <span class="icon text-white-50">
                        <i class="fas fa-trash-alt"></i>
                    </span>
                    <span class="text">Устгах</span>
                </a>
            </div>
        }
        <div class="form-group-sm">
            <br />
            <a href="#" class="btn btn-sm btn-success btn-icon-split" id="exportXLSX" onclick="exportFile('BM5', 'БМ-5. Төрийн аудитын газрын хууль хяналтын байгууллагад шилжүүлсэн асуудлын бүртгэл')">
                <span class="icon text-white-50">
                    <i class="fas fa-file-excel"></i>
                </span>
                <span class="text">Excel</span>
            </a>
        </div>
    </div>
</form>
<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table id="BM5" class="table table-bordered table-hover datatable display">
                <thead>
                    <tr class="bg-light">
                        <th rowspan="3" class="text-center clickClass">№</th>
                        <th rowspan="3" class="clickClass">Төрийн аудитын байгууллага</th>
                        <th rowspan="3" class="clickClass">Аудитын он</th>
                        <th rowspan="3" class="clickClass">Аудитын төрөл</th>
                        <th rowspan="3" class="clickClass">Аудитын код</th>
                        <th rowspan="3" class="clickClass">Аудитын нэр</th>
                        <th rowspan="3" class="clickClass">Төсөв захирагч</th>
                        <th colspan="4" class="clickClass">Хууль хяналтын байгууллагад шилжүүлсэн асуудлын мэдээлэл</th>
                        <th colspan="2" rowspan="2" class="clickClass">Хууль хяналтын байгууллагад шилжүүлсэн асуудал</th>
                        <th colspan="6" class="clickClass">Хууль хяналтын байгууллагад шилжүүлсэн асуудлын хэрэгжилт</th>
                        <th colspan="2" rowspan="2" class="clickClass">Дараа онд шилжих үлдэгдэл</th>
                    </tr>
                    <tr class="bg-light">
                        <th rowspan="2" class="clickClass">Зөрчил гаргасан байгууллага, албан тушаалтны нэр</th>
                        <th rowspan="2" class="clickClass">Зөрчлийн товч утга</th>
                        <th rowspan="2" class="clickClass">Зөрчлийн ангилал</th>
                        <th rowspan="2" class="clickClass">Шилжүүлсэн байгууллага, албан бичгийн дугаар</th>
                        <th colspan="2" class="clickClass">Бүрэн шийдвэрлэгдсэн</th>
                        <th colspan="2" class="clickClass">Хянагдаж байгаа</th>
                        <th colspan="2" class="clickClass">Хэрэгсэхгүй болсон</th>
                    </tr>
                    <tr class="bg-light">
                        <th class="clickClass">Тоо</th>
                        <th class="clickClass">Дүн</th>
                        <th class="clickClass">Тоо</th>
                        <th class="clickClass">Дүн</th>
                        <th class="clickClass">Тоо</th>
                        <th class="clickClass">Дүн</th>
                        <th class="clickClass">Тоо</th>
                        <th class="clickClass">Дүн</th>
                        <th class="clickClass">Тоо</th>
                        <th class="clickClass">Дүн</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var userid = @ViewBag.UserID;
        $(document).ready(function () {
            bm5ListInit();
        });

        $(".clickClass").click(function () {
            $("#BM5 tbody tr").removeClass('row_selected');
            $("#FilterForm .enableBtn").addClass("disabled")
            BM5.bm5ID = null;
        });

        function rowselected() {
            $("#BM5 tbody tr").on('click', function (event) {
                $("#FilterForm .enableBtn").removeClass("disabled")
                $("#BM5 tbody tr").removeClass('row_selected');
                $(this).addClass('row_selected');
                BM5.bm5ID = this.getAttribute("data-id");
                BM5.rowdata = BM5.table.row(this).data();
            });
        }
        function bm5ListInit(pagelength = 10) {
            BM5.table = $("#BM5").DataTable({
                "serverSide": true,
                "processing": true,
                "ajax": {
                    url: "/api/service/bm5list",
                    type: 'POST',
                    data: function (data) {
                        data.DeparmentID = $('#DeparmentID').val();
                        data.PeriodID = $('#PeriodID').val();
                        return data;
                    }
                },
                createdRow: function (row, data, dataIndex) {
                    $(row).attr('data-id', data.ID);
                },
                "columns": [
                    {
                        "data": null, "sortable": false, "class": 'text-center',
                        render: function (data, type, row, meta) {
                            if (data.DEPARTMENT_NAME === "НИЙТ ДҮН") {
                                return "";
                            }
                            else {
                                return meta.row + meta.settings._iDisplayStart + 1;
                            }
                        }
                    },
                    { "data": "DEPARTMENT_NAME", "name": "DEPARTMENT_NAME" },
                    { "data": "YEAR_LABEL", "name": "YEAR_LABEL" },
                    { "data": "AUDIT_TYPE_NAME", "name": "AUDIT_TYPE_NAME" },
                    { "data": "TOPIC_CODE", "name": "TOPIC_CODE" },
                    { "data": "TOPIC_NAME", "name": "TOPIC_NAME" },
                    { "data": "BUDGET_TYPE_NAME", "name": "BUDGET_TYPE_NAME" },
                    //{ "data": "ORDER_DATE", "name": "ORDER_DATE" },
                    //{ "data": "ORDER_NO", "name": "ORDER_NO" },
                    { "data": "LAW_RESPONDANT_NAME", "name": "LAW_RESPONDANT_NAME" },
                    { "data": "LAW_VIOLATION_DESC", "name": "LAW_VIOLATION_DESC" },
                    { "data": "VIOLATION_NAME", "name": "VIOLATION_NAME" },
                    { "data": "LAW_MOVING_INFORMATION", "name": "LAW_MOVING_INFORMATION" },
                    { "data": "LAW_NUMBER", "name": "LAW_NUMBER", "class": "text-right" },
                    { "data": "LAW_AMOUNT", "name": "LAW_AMOUNT", "class": "text-right" },
                    { "data": "LAW_C2_NUMBER", "name": "LAW_C2_NUMBER", "class": "text-right" },
                    { "data": "LAW_C2_AMOUNT", "name": "LAW_C2_AMOUNT", "class": "text-right" },
                    { "data": "COMPLETION_DONE", "name": "COMPLETION_DONE", "class": "text-right" },
                    { "data": "COMPLETION_DONE_AMOUNT", "name": "COMPLETION_DONE_AMOUNT", "class": "text-right" },
                    { "data": "COMPLETION_PROGRESS", "name": "COMPLETION_PROGRESS", "class": "text-right" },
                    { "data": "COMPLETION_PROGRESS_AMOUNT", "name": "COMPLETION_PROGRESS_AMOUNT", "class": "text-right" },
                    { "data": "COMPLETION_INVALID", "name": "COMPLETION_INVALID", "class": "text-right" },
                    { "data": "COMPLETION_INVALID_AMOUNT", "name": "COMPLETION_INVALID_AMOUNT", "class": "text-right" },
                    //{
                    //    "data": null, "sortable": false, "class": 'text-center',
                    //    render: function (data, type, row, meta) {
                    //        var tmp = '<div class="btn-group">';
                    //        var urledit = '<a href="#" class="btn btn-sm" onclick="BM5.edit(' + data.ID + ')"><i class="fa fa-edit text-warning"></i></a>';
                    //        var urldelete = '<a href="#" class="btn btn-sm" onclick="BM5.delete(' + data.ID + ')"><i class="fa fa-trash-alt text-danger" ></i></a>';
                    //        tmp += urledit;
                    //        tmp += urldelete;
                    //        tmp += "</div>";
                    //        return tmp;
                    //    }
                    //}
                ],
                columnDefs: [
                    { width: 200, targets: 4 },
                    { width: 200, targets: 7 },
                    { width: 400, targets: 8 },
                    { width: 100, targets: 9 },

                ],
                scrollX: true,
                scrollCollapse: true,
                autoWidth: true,
                "destroy": true,
                "paging": true,
                "pageLength": pagelength,
                "lengthMenu": [[10, 25, 50], [10, 25, 50]],
                "filter": true,
                "info": true,
                "stateSave": false,
                "bAutoWidth": false,
                lengthChange: true,
                "language": datatables.language,
                "drawCallback": function () {
                    rowselected();
                }
            });

        }
        function Choose(id, department, year, audittype, topictype, code, name, orderno, orderdate, budgettype) {
            $("#Bm5Modal #AUDIT_ID").val(id);
            $("#Bm5Modal #DEPARTMENT_NAME").val(department);
            $("#Bm5Modal #YEAR_LABEL").val(year);
            $("#Bm5Modal #AUDIT_TYPE_NAME").val(audittype);
            $("#Bm5Modal #TOPIC_TYPE_NAME").val(topictype);
            $("#Bm5Modal #TOPIC_CODE").val(code);
            $("#Bm5Modal #TOPIC_NAME").val(name);
            $("#Bm5Modal #ORDER_NO").val(orderno);
            $("#Bm5Modal #ORDER_DATE").val(orderdate);
            $("#Bm5Modal #BUDGET_TYPE_NAME").val(budgettype);

            $('#BM0ListModel').modal('hide');
        }
        function CheckUserTypeEdit(userType) {
            if (userType == 'BRANCH_AUDITOR' || userType == 'HAK_USER') {
                if (BM5.bm5ID == null) {
                    alert("Бичлэг сонгоно уу");
                }
                else {
                    var creat_by = BM5.rowdata.CREATED_BY;
                    var update_by = BM5.rowdata.UPDATED_BY;
                    if (creat_by == userid) {
                        BM5.edit();
                    } else {
                        alert("Уучлаарай таны эрх энэ бүртгэлийг засхад хүрэхгүй байна!");
                    }

                }
            }
            if (userType == 'BRANCH_REGISTER' || userType == 'Admin') {
                BM5.edit();
            }
        }
        function CheckUserTypeCompletion(userType) {
            if (userType == 'BRANCH_AUDITOR' || userType == 'HAK_USER') {
                if (BM5.bm5ID == null) {
                    alert("Бичлэг сонгоно уу");
                }
                else {
                    var creat_by = BM5.rowdata.CREATED_BY;
                    var update_by = BM5.rowdata.UPDATED_BY;
                    if (creat_by == userid) {
                        BM5.completion();
                    } else {
                        alert("Уучлаарай таны эрх энэ бүртгэлийг засхад хүрэхгүй байна!");
                    }

                }
            }
            if (userType == 'BRANCH_REGISTER' || userType == 'Admin') {
                BM5.completion();
            }
        }
        function CheckUserTypeDelete(userType) {
            if (userType == 'BRANCH_AUDITOR' || userType == 'HAK_USER' || userType == 'BRANCH_REGISTER' || userType == 'Admin') {
                if (BM5.bm5ID == null) {
                    alert("Бичлэг сонгоно уу");
                }
                else {
                    var creat_by = BM5.rowdata.CREATED_BY;
                    var update_by = BM5.rowdata.UPDATED_BY;
                    if (creat_by == userid) {
                        BM5.delete();
                    } else {
                        alert("Уучлаарай таны эрх энэ бүртгэлийг устгахад хүрэхгүй байна!");
                    }

                }
            }
            else {
                alert("Уучлаарай таны эрх энэ бүртгэлийг устгахад хүрэхгүй байна!");
            }
        }
        $('#DeparmentID').change(function () {
            $("#BM5 tbody tr").removeClass('row_selected');
            $("#FilterForm .enableBtn").addClass("disabled")
            BM5.bm5ID = null;
            bm5ListInit();
        });
        $('#PeriodID').change(function () {
            $("#BM5 tbody tr").removeClass('row_selected');
            $("#FilterForm .enableBtn").addClass("disabled")
            BM5.bm5ID = null;
            bm5ListInit();
        });
        var BM5 = {
            bm5ID: null,
            table: null,
            display: function (data) {
                $("div#bm5modalcontainer").remove();
                $('<div/>', { id: "bm5modalcontainer" }).appendTo('body').append(data);

                $("#Bm5Modal").modal({ show: true });
                $(".btnBM0listPopup").on('click', function () {
                    if ($('#STATISTIC_PERIOD').val() != null && $('#STATISTIC_PERIOD').val() != '')
                        BM5.BM0List($('#STATISTIC_PERIOD').val());
                    else
                        alert('Тайлант хугацаа сонгоно уу.');
                });
            },
            displayBM0List: function (data) {
                $("div#bm0listmodalcontainer").remove();
                $('<div/>', { id: "bm0listmodalcontainer" }).appendTo('body').append(data);

                $('#Bm5Modal').modal('hide');
                $('#BM0ListModel').modal({ show: true }).on('hidden.bs.modal', function (e) {
                    $('#Bm5Modal').modal('show');
                });
            },
            BM0List: function (periodid) {
                $.ajax({
                    url: '@Url.Action("BM0Search", "Statistic", new { Area = "" })',
                    type: 'GET',
                    cache: false,
                    data: { periodid},
                    success: function (data) {
                        BM5.displayBM0List(data);
                    },
                    error: errorResponse,
                    beforeSend: function () {
                        Modal.show();
                    },
                    complete: function () {
                        Modal.hide();
                    }
                });
            },
            loadTemplate: function () {
                var audit_id;
                BM5.bm5ID != null ? audit_id = BM5.bm5ID : audit_id = 0;
                $.ajax({
                    url: "@Url.Action("BM5Add", "Statistic", new { Area = "" })",
                    type: 'GET',
                    data: { id: audit_id },
                    success: function (data) {
                        BM5.display(data);
                    },
                    error: errorResponse,
                    beforeSend: function () {
                        Modal.show();
                    },
                    complete: function () {
                        Modal.hide();
                    }
                });
            },
            completion: function () {
                if (BM5.bm5ID == null)
                    alert("Бичлэг сонгоно уу");
                else {
                    var id = BM5.bm5ID;
                    $.ajax({
                        url: "@Url.Action("BM5Detail", "Statistic", new { Area = "" })",
                        type: 'POST',
                        data: { id: id, isbm0: false, iscompletion: true },
                        success: function (data, status, xhr) {
                            BM5.progressResponse(data, status, xhr);
                        },
                        error: errorResponse,
                        beforeSend: function () {
                            Modal.show();
                        },
                        complete: function () {
                            Modal.hide();
                        }
                    });
                }
            },
            edit: function () {
                if (BM5.bm5ID == null)
                    alert("Бичлэг сонгоно уу");
                else {
                     var audit_id = BM5.bm5ID;
                    $.ajax({
                        url: "@Url.Action("BM5Detail", "Statistic", new { Area = "" })",
                        type: 'POST',
                        data: { id: audit_id, isbm0: false },
                        success: function (data, status, xhr) {
                            BM5.progressResponse(data, status, xhr);
                        },
                        error: errorResponse,
                        beforeSend: function () {
                            Modal.show();
                        },
                        complete: function () {
                            Modal.hide();
                        }
                    });
                }
            },
            delete: function (id) {
                if (BM5.bm5ID == null)
                    alert("Бичлэг сонгоно уу");
                else {
                    var id = BM5.bm5ID;
                    var r = confirm("Устгах уу!");
                    if (r) {
                        $.ajax({
                            url: "@Url.Action("BM5Delete", "Statistic", new { Area = "" })",
                            type: 'POST',
                            data: { id },
                            success: function (data, status, xhr) {
                                BM5.progressResponse(data, status, xhr);
                            },
                            error: errorResponse,
                            beforeSend: function () {
                                Modal.show();
                            },
                            complete: function () {
                                Modal.hide();
                            }
                        });
                    }
                }
            },
            close: function () {
                $("#Bm5Modal").modal("hide");
            },
            progressResponse: function (data, status, xhr) {
                var ct = xhr.getResponseHeader("content-type") || "";
                if (ct.indexOf("html") > -1) {
                    BM5.display(data);
                }
                if (ct.indexOf('json') > -1) {
                    if (data.error) {
                        Message.error(data.message);
                    } else {
                        $('.modal-backdrop:first').remove()
                        BM5.close();
                        bm5ListInit();
                        Message.success(data.message);
                        BM5.bm5ID = null;
                        $("#FilterForm .enableBtn").addClass("disabled");
                    }
                }
            }
        }
        function exportFile(tableid, excelname,) {
            $('#exportXLSX').addClass('disabled');
            BM5.table.destroy();
            bm5ListInit(-1);

            setTimeout(function () {
                var wb = XLSX.utils.table_to_book(document.getElementById(tableid));
                XLSX.writeFile(wb, excelname + '.xlsx');

                BM5.table.destroy();
                bm5ListInit();
                $('#exportXLSX').removeClass('disabled');
            }, 5000
            )
        }
    </script>
}
