@model Audit.Models.BM5

<div class="modal fade" id="Bm5Modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="max-width:90%;margin: 0 auto;">
        @using (Ajax.BeginForm("BM5AddEditCompletion", "Statistic", new { Area = "" },
                   new AjaxOptions
                   {
                       UpdateTargetId = "Bm5Modalcontainer",
                       OnBegin = "Modal.show()",
                       OnComplete = "Modal.hide(); $('#Bm5Modal').modal({ show: true }); $('.modal-backdrop:first').remove()",
                       OnSuccess = "BM5.progressResponse(data, status, xhr)",
                       OnFailure = "errorResponse",
                       HttpMethod = "Post",
                       InsertionMode = InsertionMode.Replace
                   },
                   new { @class = "form-horizontal", @autocomplete = "off" }))
        {
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="exampleModalLabel">БМ-5. Төрийн аудитын газрын хууль хяналтын байгууллагад шилжүүлсэн асуудлын бүртгэл</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color:#fff;">x</span></button>
                </div>
                <div class="modal-body">
                    <fieldset>
                        <div class="hidden text-danger error-msgs">
                            <ul></ul>
                        </div>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(m => m.ID)
                        @Html.HiddenFor(m => m.AUDIT_ID)
                        @Html.HiddenFor(m => m.CREATED_DATE)
                        @Html.HiddenFor(m => m.NOW_CREATED_DATE)
                        <h6 class="heading-1"><span>Хууль хяналтын байгууллагад шилжүүлсэн дүн </span></h6>
                        <div class="row">
                            <div class="col-12">
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Тоо:</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.LAW_NUMBER, new { htmlAttributes = new { @class = "form-control form-control-sm text-right amount2", @placeholder = "0", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(m => m.LAW_NUMBER, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Дүн:</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.LAW_AMOUNT, new { htmlAttributes = new { @class = "form-control form-control-sm text-right currency amount1", @placeholder = "0.00", @readonly = "readonly", @onkeypress = "return validateFloatKeyPress(this, event)" } })
                                        @Html.ValidationMessageFor(m => m.LAW_AMOUNT, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h6 class="heading-1">
                            <span>Хууль хяналтын байгууллагад шилжүүлсэн асуудлын хэрэгжилт</span>
                            @*<a href="#" type="button" onclick="hiddenFuncion(1)" class="close btn btn-sm btn-success btn-icon-split buttonGreen" id="Button_Completion">Хэрэгжилт нэмж бүртгэх</a>
                            <a href="#" type="button" onclick="hiddenFuncion(2)" class="close btn btn-sm btn-default bg-secondary text-white" id="2Button_Completion">Буцах</a>*@
                        </h6>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Бүрэн шийдвэрлэгдсэн тоо:</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.COMPLETION_DONE, new { htmlAttributes = new { @class = "form-control form-control-sm text-right amount2", @placeholder = "0" } })
                                        @Html.ValidationMessageFor(m => m.COMPLETION_DONE, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-sm-4 completionShow hiddenCompletion">
                                        @*@Html.EditorFor(m => m.COMPLETION_DONE, new { htmlAttributes = new { @class = "form-control form-control-sm text-right text-danger", @placeholder = "0" } })*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Бүрэн шийдвэрлэгдсэн дүн:</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.COMPLETION_DONE_AMOUNT, new { htmlAttributes = new { @class = "form-control form-control-sm text-right currency amount1", @placeholder = "0.00" , @onkeypress = "return validateFloatKeyPress(this, event)" } })
                                        @Html.ValidationMessageFor(m => m.COMPLETION_DONE_AMOUNT, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-sm-4 completionShow hiddenCompletion">
                                        @*@Html.EditorFor(m => m.COMPLETION_DONE_AMOUNT, new { htmlAttributes = new { @class = "form-control form-control-sm text-right currency text-danger", @placeholder = "0.00" ,@onkeypress = "return validateFloatKeyPress(this, event)"} })*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Хянагдаж байгаа тоо:</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.COMPLETION_PROGRESS, new { htmlAttributes = new { @class = "form-control form-control-sm text-right", @placeholder = "0", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(m => m.COMPLETION_PROGRESS, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-sm-4 completionShow hiddenCompletion">
                                        @*@Html.EditorFor(m => m.COMPLETION_DONE_AMOUNT, new { htmlAttributes = new { @class = "form-control form-control-sm text-right text-danger", @placeholder = "0", @readonly = "readonly" } })*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Хянагдаж байгаа дүн:</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.COMPLETION_PROGRESS_AMOUNT, new { htmlAttributes = new { @class = "form-control form-control-sm text-right", @placeholder = "0.00", @readonly = "readonly", @onkeypress = "return validateFloatKeyPress(this, event)" } })
                                        @Html.ValidationMessageFor(m => m.COMPLETION_PROGRESS_AMOUNT, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-sm-4 completionShow hiddenCompletion">
                                        @*@Html.EditorFor(m => m.COMPLETION_DONE_AMOUNT, new { htmlAttributes = new { @class = "form-control form-control-sm text-right text-danger", @placeholder = "0.00", @readonly = "readonly",@onkeypress = "return validateFloatKeyPress(this, event)" } })*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Хэрэгсэхгүй болсон тоо:</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.COMPLETION_INVALID, new { htmlAttributes = new { @class = "form-control form-control-sm text-right amount2", @placeholder = "0" } })
                                        @Html.ValidationMessageFor(m => m.COMPLETION_INVALID, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-sm-4 completionShow hiddenCompletion">
                                        @*@Html.EditorFor(m => m.COMPLETION_DONE_AMOUNT, new { htmlAttributes = new { @class = "form-control form-control-sm text-right text-danger", @placeholder = "0" } })*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Хэрэгсэхгүй болсон дүн:</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.COMPLETION_INVALID_AMOUNT, new { htmlAttributes = new { @class = "form-control form-control-sm text-right currency amount1", @placeholder = "0.00" , @onkeypress = "return validateFloatKeyPress(this, event)" } })
                                        @Html.ValidationMessageFor(m => m.COMPLETION_INVALID_AMOUNT, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-sm-4 completionShow hiddenCompletion">
                                        @*@Html.EditorFor(m => m.COMPLETION_DONE_AMOUNT, new { htmlAttributes = new { @class = "form-control form-control-sm text-right currency text-danger", @placeholder = "0.00" ,@onkeypress = "return validateFloatKeyPress(this, event)"} })*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h6 class="heading-1"><span>Дараа онд шилжих үлдэгдэл</span></h6>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Тоо:</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.LAW_C2_NUMBER, new { htmlAttributes = new { @class = "form-control form-control-sm text-right text-danger", @placeholder = "0", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(m => m.LAW_C2_NUMBER, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Дүн:</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.LAW_C2_AMOUNT, new { htmlAttributes = new { @class = "form-control form-control-sm text-right text-danger", @placeholder = "0.00", @readonly = "readonly", @onkeypress = "return validateFloatKeyPress(this, event)" } })
                                        @Html.ValidationMessageFor(m => m.LAW_C2_AMOUNT, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div style="text-align: right">
                            <button type="submit" class="btn btn-sm" style="background-color:#233772; color:#fff;">Хадгалах</button>
                            <button type="button" class="btn btn-sm btn-default bg-secondary text-white" data-dismiss="modal">Хаах</button>
                        </div>
                    </fieldset>
                </div>
            </div>
        }
    </div>
</div>
<script>
    $(document).ready(function () {
        /* $(".currency").maskMoney({ suffix: ' ' });*/
        $('.currency').formatCurrency();
        $('.currency').blur(function () {
            $('.currency').html(null);
            $(this).formatCurrency({ colorize: true, negativeFormat: '%s%n', roundToDecimalPlace: 2 });
        })
            .keyup(function (e) {
                var e = window.event || e;
                var keyUnicode = e.charCode || e.keyCode;
                if (e !== undefined) {
                    switch (keyUnicode) {
                        case 16: break; // Shift
                        case 17: break; // Ctrl
                        case 18: break; // Alt
                        case 27: this.value = ''; break; // Esc: clear entry
                        case 35: break; // End
                        case 36: break; // Home
                        case 37: break; // cursor left
                        case 38: break; // cursor up
                        case 39: break; // cursor right
                        case 40: break; // cursor down
                        case 78: break; // N (Opera 9.63+ maps the "." from the number key section to the "N" key too!) (See: http://unixpapa.com/js/key.html search for ". Del")
                        case 110: break; // . number block (Opera 9.63+ maps the "." from the number block to the "N" key (78) !!!)
                        case 190: break; // .
                        default: $(this).formatCurrency({ colorize: true, negativeFormat: '-%s%n', roundToDecimalPlace: -1, eventOnDecimalsEntered: true });
                    }
                }
            })
    });
</script>
<script>
    //document.getElementById("2Button_Completion").style.display = "none";
  $( function() {
      $(".datepicker").datepicker({
          beforeShow: function () {
              setTimeout(function () {
                  $('.ui-datepicker').css('z-index', 99999999999999);
              }, 0);
          },
          changeMonth: true,
          changeYear: true,
          dateFormat: "yy.mm.dd",
          firstDay: 1,
          dayNamesMin: ["Ня", "Да", "Мя", "Лха", "Пү", "Ба", "Бя"],
          monthNamesShort: ["1-сар", "2-сар", "3-сар", "4-сар", "5-сар", "6-сар", "7-сар", "8-сар", "9-сар", "10-сар", "11-сар", "12-сар"],
          //maxDate: "+0D",
          showOn: "button",
          buttonImage: "@Url.Content("~/Images/calendar.png")",
          buttonImageOnly: true,
          buttonText: "Select date"
      });
      calculateSum1();
      calculateSum2();



      $(".amount1").on("keydown keyup", function () {
          calculateSum1();
      });
      $(".amount2").on("keydown keyup", function () {
          calculateSum2();
      });
      $(".amount2").on("change", function () {
          calculateSum2();
      });
      function calculateSum1() {
          var value2 = $("#COMPLETION_INVALID_AMOUNT").val();
          var value3 = $("#COMPLETION_DONE_AMOUNT").val();
          var value4 = $("#LAW_AMOUNT").val();

          var res2 = value2.replace(/,/g, '');
          var res3 = value3.replace(/,/g, '');
          var res4 = value4.replace(/,/g, '');
          var total = 0;
          //$(".amount1").each(function () {
          //    if (!isNaN(this.value) && this.value.length != 0) {
          //        total = parseFloat(res4 - res3 - res2);
          //    }
          //});
          total = parseFloat(res4 - res3 - res2);
          if (isNaN(total)) {
              total = 0;
          }
          $("#COMPLETION_PROGRESS_AMOUNT").val(total).formatCurrency();
          $("#LAW_C2_AMOUNT").val(total).formatCurrency();

      }

      function calculateSum2() {
          var value5 = $("#COMPLETION_INVALID").val();
          var value6 = $("#COMPLETION_DONE").val();
          var value7 = $("#LAW_NUMBER").val();
          var total = 0;
          $(".amount2").each(function () {
              if (!isNaN(this.value) && this.value.length != 0) {
                  total = parseFloat(value7 - value6 - value5);
              }
          });
          if (isNaN(total)) {
              total = 0;
          }
          $("#COMPLETION_PROGRESS").val(total);
          $("#LAW_C2_NUMBER").val(total);

      }
  });
    function hiddenFuncion(type) {
        if (type == 1) {

            document.getElementById("Button_Completion").style.display = "none";
            document.getElementById("2Button_Completion").style.display = "block";
            $(".completionShow").removeClass("hiddenCompletion");

        }
        if (type == 2) {
            if ($("#COMPLETION_DONE").val() != "" || $("#COMPLETION_DONE").val() != "") {
                alert("Та биелэлт нэмж бүртгэсэн байна!")
            }
            else {
                document.getElementById("Button_Completion").style.display = "block";
                document.getElementById("2Button_Completion").style.display = "none";
                $(".completionShow").addClass("hiddenCompletion");
            }

        }

    }
</script>