@model Audit.Models.BM5

<style>
    .modal-header {
        background-color: #233772;
        padding: 0.5rem 1rem;
    }

    .modal-title {
        text-transform: uppercase;
        color: #fff;
    }
    .tab-content {
        min-height: 500px;
    }
    .close {
        font-weight: normal;
        text-shadow: none;
        opacity: inherit;
    }

    .col-form-label {
        padding-top: 0;
        padding-bottom: 0;
    }

    .form-group {
        margin-bottom: 0.5rem;
    }

    .field-validation-error {
        font-size: 12px;
    }

    .modal-body h6 {
        text-transform: uppercase;
        color: #233772;
    }

    label {
        font-size: 12px !important;
    }
    div.ui-datepicker {
        font-size: 12px;
    }
    .ui-datepicker-trigger {
        position: absolute;
        right: 15px;
        top:7px;
    }
    .nav-tabs {
        background-color: white;
        height: auto;
        width: 100%;
    }
        .nav-tabs .nav-item {
            background-color: #e7e7e5;
            border-top-right-radius: 7px;
            border-top-left-radius: 7px;
        }
            .nav-tabs .nav-item.show .nav-item, .nav-tabs .nav-link.active {
                background-color: #e7e7e5;
                border: none !important;
                border-top-right-radius: 7px;
                border-top-left-radius: 7px;
                color: #1b508a;
            }
        .nav-tabs .nav-link {
            border: none;
            color: #1b508a;
            font-weight: bold;
            font-size: small;
            padding: 4px 20px;
            height: auto;
            align-self: center;
            border-color: white;
            border-style: solid;
            border-width: 3.5px;
            border-top: none;
        }
</style>
<div class="modal fade" id="Bm5Modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="max-width:90%;margin: 0 auto;">
        @using (Ajax.BeginForm("BM5AddEdit", "Statistic", new { Area = "" },
                   new AjaxOptions
                   {
                       UpdateTargetId = "Bm5Modalcontainer",
                       OnBegin = "Modal.show()",
                       OnComplete = "Modal.hide(); $('#Bm5Modal').modal({ show: true }); $('.modal-backdrop:first').remove()",
                       OnSuccess = "BM5.progressResponse(data, status, xhr)",
                       OnFailure = "errorResponse",
                       HttpMethod = "Post",
                       InsertionMode = InsertionMode.Replace
                   },
                   new { @class = "form-horizontal", @autocomplete = "off" }))
        {
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="exampleModalLabel">BM5 бүртгэл</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color:#fff;">x</span></button>
                </div>
                <div class="modal-body">
                    <fieldset>
                        <div class="hidden text-danger error-msgs">
                            <ul></ul>
                        </div>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(m => m.ID)
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Төрийн аудитын байгууллага:</label>
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(model => model.OFFICE_ID, Model.departments.Select(m => new SelectListItem { Text = m.DEPARTMENT_NAME, Value = m.DEPARTMENT_ID.ToString() }).ToList(), "Сонгоно уу", htmlAttributes: new { @class = "form-control form-control-sm" })
                                    @Html.ValidationMessageFor(m => m.OFFICE_ID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Он:</label>
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(model => model.STATISTIC_PERIOD, Model.periods.Select(m => new SelectListItem { Text = m.PERIOD_LABEL, Value = m.ID.ToString() }).ToList(), null, htmlAttributes: new { @class = "form-control form-control-sm" })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">BM0:</label>
                                <div class="col-sm-8">
                                    <div class="input-group input-group-sm">
                                        @Html.EditorFor(m => m.AUDIT_ID, new { htmlAttributes = new { @class = "form-control form-control-sm", @readonly = "readonly" } })
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-sm btn-outline-secondary btnBM0listPopup">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                                                    <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Аудитын он:</label>
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(model => model.AUDIT_YEAR, Model.refaudityears.Select(m => new SelectListItem { Text = m.YEAR_LABEL, Value = m.YEAR_ID.ToString() }).ToList(), null, htmlAttributes: new { @class = "form-control form-control-sm" })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Аудитын төрөл:</label>
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(model => model.AUDIT_TYPE, Model.audittypes.Select(m => new SelectListItem { Text = m.AUDIT_TYPE_NAME, Value = m.AUDIT_TYPE_ID.ToString() }).ToList(), "Сонгоно уу", htmlAttributes: new { @class = "form-control form-control-sm", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(m => m.AUDIT_TYPE, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Аудитын код:</label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(m => m.AUDIT_CODE, new { htmlAttributes = new { @class = "form-control form-control-sm", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(m => m.AUDIT_CODE, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Аудитын нэр:</label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(m => m.AUDIT_NAME, new { htmlAttributes = new { @class = "form-control form-control-sm", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(m => m.AUDIT_NAME, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Төсөв захирагч / Сэдвийн ангилал:</label>
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(model => model.AUDIT_BUDGET_TYPE, Model.refbudgettypes.Select(m => new SelectListItem { Text = m.BUDGET_TYPE_NAME, Value = m.BUDGET_TYPE_ID.ToString() }).ToList(), null, htmlAttributes: new { @class = "form-control form-control-sm" })
                                    @Html.ValidationMessageFor(m => m.AUDIT_BUDGET_TYPE, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Зөрчил гаргасан байгууллага, албан тушаалтны нэр:</label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(m => m.LAW_RESPONDANT_NAME, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(m => m.LAW_RESPONDANT_NAME, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Зөрчлийн товч утга:</label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(m => m.LAW_VIOLATION_DESC, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(m => m.LAW_VIOLATION_DESC, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Зөрчлийн ангилал:</label>
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(model => model.LAW_VIOLATION_TYPE, Model.refviolationtypes.Select(m => new SelectListItem { Text = m.VIOLATION_NAME, Value = m.VIOLATION_ID.ToString() }).ToList(), null, htmlAttributes: new { @class = "form-control form-control-sm" })

                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Шилжүүлсэн Байгууллага:</label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(m => m.LAW_MOVING_INFORMATION, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Тоо:</label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(m => m.LAW_NUMBER, new { htmlAttributes = new { @class = "form-control form-control-sm text-right" } })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Дүн:</label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(m => m.LAW_AMOUNT, new { htmlAttributes = new { @class = "form-control form-control-sm text-right" } })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Бүрэн шийдвэрлэгдсэн Тоо:</label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(m => m.COMPLETION_DONE, new { htmlAttributes = new { @class = "form-control form-control-sm text-right" } })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Бүрэн шийдвэрлэгдсэн Дүн:</label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(m => m.COMPLETION_DONE_AMOUNT, new { htmlAttributes = new { @class = "form-control form-control-sm text-right" } })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Хянагдаж байгаа Тоо:</label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(m => m.COMPLETION_PROGRESS, new { htmlAttributes = new { @class = "form-control form-control-sm text-right" } })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Хянагдаж байгаа Дүн:</label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(m => m.COMPLETION_PROGRESS_AMOUNT, new { htmlAttributes = new { @class = "form-control form-control-sm text-right" } })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Хэрэгсэхгүй болсон Тоо:</label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(m => m.COMPLETION_INVALID, new { htmlAttributes = new { @class = "form-control form-control-sm text-right" } })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Хэрэгсэхгүй болсон Дүн:</label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(m => m.COMPLETION_INVALID_AMOUNT, new { htmlAttributes = new { @class = "form-control form-control-sm text-right" } })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Дараа онд шилжих үлдэгдэл Тоо:</label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(m => m.LAW_C2_NUMBER, new { htmlAttributes = new { @class = "form-control form-control-sm text-right" } })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Дараа онд шилжих үлдэгдэл Дүн:</label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(m => m.LAW_C2_AMOUNT, new { htmlAttributes = new { @class = "form-control form-control-sm text-right" } })
                                </div>
                            </div>
                        </div>
                    </div>
                        <hr />
                        <div style="text-align: right">
                            <button type="submit" class="btn btn-sm" style="background-color:#233772; color:#fff;">Хадгалах</button>
                            <button type="button" class="btn btn-sm btn-default bg-secondary text-white" data-dismiss="modal">Хаах</button>
                        </div>
                    </fieldset>
                </div>
            </div>
        }
    </div>
</div>
<script>
  $( function() {
      $(".datepicker").datepicker({
          beforeShow: function () {
              setTimeout(function () {
                  $('.ui-datepicker').css('z-index', 99999999999999);
              }, 0);
          },
          changeMonth: true,
          changeYear: true,
          dateFormat: "yy/mm/dd",
          firstDay: 1,
          dayNamesMin: ["Ня", "Да", "Мя", "Лха", "Пү", "Ба", "Бя"],
          monthNamesShort: ["1-сар", "2-сар", "3-сар", "4-сар", "5-сар", "6-сар", "7-сар", "8-сар", "9-сар", "10-сар", "11-сар", "12-сар"],
          maxDate: "+0D",
          showOn: "button",
          buttonImage: "@Url.Content("~/Images/calendar.png")",
          buttonImageOnly: true,
          buttonText: "Select date"
      });
  });
</script>