@model System.Xml.Linq.XElement
@{
    ViewBag.Title = "BM8";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int counter = 0;
}

<div class="d-flex">
    <a href="@Url.Action("Index","Statistic")" class="btn btn-sm btn-light mr-2">
        <span class="icon text-gray-600">
            <i class="fas fa-arrow-left"></i>
        </span>
    </a>
    <h4>БМ-8. Төрийн аудитын газрын аудитор болон багийн залруулсан алдааны бүртгэл</h4>
    <div class="ml-auto pr-2">
        <a href="#" class="btn btn-sm btn-success btn-icon-split" onclick="exportFile('BM8', 'БМ-8. Төрийн аудитын газрын аудитор болон багийн залруулсан алдааны бүртгэл')">
            <span class="icon text-white-50">
                <i class="fas fa-file-excel"></i>
            </span>
            <span class="text">Excel</span>
        </a>
    </div>
</div>
<hr class="sidebar-divider">
<div class="table-responsive">
    <table id="BM8" class="table table-bordered datatable display" style="width:100%">
        <thead>
            <tr>
                <th rowspan="2" class="text-center">№</th>
                <th rowspan="2">Төрийн аудитын байгууллага</th>
                <th rowspan="2">Он</th>
                <th rowspan="2">Аудитын төрөл</th>
                <th rowspan="2">Аудитын код</th>
                <th rowspan="2">Аудитын нэр</th>
                <th rowspan="2">Төсөв захирагч</th>
                <th colspan="4">Залруулсан алдаа</th>
            </tr>
            <tr>
                <th>Алдааны утга</th>
                <th>Алдааны ангилал</th>
                <th>Тоо</th>
                <th>Дүн</th>
            </tr>
        </thead>
        <tbody>
            @if (Model!=null && Model.Elements("BM8").Count() != 0)
            {
                foreach (var item in Model.Elements("BM8"))
                {
                    counter++;
            <tr>
                <td>@counter</td>
                <td>@(item.Element("OFFICE_ID") != null ? item.Element("OFFICE_ID").Value:"")</td>
                <td>@(item.Element("AUDIT_YEAR") != null ? item.Element("AUDIT_YEAR").Value:"")</td>
                <td>@(item.Element("AUDIT_TYPE") != null ? item.Element("AUDIT_TYPE").Value:"")</td>
                <td>@(item.Element("AUDIT_CODE") != null ? item.Element("AUDIT_CODE").Value:"")</td>
                <td>@(item.Element("AUDIT_NAME") != null ? item.Element("AUDIT_NAME").Value:"")</td>
                <td>@(item.Element("AUDIT_BUDGET_TYPE") != null ? item.Element("AUDIT_BUDGET_TYPE").Value:"")</td>
                <td>@(item.Element("CORRECTED_ERROR_DESC") != null ? item.Element("CORRECTED_ERROR_DESC").Value:"")</td>
                <td>@(item.Element("CORRECTED_ERROR_TYPE") != null ? item.Element("CORRECTED_ERROR_TYPE").Value:"")</td>
                <td>@(item.Element("CORRECTED_COUNT") != null ? item.Element("CORRECTED_COUNT").Value:"")</td>
                <td>@(item.Element("CORRECTED_AMOUNT") != null ? item.Element("CORRECTED_AMOUNT").Value:"")</td>
            </tr>
                }
            }
        </tbody>
    </table>
</div>

@section scripts{
    <script>
        initDataTable();
    </script>
} 