@*@model System.Xml.Linq.XElement*@
@using Audit.Models
@{
    ViewBag.Title = "BM8";
    Layout = null;
    int counter = 0;
}


<script>
    $(document).ready(function () {
        bm8ListInit();
    });

    function bm8ListInit() {
        var table = $("#BM8").DataTable({
            "serverSide": true,
            "processing": true,
            "ajax": {
                url: "/api/service/bm8list",
                type: 'POST',
                data: function (data) {
                    return data;
                }
            },
            "columns": [
                    { "data": null,"sortable": false, "class":'text-center',
                    render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                { "data": "OFFICE_ID", "name":"OFFICE_ID" },
                { "data": "AUDIT_YEAR", "name":"AUDIT_YEAR","sortable": false },
                { "data": "AUDIT_TYPE", "name":"AUDIT_TYPE" },
                { "data": "AUDIT_TYPE", "name":"AUDIT_TYPE" },
                { "data": "AUDIT_CODE", "name":"AUDIT_CODE" },
                { "data": "AUDIT_NAME", "name":"AUDIT_NAME" },
                { "data": "AUDIT_BUDGET_TYPE", "name":"AUDIT_BUDGET_TYPE" },
                { "data": "CORRECTED_ERROR_DESC", "name": "CORRECTED_ERROR_DESC" },
                { "data": "CORRECTED_ERROR_TYPE", "name": "CORRECTED_ERROR_TYPE", "sortable": false },
                { "data": "CORRECTED_COUNT", "name": "CORRECTED_COUNT", "sortable": false },
                { "data": "CORRECTED_AMOUNT", "name": "CORRECTED_AMOUNT", "sortable": false },
                    { "data": null, "sortable": false,
                        render: function (data, type, row, meta) {
                            return null;
                        }
                    },
                    { "data": null, "sortable": false,
                        render: function (data, type, row, meta) {
                            return null;
                        }
                    },
                    @*{
                        "data": null, "sortable": false, "class":'text-center',
                        render: function (data, type, row, meta) {
                            var tmp = '';
                            var url = '<a href="@Url.Action("Detail", "Horse")?horseID=' + data.EHorseID + '" class="btn btn-sm btn-custom" title="Дэлгэрэнгүй"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" /></svg></a>';
                            if ('True' == '@User.IsInRole(SystemUserRole.UserRole.DNARole)' || 'True' == '@User.IsInRole(SystemUserRole.UserRole.AllRole)')
                                tmp += url;
                            url = '<a href="#" class="btn btn-sm btn-custom" data-toggle="modal" data-target="#horseMovementAdd" data-horseid="' + data.EHorseID + '" title="Адуу шилжүүлэх"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z" /></svg></a>'
                            if ('True' == '@User.IsInRole(SystemUserRole.UserRole.MovementRole)' || 'True' == '@User.IsInRole(SystemUserRole.UserRole.AllRole)')
                                if(data.Status != @HorseWeb.Models.HorseMovementVM.HorseStatus.Movement && data.Status != @HorseWeb.Models.HorseMovementVM.HorseStatus.Dead && data.Status != @HorseWeb.Models.HorseMovementVM.HorseStatus.Food)
                                    tmp += url;
                            url = '<a href="#" class="btn btn-sm btn-custom" data-horseid="' + data.HorseID + '" data-chipno="' + data.ChipNo + '" data-toggle="modal" data-target="#horseLose" title="Хорогдол"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-dash" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" /></svg></a>';
                            if ('True' == '@User.IsInRole(SystemUserRole.UserRole.DeleteRole)' || 'True' == '@User.IsInRole(SystemUserRole.UserRole.AllRole)')
                                if (data.IsAlive)
                                    tmp += url;
                            return tmp;
                        }
                    }*@
                ],
            "destroy": true,
            "scrollCollapse": true,
            "paging": true,
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Бүгд"]],
            "filter": true,
            "info": true,
            "stateSave": false,
            "bAutoWidth": false,

            lengthChange: true,

        });

    }
</script>