@using Audit.Models
@model Audit.Models.CM1VM
@{
    ViewBag.Title = "CM1A";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="d-flex">
    <a href="@Url.Action("Index","Statistic")?type=3" class="btn btn-sm btn-light mr-2">
        <span class="icon text-gray-600">
            <i class="fas fa-arrow-left"></i>
        </span>
    </a>
    <h4>СМ-1А. Санхүүгийн тайлангийн аудитын ерөнхий мэдээлэл</h4>
</div>
<hr class="sidebar-divider">
<form method="post" id="FilterForm">
    <div class="d-flex flex-wrap mb-2">

        <div class="form-group-sm pr-2">
            <label for="DeparmentID" class="col-form-label">Алба:</label>
            @Html.DropDownListFor(model => model.DeparmentID, Model.departments.Select(m => new SelectListItem { Text = m.DEPARTMENT_NAME, Value = m.DEPARTMENT_ID.ToString() }).ToList(), "Сонгоно уу", htmlAttributes: new { @class = "form-control form-control-sm" })
        </div>
        <div class="form-group-sm pr-2">
            <label for="PeriodID" class="col-form-label">Он:</label>
            @Html.DropDownListFor(model => model.PeriodID, Model.periods.Select(m => new SelectListItem { Text = m.PERIOD_LABEL, Value = m.ID.ToString() }).ToList(), null, htmlAttributes: new { @class = "form-control form-control-sm" })
        </div>

        <div class="form-group-sm ml-auto">
            <br />
            <a href="#" class="btn btn-sm btn-success btn-icon-split" id="exportXLSX" onclick="exportFile('CM1A', 'СМ-1А. Санхүүгийн тайлангийн аудитын ерөнхий мэдээлэл')">
                <span class="icon text-white-50">
                    <i class="fas fa-file-excel"></i>
                </span>
                <span class="text">Excel</span>
            </a>
        </div>
    </div>
</form>
<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table id="CM1A" class="table table-bordered table-hover datatable display" style="width:100%">
                <thead>
                    <tr class="bg-light">
                        <th rowspan="3" class="text-center">№</th>
                        <th rowspan="3">Үзүүлэлт</th>
                        <th colspan="3">Ажилласан</th>
                        <th colspan="9">Байгууллагын тоо</th>
                        <th colspan="5">Аудитын санал дүгнэлтийн төрөл</th>
                        <th rowspan="2" colspan="2">Гэрээгээр хийлгэсэн</th>
                        <th colspan="3">Хүлээн зөвшөөрүүлсэн үр өгөөж</th>
                    </tr>
                    <tr class="bg-light">
                        <th rowspan="2">Хүн</th>
                        <th rowspan="2">Өдөр</th>
                        <th rowspan="2">Илүү цаг</th>
                        <th rowspan="2">Хамрагдвал зохих</th>
                        <th colspan="3">Төлөвлөсөн</th>
                        <th rowspan="2">Хамрагдсан</th>
                        <th colspan="4">Гүйцэтгэсэн</th>
                        <th rowspan="2">Бүгд</th>
                        <th colspan="4">Үүнээс</th>
                        <th colspan="2">Санхүүгийн</th>
                        <th rowspan="2">Санхүүгийн бус үр өгөөжийн тоо</th>
                    </tr>
                    <tr class="bg-light">
                        <th>Бие дааж дүгнэлт гаргах</th>
                        <th>Түүвэрт хамруулах</th>
                        <th>Итгэл үзүүлэх</th>
                        <th>Бие дааж дүгнэлт гаргасан</th>
                        <th>Түүвэрт хамруулсан</th>
                        <th>Итгэл үзүүлсэн</th>
                        <th>Аудит хийгдээгүй</th>
                        <th>Зөрчилгүй</th>
                        <th>Хязгаарлалттай</th>
                        <th>Сөрөг</th>
                        <th>Санал дүгнэлт өгөхөөс татгалзсан</th>
                        <th>Хараат бус аудитын компанийн тоо</th>
                        <th>Аудитын үйлчилгээний төлбөр</th>
                        <th>Тоо</th>
                        <th>Дүн</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            cm1aListInit();
        });

        function cm1aListInit(pagelength = 10) {
            var table = $("#CM1A").DataTable({
                "serverSide": true,
                "processing": true,
                "ajax": {
                    url: "/api/service/cm1list",
                    type: 'POST',
                    data: function (data) {
                        data.DeparmentID = $('#DeparmentID').val();
                        data.PeriodID = $('#PeriodID').val();
                        data.Type = 1;
                        return data;
                    }
                },
                createdRow: function (row, data, dataIndex) {
                    $(row).attr('data-id', data.ID);
                },
                "columns": [
                    {
                        "data": null, "sortable": false, "class": 'text-center',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    //{ "data": "AUDIT_TYPE", "name": "AUDIT_TYPE" },
                    //{ "data": "CATEGORY_TYPE", "name": "CATEGORY_TYPE" },
                    { "data": "IS_STATE", "name": "IS_STATE" },
                    { "data": "WORKING_PERSON", "name": "WORKING_PERSON", "class": "text-right" },
                    { "data": "WORKING_DAY", "name": "WORKING_DAY", "class": "text-right" },
                    { "data": "WORKING_ADDITION_TIME", "name": "WORKING_ADDITION_TIME", "class": "text-right" },
                    { "data": "EXECUTORY", "name": "EXECUTORY", "class": "text-right" },
                    { "data": "EXEC_DECISION", "name": "EXEC_DECISION", "class": "text-right" },
                    { "data": "EXEC_COLLECTION", "name": "EXEC_COLLECTION", "class": "text-right" },
                    { "data": "EXEC_TRUSTED", "name": "EXEC_TRUSTED", "class": "text-right" },
                    { "data": "PERFORMED", "name": "PERFORMED", "class": "text-right" },
                    { "data": "PERF_DECISION", "name": "PERF_DECISION", "class": "text-right" },
                    { "data": "PERF_COLLECTION", "name": "PERF_COLLECTION", "class": "text-right" },
                    { "data": "PERF_TRUSTED", "name": "PERF_TRUSTED", "class": "text-right" },
                    { "data": "PERF_NOT_AUDITED", "name": "PERF_NOT_AUDITED", "class": "text-right" },
                    { "data": "PROPOSAL", "name": "PROPOSAL", "class": "text-right" },
                    { "data": "PROP_UNVIOLATED", "name": "PROP_UNVIOLATED", "class": "text-right" },
                    { "data": "PROP_RESTRICTED", "name": "PROP_RESTRICTED", "class": "text-right" },
                    { "data": "PROP_NEGATIVE", "name": "PROP_NEGATIVE", "class": "text-right" },
                    { "data": "PROP_NOT", "name": "PROP_NOT", "class": "text-right" },
                    { "data": "TPA_COUNT", "name": "TPA_COUNT", "class": "text-right" },
                    { "data": "TPA_AMOUNT", "name": "TPA_AMOUNT", "class": "text-right" },
                    //{ "data": "AUDITED_INCLUDED_ORG", "name": "AUDITED_INCLUDED_ORG" },
                    { "data": "BENEFIT_FIN_COUNT", "name": "BENEFIT_FIN_COUNT", "class": "text-right" },
                    { "data": "BENEFIT_FIN_AMOUNT", "name": "BENEFIT_FIN_AMOUNT", "class": "text-right" },
                    { "data": "BENEFIT_NONFIN", "name": "BENEFIT_NONFIN", "class": "text-right" },
                    
                ],
                "destroy": true,
                "scrollCollapse": true,
                "paging": true,
                "pageLength": pagelength,
                "lengthMenu": [[10, 25, 50], [10, 25, 50]],
                "filter": true,
                "info": true,
                "stateSave": false,
                "bAutoWidth": false,
                lengthChange: true,
                "language": datatables.language
            });

        }
        $('#DeparmentID').change(function () {
            cm1aListInit();
        });
        $('#PeriodID').change(function () {
            cm1aListInit();
        });
        var CM1A = {
            cm1aID: null,
            table:null,
        display: function (data) {
            $("div#cm1amodalcontainer").remove();
            $('<div/>', { id: "cm1amodalcontainer" }).appendTo('body').append(data);

            $("#CM1AModal").modal({ show: true });
        },
        loadTemplate: function () {
            $.ajax({
                    url: "@Url.Action("CM1AAddEdit", "Statistic", new { Area = "" })",
                    type: 'GET',
                success: function (data) {
                    CM1A.display(data);
                    },
                    error: errorResponse,
                    beforeSend: function () {
                        Modal.show();
                    },
                    complete: function () {
                        Modal.hide();
                    }
                });
        },
        edit: function (id) {
            $.ajax({
                url: "@Url.Action("CM1ADetail", "Statistic", new { Area = "" })",
                type: 'POST',
                data: { id },
                success: function (data, status, xhr) {
                    CM1A.progressResponse(data, status, xhr);
                },
                error: errorResponse,
                beforeSend: function () {
                    Modal.show();
                },
                complete: function () {
                    Modal.hide();
                }
            });
        },
        delete: function (id) {
            CM1A.cm1aID = id;
            var r = confirm("Устгах уу!");
            if (r) {
                $.ajax({
                    url: "@Url.Action("CM1ADelete", "Statistic", new { Area = "" })",
                    type: 'POST',
                    data: { id },
                    success: function (data, status, xhr) {
                        CM1A.progressResponse(data, status, xhr);
                    },
                    error: errorResponse,
                    beforeSend: function () {
                        Modal.show();
                    },
                    complete: function () {
                        Modal.hide();
                    }
                });
            }
        },
        close: function () {
            $("#CM1AModal").modal("hide");
        },
        progressResponse: function (data, status, xhr) {
            var ct = xhr.getResponseHeader("content-type") || "";
            if (ct.indexOf("html") > -1) {
                CM1A.display(data);
            }
            if (ct.indexOf('json') > -1) {
                if (data.error) {
                    Message.error(data.message);
                } else {
                    $('.modal-backdrop:first').remove()
                    CM1A.close();
                    cm1aListInit();
                    Message.success(data.message);
                }
            }
        }
    }
        function exportFile(tableid, excelname,) {
            $('#exportXLSX').addClass('disabled');
            CM1A.table.destroy();
            cm1aListInit(-1);

            setTimeout(function () {
                var wb = XLSX.utils.table_to_book(document.getElementById(tableid));
                XLSX.writeFile(wb, excelname + '.xlsx');

                CM1A.table.destroy();
                cm1aListInit();
                $('#exportXLSX').removeClass('disabled');
            }, 5000
            )
        }
    </script>
}
