@using Audit.Models
@model Audit.Models.CM2VM
@{
    ViewBag.Title = "CM2B";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="d-flex">
    <a href="@Url.Action("Index","Statistic")?type=3" class="btn btn-sm btn-light mr-2">
        <span class="icon text-gray-600">
            <i class="fas fa-arrow-left"></i>
        </span>
    </a>
    <h4>СМ-2Б. Гүйцэтгэлийн аудитаар илрүүлсэн алдаа, зөрчлийн хэрэгжилт</h4>
</div>
<hr class="sidebar-divider">
<form method="post" id="FilterForm">
    <div class="d-flex flex-wrap mb-2">
        @if (User.GetClaimData("USER_TYPE").ToUpper() == "HEAD_AUDITOR" || User.GetClaimData("USER_TYPE").ToUpper() == "ADMIN" || User.GetClaimData("USER_TYPE").ToUpper() == "HEAD_DIRECTOR")
        {
            <div class="form-group-sm pr-2">
                <label for="DeparmentID" class="col-form-label">Алба:</label>
                @Html.DropDownListFor(model => model.DeparmentID, Model.departments.Select(m => new SelectListItem { Text = m.DEPARTMENT_NAME, Value = m.DEPARTMENT_ID.ToString() }).ToList(), "Сонгоно уу", htmlAttributes: new { @class = "form-control form-control-sm" })
            </div>
        }
            <div class="form-group-sm pr-2">
                <label for="PeriodID" class="col-form-label">Он:</label>
                @Html.DropDownListFor(model => model.PeriodID, Model.periods.Select(m => new SelectListItem { Text = m.PERIOD_LABEL, Value = m.ID.ToString() }).ToList(), null, htmlAttributes: new { @class = "form-control form-control-sm" })
            </div>

            <div class="form-group-sm ml-auto">
                <br />
                <a href="#" class="btn btn-sm btn-success btn-icon-split" id="exportXLSX" onclick="exportFile('CM2B', 'СМ-2Б. Гүйцэтгэлийн аудитаар илрүүлсэн алдаа, зөрчлийн хэрэгжилт')">
                    <span class="icon text-white-50">
                        <i class="fas fa-file-excel"></i>
                    </span>
                    <span class="text">Excel</span>
                </a>
            </div>
        </div>
</form>
<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table id="CM2B" class="table table-bordered table-hover datatable display" style="width:100%">
                <thead>
                    <tr class="bg-light">
                        <th rowspan="4" class="text-center">№</th>
                        <th rowspan="4">Шийдвэрийн төрөл</th>
                        <th rowspan="4">Ангилал</th>
                        <th rowspan="3" colspan="2">Эхний үлдэгдэл</th>
                        <th rowspan="3" colspan="2">Тайлант хугацаанд нэмэгдсэн</th>
                        <th colspan="14">Биелэлт</th>
                        <th colspan="2" rowspan="3">Статистик мэдээнээс хасагдсан</th>
                        <th colspan="2" rowspan="3">Эцсийн үлдэгдэл</th>
                        <th colspan="4" rowspan="2">Үүнээс</th>
                    </tr>
                    <tr class="bg-light">
                        <th rowspan="2" colspan="2">Өмнөх оноос</th>
                        <th rowspan="2" colspan="2">Тайлант оноос</th>
                        <th rowspan="2" colspan="2">Хэрэгжилт бүгд</th>
                        <th colspan="8">Төлбөр барагдуулалтын хэлбэр</th>
                    </tr>
                    <tr class="bg-light">
                        <th colspan="2">Улсын төсөвт</th>
                        <th colspan="2">Орон нутгын төсөвт</th>
                        <th colspan="2">Тухайн байгууллагад</th>
                        <th colspan="2">Бусад</th>
                        <th colspan="2">Хугацаа болоогүй</th>
                        <th colspan="2">Хугацаа хэтэрсэн</th>
                    </tr>
                    <tr class="bg-light">
                        <th>Тоо</th>
                        <th>Дүн</th>
                        <th>Тоо</th>
                        <th>Дүн</th>
                        <th>Тоо</th>
                        <th>Дүн</th>
                        <th>Тоо</th>
                        <th>Дүн</th>
                        <th>Тоо</th>
                        <th>Дүн</th>
                        <th>Тоо</th>
                        <th>Дүн</th>
                        <th>Тоо</th>
                        <th>Дүн</th>
                        <th>Тоо</th>
                        <th>Дүн</th>
                        <th>Тоо</th>
                        <th>Дүн</th>
                        <th>Тоо</th>
                        <th>Дүн</th>
                        <th>Тоо</th>
                        <th>Дүн</th>
                        <th>Тоо</th>
                        <th>Дүн</th>
                        <th>Тоо</th>
                        <th>Дүн</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            
            setTimeout(function () { cm2bListInit(); }, 1000);
        });

        function cm2bListInit(pagelength = 10) {
            CM2B.table = $("#CM2B").DataTable({
                "serverSide": true,
                "processing": true,
                "ajax": {
                    url: "/api/service/cm2list",
                    type: 'POST',
                    data: function (data) {
                        data.DeparmentID = $('#DeparmentID').val();
                        data.PeriodID = $('#PeriodID').val();
                        data.Type = 2;
                        return data;
                    }
                },
                createdRow: function (row, data, dataIndex) {
                    $(row).attr('data-id', data.ID);
                },
                "columns": [
                    {
                        "data": null, "sortable": false, "class": 'text-center',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { "data": "AUDIT_TYPE", "name": "AUDIT_TYPE" },
                    { "data": "CATEGORY_TYPE", "name": "CATEGORY_TYPE" },
                    { "data": "IS_STATE", "name": "IS_STATE" },
                    { "data": "WORKING_PERSON", "name": "WORKING_PERSON" },
                    { "data": "WORKING_DAY", "name": "WORKING_DAY" },
                    { "data": "WORKING_ADDITION_TIME", "name": "WORKING_ADDITION_TIME" },
                    { "data": "EXECUTORY", "name": "EXECUTORY" },
                    { "data": "EXEC_DECISION", "name": "EXEC_DECISION" },
                    { "data": "EXEC_COLLECTION", "name": "EXEC_COLLECTION" },
                    { "data": "EXEC_TRUSTED", "name": "EXEC_TRUSTED" },
                    { "data": "PERFORMED", "name": "PERFORMED" },
                    { "data": "PERF_DECISION", "name": "PERF_DECISION" },
                    { "data": "PERF_COLLECTION", "name": "PERF_COLLECTION" },
                    { "data": "PERF_TRUSTED", "name": "PERF_TRUSTED" },
                    { "data": "PERF_NOT_AUDITED", "name": "PERF_NOT_AUDITED" },
                    { "data": "PROPOSAL", "name": "PROPOSAL" },
                    { "data": "PROP_UNVIOLATED", "name": "PROP_UNVIOLATED" },
                    { "data": "PROP_RESTRICTED", "name": "PROP_RESTRICTED" },
                    { "data": "PROP_NEGATIVE", "name": "PROP_NEGATIVE" },
                    { "data": "PROP_NOT", "name": "PROP_NOT" },
                    { "data": "TPA_COUNT", "name": "TPA_COUNT" },
                    { "data": "TPA_AMOUNT", "name": "TPA_AMOUNT" },
                    { "data": "AUDITED_INCLUDED_ORG", "name": "AUDITED_INCLUDED_ORG" },
                    { "data": "BENEFIT_FIN_COUNT", "name": "BENEFIT_FIN_COUNT" },
                    { "data": "BENEFIT_FIN_AMOUNT", "name": "BENEFIT_FIN_AMOUNT" },
                    { "data": "BENEFIT_NONFIN", "name": "BENEFIT_NONFIN" },
                ],
                "destroy": true,
                "scrollCollapse": true,
                "paging": true,
                "pageLength": pagelength,
                "lengthMenu": [[10, 25, 50], [10, 25, 50]],
                "filter": true,
                "info": true,
                "stateSave": false,
                "bAutoWidth": false,
                lengthChange: true,
                "language": datatables.language
            });

        }
        $('#DeparmentID').change(function () {
            cm2bListInit();
        });
        $('#PeriodID').change(function () {
            cm2bListInit();
        });
        var CM2B = {
            cm2bID: null,
            table: null,
        display: function (data) {
            $("div#cm2bmodalcontainer").remove();
            $('<div/>', { id: "cm2bmodalcontainer" }).appendTo('body').append(data);

            $("#CM2BModal").modal({ show: true });
        },
        loadTemplate: function () {
            $.ajax({
                    url: "@Url.Action("CM2BAddEdit", "Statistic", new { Area = "" })",
                    type: 'GET',
                success: function (data) {
                    CM2B.display(data);
                    },
                    error: errorResponse,
                    beforeSend: function () {
                        Modal.show();
                    },
                    complete: function () {
                        Modal.hide();
                    }
                });
        },
        edit: function (id) {
            $.ajax({
                url: "@Url.Action("CM2BDetail", "Statistic", new { Area = "" })",
                type: 'POST',
                data: { id },
                success: function (data, status, xhr) {
                    CM2B.progressResponse(data, status, xhr);
                },
                error: errorResponse,
                beforeSend: function () {
                    Modal.show();
                },
                complete: function () {
                    Modal.hide();
                }
            });
        },
        delete: function (id) {
            CM2B.cm2bID = id;
            var r = confirm("Устгах уу!");
            if (r) {
                $.ajax({
                    url: "@Url.Action("CM2BDelete", "Statistic", new { Area = "" })",
                    type: 'POST',
                    data: { id },
                    success: function (data, status, xhr) {
                        CM2B.progressResponse(data, status, xhr);
                    },
                    error: errorResponse,
                    beforeSend: function () {
                        Modal.show();
                    },
                    complete: function () {
                        Modal.hide();
                    }
                });
            }
        },
        close: function () {
            $("#CM2BModal").modal("hide");
        },
        progressResponse: function (data, status, xhr) {
            var ct = xhr.getResponseHeader("content-type") || "";
            if (ct.indexOf("html") > -1) {
                CM2B.display(data);
            }
            if (ct.indexOf('json') > -1) {
                if (data.error) {
                    Message.error(data.message);
                } else {
                    $('.modal-backdrop:first').remove()
                    CM2B.close();
                    cm2bListInit();
                    Message.success(data.message);
                }
            }
        }
    }
        function exportFile(tableid, excelname,) {
            $('#exportXLSX').addClass('disabled');
            CM2B.table.destroy();
            cm2bListInit(-1);

            setTimeout(function () {
                var wb = XLSX.utils.table_to_book(document.getElementById(tableid));
                XLSX.writeFile(wb, excelname + '.xlsx');

                CM2B.table.destroy();
                cm2bListInit();
                $('#exportXLSX').removeClass('disabled');
            }, 5000
            )
        }
    </script>
}