@using Audit.Models
@model Audit.Models.CM3VM
@{
    ViewBag.Title = "CM3A";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="d-flex">
    <a href="@Url.Action("Index","Statistic")" class="btn btn-sm btn-light mr-2">
        <span class="icon text-gray-600">
            <i class="fas fa-arrow-left"></i>
        </span>
    </a>
    <h4>СМ-3А. Санхүүгийн тайлангийн аудитаар илрүүлсэн алдаа, зөрчлийн хэрэгжилт</h4>
</div>
<hr class="sidebar-divider">
<form method="post" id="FilterForm">
    <div class="d-flex flex-wrap mb-2">

        <div class="form-group-sm pr-2">
            <label for="DeparmentID" class="col-form-label">Алба:</label>
            @Html.DropDownListFor(model => model.DeparmentID, Model.departments.Select(m => new SelectListItem { Text = m.DEPARTMENT_NAME, Value = m.DEPARTMENT_ID.ToString() }).ToList(), "Сонгоно уу", htmlAttributes: new { @class = "form-control form-control-sm" })
        </div>
        <div class="form-group-sm pr-2">
            <label for="PeriodID" class="col-form-label">Он:</label>
            @Html.DropDownListFor(model => model.PeriodID, Model.periods.Select(m => new SelectListItem { Text = m.PERIOD_LABEL, Value = m.ID.ToString() }).ToList(), null, htmlAttributes: new { @class = "form-control form-control-sm" })
        </div>

        <div class="form-group-sm ml-auto pr-2">
            <a href="#" class="btn btn-sm btn-success btn-icon-split" id="exportXLSX" style="margin-top: 32px;" onclick="exportFile('CM3A', 'СМ-3А. Санхүүгийн тайлангийн аудитаар илрүүлсэн алдаа, зөрчлийн хэрэгжилт')">
                <span class="icon text-white-50">
                    <i class="fas fa-file-excel"></i>
                </span>
                <span class="text">Excel</span>
            </a>
        </div>
    </div>
</form>
<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table id="CM3A" class="table table-bordered datatable display" style="width:100%">
                <thead>
                    <tr>
                        <th rowspan="4" class="text-center">№</th>
                        <th rowspan="4">Үзүүлэлт</th>
                        <th colspan="10">Албан тушаалтанд хариуцлага тооцуулах санал</th>
                        <th colspan="12">Хууль хяналтын байгууллагад шилжүүлсэн асуудал</th>
                        <th colspan="2" rowspan="3">Эцсийн үлдэгдэл</th>
                    </tr>
                    <tr>
                        <th rowspan="2" colspan="2">Эхний үлдэгдэл</th>
                        <th rowspan="2" colspan="2">Тайлант хугацаанд нэмэгдсэн</th>
                        <th rowspan="2" colspan="2">Бүгд</th>
                        <th colspan="4">Хэрэгжилт</th>
                        <th colspan="2" rowspan="2">Эхний үлдэгдэл</th>
                        <th colspan="2" rowspan="2">Тайлант хугацаанд шинээр шилжүүлсэн</th>
                        <th colspan="2" rowspan="2">Бүгд</th>
                        <th colspan="6">Хэрэгжилт</th>
                    </tr>
                    <tr>
                        <th colspan="2">Бүрэн хэрэгжсэн</th>
                        <th colspan="2">Хэрэгжээгүй</th>
                        <th colspan="2">Бүрэн шийдвэрлэгдсэн</th>
                        <th colspan="2">Хянагдаж байгаа</th>
                        <th colspan="2">Хэрэгсэхгүй болсон</th>
                    </tr>
                    <tr>
                        <th>Тоо</th>
                        <th>Дүн</th>
                        <th>Тоо</th>
                        <th>Дүн</th>
                        <th>Тоо</th>
                        <th>Дүн</th>
                        <th>Тоо</th>
                        <th>Дүн</th>
                        <th>Тоо</th>
                        <th>Дүн</th>
                        <th>Тоо</th>
                        <th>Дүн</th>
                        <th>Тоо</th>
                        <th>Дүн</th>
                        <th>Тоо</th>
                        <th>Дүн</th>
                        <th>Тоо</th>
                        <th>Дүн</th>
                        <th>Тоо</th>
                        <th>Дүн</th>
                        <th>Тоо</th>
                        <th>Дүн</th>
                        <th>Тоо</th>
                        <th>Дүн</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            cm3aListInit();
        });

        function cm3aListInit(pagelength = 10) {
            CM3A.table = $("#CM3A").DataTable({
                "serverSide": true,
                "processing": true,
                "ajax": {
                    url: "/api/service/cm3list",
                    type: 'POST',
                    data: function (data) {
                        data.DeparmentID = $('#DeparmentID').val();
                        data.PeriodID = $('#PeriodID').val();
                        data.Type = 1;
                        return data;
                    }
                },
                createdRow: function (row, data, dataIndex) {
                    $(row).attr('data-id', data.ID);
                },
                "columns": [
                    {
                        "data": null, "sortable": false, "class": 'text-center',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { "data": "DECISION_TYPE", "name": "DECISION_TYPE" },
                    { "data": "C1_COUNT", "name": "C1_COUNT" },
                    { "data": "C1_AMOUNT", "name": "C1_AMOUNT" },
                    { "data": "CURRENT_COUNT", "name": "CURRENT_COUNT" },
                    { "data": "CURRENT_AMOUNT", "name": "CURRENT_AMOUNT" },
                    { "data": "TOTAL_COUNT", "name": "TOTAL_COUNT" },
                    { "data": "TOTAL_AMOUNT", "name": "TOTAL_AMOUNT" },
                    { "data": "COMPLETION_DONE_COUNT", "name": "COMPLETION_DONE_COUNT" },
                    { "data": "COMPLETION_DONE_AMOUNT", "name": "COMPLETION_DONE_AMOUNT" },
                    { "data": "COMPLETION_PROGRESS_COUNT", "name": "COMPLETION_PROGRESS_COUNT" },
                    { "data": "COMPLETION_PROGRESS_AMOUNT", "name": "COMPLETION_PROGRESS_AMOUNT" },
                    { "data": "LAW_COUNT", "name": "LAW_COUNT" },
                    { "data": "LAW_AMOUNT", "name": "LAW_AMOUNT" },
                    { "data": "LAW_CURRENT_COUNT", "name": "LAW_CURRENT_COUNT" },
                    { "data": "LAW_CURRENT_AMOUNT", "name": "LAW_CURRENT_AMOUNT" },
                    { "data": "LAW_TOTAL_COUNT", "name": "LAW_TOTAL_COUNT" },
                    { "data": "LAW_TOTAL_AMOUNT", "name": "LAW_TOTAL_AMOUNT" },
                    { "data": "LAW_COMP_DONE_COUNT", "name": "LAW_COMP_DONE_COUNT" },
                    { "data": "LAW_COMP_DONE_AMOUNT", "name": "LAW_COMP_DONE_AMOUNT" },
                    { "data": "LAW_COMP_PROG_COUNT", "name": "LAW_COMP_PROG_COUNT" },
                    { "data": "LAW_COMP_PROG_AMOUNT", "name": "LAW_COMP_PROG_AMOUNT" },
                    { "data": "LAW_COMP_INVALID_COUNT", "name": "LAW_COMP_INVALID_COUNT" },
                    { "data": "LAW_COMP_INVALID_AMOUNT", "name": "LAW_COMP_INVALID_AMOUNT" },
                    { "data": "C2_COUNT", "name": "C2_COUNT" },
                    { "data": "C2_AMOUNT", "name": "C2_AMOUNT" },
                ],
                "destroy": true,
                "scrollCollapse": true,
                "paging": true,
                "pageLength": pagelength,
                "lengthMenu": [[10, 25, 50], [10, 25, 50]],
                "filter": true,
                "info": true,
                "stateSave": false,
                "bAutoWidth": false,
                lengthChange: true,
                "language": datatables.language
            });

        }
        $('#DeparmentID').change(function () {
            cm3aListInit();
        });
        $('#PeriodID').change(function () {
            cm3aListInit();
        });
        var CM3A = {
            cm3aID: null,
            table: null,
        display: function (data) {
            $("div#cm3amodalcontainer").remove();
            $('<div/>', { id: "cm3amodalcontainer" }).appendTo('body').append(data);

            $("#CM3AModal").modal({ show: true });
        },
        loadTemplate: function () {
            $.ajax({
                    url: "@Url.Action("CM3AAddEdit", "Statistic", new { Area = "" })",
                    type: 'GET',
                success: function (data) {
                    CM3A.display(data);
                    },
                    error: errorResponse,
                    beforeSend: function () {
                        Modal.show();
                    },
                    complete: function () {
                        Modal.hide();
                    }
                });
        },
        edit: function (id) {
            $.ajax({
                url: "@Url.Action("CM3ADetail", "Statistic", new { Area = "" })",
                type: 'POST',
                data: { id },
                success: function (data, status, xhr) {
                    CM3A.progressResponse(data, status, xhr);
                },
                error: errorResponse,
                beforeSend: function () {
                    Modal.show();
                },
                complete: function () {
                    Modal.hide();
                }
            });
        },
        delete: function (id) {
            CM3A.cm3aID = id;
            var r = confirm("Устгах уу!");
            if (r) {
                $.ajax({
                    url: "@Url.Action("CM3ADelete", "Statistic", new { Area = "" })",
                    type: 'POST',
                    data: { id },
                    success: function (data, status, xhr) {
                        CM3A.progressResponse(data, status, xhr);
                    },
                    error: errorResponse,
                    beforeSend: function () {
                        Modal.show();
                    },
                    complete: function () {
                        Modal.hide();
                    }
                });
            }
        },
        close: function () {
            $("#CM3AModal").modal("hide");
        },
        progressResponse: function (data, status, xhr) {
            var ct = xhr.getResponseHeader("content-type") || "";
            if (ct.indexOf("html") > -1) {
                CM3A.display(data);
            }
            if (ct.indexOf('json') > -1) {
                if (data.error) {
                    Message.error(data.message);
                } else {
                    $('.modal-backdrop:first').remove()
                    CM3A.close();
                    cm3aListInit();
                    Message.success(data.message);
                }
            }
        }
    }
        function exportFile(tableid, excelname,) {
            $('#exportXLSX').addClass('disabled');
            CM3A.table.destroy();
            cm3aListInit(-1);

            setTimeout(function () {
                var wb = XLSX.utils.table_to_book(document.getElementById(tableid));
                XLSX.writeFile(wb, excelname + '.xlsx');

                CM3A.table.destroy();
                cm3aListInit();
                $('#exportXLSX').removeClass('disabled');
            }, 5000
            )
        }
    </script>
}