@using Audit.Models
@model Audit.Models.CM6VM
@{
    ViewBag.Title = "CM6";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="d-flex">
    <a href="@Url.Action("Index","Statistic")" class="btn btn-sm btn-light mr-2">
        <span class="icon text-gray-600">
            <i class="fas fa-arrow-left"></i>
        </span>
    </a>
    <h4>СМ-6. Төсвийн төсөлд өгсөн санал</h4>
    <div class="ml-auto pr-2">
        <a href="#" class="btn btn-sm btn-success btn-icon-split" onclick="exportFile()">
            <span class="icon text-white-50">
                <i class="fas fa-file-excel"></i>
            </span>
            <span class="text">Excel</span>
        </a>
    </div>
</div>
<hr class="sidebar-divider">
<form method="post" id="FilterForm">
    <div class="d-flex flex-wrap mb-2">

        <div class="form-group-sm pr-2">
            <label for="DeparmentID" class="col-form-label">Алба:</label>
            @Html.DropDownListFor(model => model.DeparmentID, Model.departments.Select(m => new SelectListItem { Text = m.DEPARTMENT_NAME, Value = m.DEPARTMENT_ID.ToString() }).ToList(), "Сонгоно уу", htmlAttributes: new { @class = "form-control form-control-sm" })
        </div>
        <div class="form-group-sm pr-2">
            <label for="PeriodID" class="col-form-label">Он:</label>
            @Html.DropDownListFor(model => model.PeriodID, Model.periods.Select(m => new SelectListItem { Text = m.PERIOD_LABEL, Value = m.ID.ToString() }).ToList(), null, htmlAttributes: new { @class = "form-control form-control-sm" })
        </div>

        <div class="form-group-sm ml-auto pr-2">
            <a href="#" class="btn btn-sm btn-secondary btn-icon-split" style="margin-top: 32px;" onclick="CM6.loadTemplate();">
                <span class="icon text-white-50">
                    <i class="fas fa-plus"></i>
                </span>
                <span class="text">Шинэ бүртгэл</span>
            </a>
        </div>


        <div class="form-group-sm pr-2">
            <a href="#" class="btn btn-sm btn-success btn-icon-split" id="exportXLSX" style="margin-top: 32px;" onclick="exportFile('CM6', 'СМ-6. Төсвийн төсөлд өгсөн санал')">
                <span class="icon text-white-50">
                    <i class="fas fa-file-excel"></i>
                </span>
                <span class="text">Excel</span>
            </a>
        </div>
    </div>
</form>
<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table id="CM6" class="table table-bordered datatable display" style="width:100%">
                <thead>
                    <tr>
                        <th rowspan="4" class="text-center">№</th>
                        <th rowspan="4">Төсөв</th>
                        <th colspan="6">Боловсруулсан санал</th>
                        <th colspan="6">Хүлээн зөвшөөрөгдсөн санал</th>
                    </tr>
                    <tr>
                        <th colspan="2">Бүгд</th>
                        <th colspan="4">Үүнээс</th>
                        <th colspan="2">Бүгд</th>
                        <th colspan="4">Үүнээс</th>
                    </tr>
                    <tr>
                        <th rowspan="2">Тоо</th>
                        <th rowspan="2">Дүн</th>
                        <th colspan="2">Орлого нэмэгдүүлэх</th>
                        <th colspan="2">Зардал хорогдуулах</th>
                        <th rowspan="2">Тоо</th>
                        <th rowspan="2">Дүн</th>
                        <th colspan="2">Орлого нэмэгдүүлэх</th>
                        <th colspan="2">Зардал хорогдуулах</th>
                    </tr>
                    <tr>
                        <th>Тоо</th>
                        <th>Дүн</th>
                        <th>Тоо</th>
                        <th>Дүн</th>
                        <th>Тоо</th>
                        <th>Дүн</th>
                        <th>Тоо</th>
                        <th>Дүн</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            cm6ListInit();
        });

        function cm6ListInit() {
            var table = $("#CM6").DataTable({
                "serverSide": true,
                "processing": true,
                "ajax": {
                    url: "/api/service/cm6list",
                    type: 'POST',
                    data: function (data) {
                        data.DeparmentID = $('#DeparmentID').val();
                        data.PeriodID = $('#PeriodID').val();
                        return data;
                    }
                },
                createdRow: function (row, data, dataIndex) {
                    $(row).attr('data-id', data.ID);
                },
                "columns": [
                    {
                        "data": null, "sortable": false, "class": 'text-center',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { "data": "AUD_NAME", "name": "AUD_NAME" },
                    { "data": "IS_STATE", "name": "IS_STATE" },
                    { "data": "ALL_COUNT", "name": "ALL_COUNT" },
                    { "data": "ALL_AMOUNT", "name": "ALL_AMOUNT" },
                    { "data": "PROCESSED_INCOMED_COUNT", "name": "PROCESSED_INCOMED_COUNT" },
                    { "data": "PROCESSED_INCOMED_AMOUNT", "name": "PROCESSED_INCOMED_AMOUNT" },
                    { "data": "PROCESSED_COSTS_COUNT", "name": "PROCESSED_COSTS_COUNT" },
                    { "data": "PROCESSED_COSTS_AMOUNT", "name": "PROCESSED_COSTS_AMOUNT" },
                    { "data": "ALL_C1_COUNT", "name": "ALL_C1_COUNT" },
                    { "data": "ALL_C2_AMOUNT", "name": "ALL_C2_AMOUNT" },
                    { "data": "ACCEPTED_INCOMED_COUNT", "name": "ACCEPTED_INCOMED_COUNT" },
                    { "data": "ACCEPTED_INCOMED_AMOUNT", "name": "ACCEPTED_INCOMED_AMOUNT" },
                    { "data": "ACCEPTED_COSTS_COUNT", "name": "ACCEPTED_COSTS_COUNT" },
                    { "data": "ACCEPTED_COSTS_AMOUNT", "name": "ACCEPTED_COSTS_AMOUNT" },
                    {
                        "data": null, "sortable": false, "class": 'text-center',
                        render: function (data, type, row, meta) {
                            var tmp = '<div class="btn-group">';
                            var urledit = '<a href="#" class="btn btn-sm" onclick="CM6.edit(' + data.ID + ')"><i class="fa fa-edit"></i></a>';
                            var urldelete = '<a href="#" class="btn btn-sm" onclick="CM6.delete(' + data.ID + ')"><i class="fa fa-trash-alt" ></i></a>';
                            tmp += urledit;
                            tmp += urldelete;
                            tmp += "</div>";
                            return tmp;
                        }
                    }
                ],
                "destroy": true,
                "scrollCollapse": true,
                "paging": true,
                "lengthMenu": [[10, 25, 50], [10, 25, 50]],
                "filter": true,
                "info": true,
                "stateSave": false,
                "bAutoWidth": false,
                lengthChange: true,
                "language": datatables.language
            });

        }
        $('#DeparmentID').change(function () {
            cm6ListInit();
        });
        $('#PeriodID').change(function () {
            cm6ListInit();
        });
        var CM6 = {
        cm6ID: null,
        display: function (data) {
            $("div#cm6modalcontainer").remove();
            $('<div/>', { id: "cm6modalcontainer" }).appendTo('body').append(data);

            $("#CM6Modal").modal({ show: true });
        },
        loadTemplate: function () {
            $.ajax({
                    url: "@Url.Action("CM6AddEdit", "Statistic", new { Area = "" })",
                    type: 'GET',
                    success: function (data) {
                        CM6.display(data);
                    },
                    error: errorResponse,
                    beforeSend: function () {
                        Modal.show();
                    },
                    complete: function () {
                        Modal.hide();
                    }
                });
        },
        edit: function (id) {
            $.ajax({
                url: "@Url.Action("CM6Detail", "Statistic", new { Area = "" })",
                type: 'POST',
                data: { id },
                success: function (data, status, xhr) {
                    CM6.progressResponse(data, status, xhr);
                },
                error: errorResponse,
                beforeSend: function () {
                    Modal.show();
                },
                complete: function () {
                    Modal.hide();
                }
            });
        },
        delete: function (id) {
            CM6.cm6ID = id;
            var r = confirm("Устгах уу!");
            if (r) {
                $.ajax({
                    url: "@Url.Action("CM6Delete", "Statistic", new { Area = "" })",
                    type: 'POST',
                    data: { id },
                    success: function (data, status, xhr) {
                        CM6.progressResponse(data, status, xhr);
                    },
                    error: errorResponse,
                    beforeSend: function () {
                        Modal.show();
                    },
                    complete: function () {
                        Modal.hide();
                    }
                });
            }
        },
        close: function () {
            $("#CM6Modal").modal("hide");
        },
        progressResponse: function (data, status, xhr) {
            var ct = xhr.getResponseHeader("content-type") || "";
            if (ct.indexOf("html") > -1) {
                CM6.display(data);
            }
            if (ct.indexOf('json') > -1) {
                if (data.error) {
                    Message.error(data.message);
                } else {
                    $('.modal-backdrop:first').remove()
                    CM6.close();
                    cm6ListInit();
                    Message.success(data.message);
                }
            }
        }
    }
        function exportFile(tableid, excelname,) {
            $('#exportXLSX').prop('disabled', true);
            table.destroy();
            cm6ListInit(-1);

            setTimeout(function () {
                var wb = XLSX.utils.table_to_book(document.getElementById(tableid));
                XLSX.writeFile(wb, excelname + '.xlsx');

                table.destroy();
                cm6ListInit();
                $('#exportXLSX').prop('disabled', false);
            }, 5000
            )
        }
    </script>
}