@model Audit.Models.CM7

<div class="modal fade" id="CM7Modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="max-width:90%;margin: 0 auto;">
        @using (Ajax.BeginForm("CM7AddEdit", "Statistic", new { Area = "" },
                   new AjaxOptions
                   {
                       UpdateTargetId = "cm7modalcontainer",
                       OnBegin = "Modal.show()",
                       OnComplete = "Modal.hide(); $('#CM7Modal').modal({ show: true }); $('.modal-backdrop:first').remove()",
                       OnSuccess = "CM7.progressResponse(data, status, xhr)",
                       OnFailure = "errorResponse",
                       HttpMethod = "Post",
                       InsertionMode = InsertionMode.Replace
                   },
                   new { @class = "form-horizontal", @autocomplete = "off" }))
        {
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="exampleModalLabel">СМ-7. Дотоод аудит</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color:#fff;">x</span></button>
                </div>
                <div class="modal-body">
                    <fieldset>
                        <div class="hidden text-danger error-msgs">
                            <ul></ul>
                        </div>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(m => m.ID)
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label text-right">Төрийн аудитын байгууллага:</label>
                                <div class="col-sm-4">
                                    @Html.DropDownListFor(model => model.OFFICE_ID, Model.departments.Select(m => new SelectListItem { Text = m.DEPARTMENT_NAME, Value = m.DEPARTMENT_ID.ToString() }).ToList(), "Сонгоно уу", htmlAttributes: new { @class = "form-control form-control-sm" })
                                    @Html.ValidationMessageFor(m => m.OFFICE_ID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label text-right">Он:</label>
                                <div class="col-sm-4">
                                    @Html.DropDownListFor(model => model.STATISTIC_PERIOD, Model.periods.Select(m => new SelectListItem { Text = m.PERIOD_LABEL, Value = m.ID.ToString() }).ToList(), null, htmlAttributes: new { @class = "form-control form-control-sm" })
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label text-right">Дотоод аудитад хамрагдсан нэгжийн нэр:</label>
                                <div class="col-sm-4">
                                    @Html.EditorFor(m => m.AUD_NAME, new { htmlAttributes = new { @class = "form-control form-control-sm" } }) 
                                    @Html.ValidationMessageFor(m => m.AUD_NAME, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label text-right">NAME_TYPE:</label>
                                <div class="col-sm-4">
                                    @Html.EditorFor(m => m.NAME_TYPE, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(m => m.NAME_TYPE, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label text-right">Нийт зөвлөмжийн тоо:</label>
                                <div class="col-sm-4">
                                    @Html.EditorFor(m => m.REFERENCE_COUNT, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(m => m.REFERENCE_COUNT, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label text-right">Төсөв, түүний зарцуулалттай холбоотой:</label>
                                <div class="col-sm-4">
                                    @Html.EditorFor(m => m.BUDGET_EXPENSES, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(m => m.BUDGET_EXPENSES, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label text-right">Хүний нөөцтэй холбоотой:</label>
                                <div class="col-sm-4">
                                    @Html.EditorFor(m => m.HUMAN_RESOURCES, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(m => m.HUMAN_RESOURCES, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label text-right">Төлөвлөгөөт ажлын биелэлттэй холбоотой:</label>
                                <div class="col-sm-4">
                                    @Html.EditorFor(m => m.PLANNED_COMPLETED, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(m => m.PLANNED_COMPLETED, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label text-right">Бусад:</label>
                                <div class="col-sm-4">
                                    @Html.EditorFor(m => m.OTHER, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(m => m.OTHER, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label text-right">Биелэлт хэрэгжсэн:</label>
                                <div class="col-sm-4">
                                    @Html.EditorFor(m => m.COMP_DONE, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(m => m.COMP_DONE, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label text-right">Биелэлт эрэгжээгүй:</label>
                                <div class="col-sm-4">
                                    @Html.EditorFor(m => m.COMP_PROGRESS, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(m => m.COMP_PROGRESS, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label text-right">Шийдвэрлэсэн өргөдөл, гомдлын тоо:</label>
                                <div class="col-sm-4">
                                    @Html.EditorFor(m => m.RESOLVED_COMPLAINT_COUNT, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(m => m.RESOLVED_COMPLAINT_COUNT, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label text-right">Зөвлөмжийн хэрэгжээгүй шалтгааны тайлбар:</label>
                                <div class="col-sm-4">
                                    @Html.EditorFor(m => m.REFERENCE_NOT_COMP, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(m => m.REFERENCE_NOT_COMP, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                        <hr />
                        <div style="text-align: right">
                            <button type="submit" class="btn btn-sm" style="background-color:#233772; color:#fff;">Хадгалах</button>
                            <button type="button" class="btn btn-sm btn-default bg-secondary text-white" data-dismiss="modal">Хаах</button>
                        </div>
                    </fieldset>
                </div>
            </div>
        }
    </div>
</div>
<script>
  $( function() {
      $(".datepicker").datepicker({
          beforeShow: function () {
              setTimeout(function () {
                  $('.ui-datepicker').css('z-index', 99999999999999);
              }, 0);
          },
          changeMonth: true,
          changeYear: true,
          dateFormat: "yy/mm/dd",
          firstDay: 1,
          dayNamesMin: ["Ня", "Да", "Мя", "Лха", "Пү", "Ба", "Бя"],
          monthNamesShort: ["1-сар", "2-сар", "3-сар", "4-сар", "5-сар", "6-сар", "7-сар", "8-сар", "9-сар", "10-сар", "11-сар", "12-сар"],
          maxDate: "+0D",
          showOn: "button",
          buttonImage: "@Url.Content("~/Images/calendar.png")",
          buttonImageOnly: true,
          buttonText: "Select date"
      });
  });
</script>