@model Audit.Models.CM8

<div class="modal fade" id="CM8Modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="max-width:90%;margin: 0 auto;">
        @using (Ajax.BeginForm("CM8AddEdit", "Statistic", new { Area = "" },
                   new AjaxOptions
                   {
                       UpdateTargetId = "cm8modalcontainer",
                       OnBegin = "Modal.show()",
                       OnComplete = "Modal.hide(); $('#CM8Modal').modal({ show: true }); $('.modal-backdrop:first').remove()",
                       OnSuccess = "CM8.progressResponse(data, status, xhr)",
                       OnFailure = "errorResponse",
                       HttpMethod = "Post",
                       InsertionMode = InsertionMode.Replace
                   },
                   new { @class = "form-horizontal", @autocomplete = "off" }))
        {
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="exampleModalLabel">CM8 бүртгэл</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color:#fff;">x</span></button>
                </div>
                <div class="modal-body">
                    <fieldset>
                        <div class="hidden text-danger error-msgs">
                            <ul></ul>
                        </div>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(m => m.ID)
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Төрийн аудитын байгууллага:</label>
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(model => model.OFFICE_ID, Model.departments.Select(m => new SelectListItem { Text = m.DEPARTMENT_NAME, Value = m.DEPARTMENT_ID.ToString() }).ToList(), "Сонгоно уу", htmlAttributes: new { @class = "form-control form-control-sm" })
                                    @Html.ValidationMessageFor(m => m.OFFICE_ID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Он:</label>
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(model => model.STATISTIC_PERIOD, Model.periods.Select(m => new SelectListItem { Text = m.PERIOD_LABEL, Value = m.ID.ToString() }).ToList(), null, htmlAttributes: new { @class = "form-control form-control-sm" })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Батлагдсан төсөв:</label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(m => m.APPROVED_BUDGET, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(m => m.APPROVED_BUDGET, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Гүйцэтгэл:</label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(m => m.PERFORMANCE_BUDGET, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(m => m.PERFORMANCE_BUDGET, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Батлагдсан орон тоо:</label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(m => m.APPROVED_NUMBERS, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(m => m.APPROVED_NUMBERS, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Ажиллагсад:</label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(m => m.WORKERS, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(m => m.WORKERS, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Удирдах ажилтан:</label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(m => m.DIRECTING_STAFF, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(m => m.DIRECTING_STAFF, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Менежер:</label>
                                <div class="col-sm-8">
                                    @*@Html.EditorFor(m => m.SENIOR_AUDITOR_ANALYST, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(m => m.SENIOR_AUDITOR_ANALYST, "", new { @class = "text-danger" })*@
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Ахлах аудитор, ахлах шинжээч:</label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(m => m.SENIOR_AUDITOR_ANALYST, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(m => m.SENIOR_AUDITOR_ANALYST, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Аудитор, шинжээч:</label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(m => m.AUDITOR_ANALYST, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(m => m.AUDITOR_ANALYST, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Бусад:</label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(m => m.OTHER_OFFICE, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(m => m.OTHER_OFFICE, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Доктор:</label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(m => m.EDU_DOCTOR, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(m => m.EDU_DOCTOR, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Магистр:</label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(m => m.EDU_MAGISTR, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(m => m.EDU_MAGISTR, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Бакалавр:</label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(m => m.EDU_BAKLAVR, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(m => m.EDU_BAKLAVR, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Тусгай дунд:</label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(m => m.EDU_AMONGST, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(m => m.EDU_AMONGST, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Бүрэн дунд:</label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(m => m.EDU_JUNIOR_AMONGST, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(m => m.EDU_JUNIOR_AMONGST, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Мэргэшсэн нягтлан бодогч:</label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(m => m.PRO_ACCOUNTANT, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(m => m.PRO_ACCOUNTANT, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Нягтлан бодогч, эдийн засагч:</label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(m => m.ACCOUNTANT_ECONOMIST, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(m => m.ACCOUNTANT_ECONOMIST, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Хуульч:</label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(m => m.LAWYER, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(m => m.LAWYER, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Инженер:</label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(m => m.INGENER, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(m => m.INGENER, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Бусад:</label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(m => m.OTHER_PROF, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(m => m.OTHER_PROF, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Сургалтын тоо:</label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(m => m.STUDY_COUNT, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(m => m.STUDY_COUNT, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Хамрагдсан хүн /Бүгд/:</label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(m => m.INCLUDED_MAN, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(m => m.INCLUDED_MAN, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Онлайн сургалтад хамрагдсан хүний тоо:</label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(m => m.ONLINE_STUDY_COUNT, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(m => m.ONLINE_STUDY_COUNT, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Орон нутагт зохион байгуулсан сургалтад оролцсон хүний тоо:</label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(m => m.LOCAL_STUDY_COUNT, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(m => m.LOCAL_STUDY_COUNT, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">ҮАГ дээр зохион байгуулсан сургалтад хамрагдсан хүний тоо:</label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(m => m.AUDIT_STUDY_COUNT, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(m => m.AUDIT_STUDY_COUNT, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Сургалтын тоо:</label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(m => m.FOREIGN_STUDY_COUNT, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(m => m.FOREIGN_STUDY_COUNT, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Хүний тоо:</label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(m => m.FOREIGN_MAN_COUNT, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(m => m.FOREIGN_MAN_COUNT, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Сургалтын тоо:</label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(m => m.INSIDE_STUDY_COUNT, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(m => m.INSIDE_STUDY_COUNT, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Хүний тоо:</label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(m => m.INSIDE_MAN_COUNT, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(m => m.INSIDE_MAN_COUNT, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Сургалтын тоо:</label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(m => m.ORG_STUDY_COUNT, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(m => m.ORG_STUDY_COUNT, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Хүний тоо:</label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(m => m.ORG_MAN_COUNT, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(m => m.ORG_MAN_COUNT, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Бүгд:</label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(m => m.RESEARCH_ALL, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(m => m.RESEARCH_ALL, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Хэвлэмэлээр болон хувилж өгсөн тайлан:</label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(m => m.PUBLISHED_REPORT, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(m => m.PUBLISHED_REPORT, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Хэвлэлийн мэдээ, нийтлэл:</label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(m => m.NEWS_ARTICLE, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(m => m.NEWS_ARTICLE, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Радио, телевизийн мэдээ, нэвтрүүлэг:</label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(m => m.TV_NEWS_BROADCAST, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(m => m.TV_NEWS_BROADCAST, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Бусад байгууллагад хийсэн мэдээлэл, сурталчилгаа:</label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(m => m.ORG_NEWS, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(m => m.ORG_NEWS, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Цахим хуудасны хандалтын тоо:</label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(m => m.WEB_ACCESS, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(m => m.WEB_ACCESS, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Хүлээн авсан мэдээлэл, хүсэлт, өргөдөл:</label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(m => m.RECEIVED_ALL, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(m => m.RECEIVED_ALL, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">ТАБ-ын үйл ажиллагаатай холбоотой:</label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(m => m.TAB_WORKERS, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(m => m.TAB_WORKERS, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">ТАБ-ын ажиллагсадын мэргэжлийн ур чадвар, ёс зүйтэй холбоотой:</label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(m => m.TAB_SKILLS, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(m => m.TAB_SKILLS, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Аудит хийлгэх тухай:</label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(m => m.AUDIT_LET, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(m => m.AUDIT_LET, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Бусад:</label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(m => m.RECEIVED_OTHER, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(m => m.RECEIVED_OTHER, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Хугацаанд нь шийдвэрлэсэн:</label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(m => m.DECIDED_TIME, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(m => m.DECIDED_TIME, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Хугацаа болоогүй:</label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(m => m.DEC_EXPIRED, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(m => m.DEC_EXPIRED, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Хугацаа хэтэрсэн:</label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(m => m.DEC_UNEXPIRED, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(m => m.DEC_UNEXPIRED, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                        <hr />
                        <div style="text-align: right">
                            <button type="submit" class="btn btn-sm" style="background-color:#233772; color:#fff;">Хадгалах</button>
                            <button type="button" class="btn btn-sm btn-default bg-secondary text-white" data-dismiss="modal">Хаах</button>
                        </div>
                    </fieldset>
                </div>
            </div>
        }
    </div>
</div>
<script>
  $( function() {
      $(".datepicker").datepicker({
          beforeShow: function () {
              setTimeout(function () {
                  $('.ui-datepicker').css('z-index', 99999999999999);
              }, 0);
          },
          changeMonth: true,
          changeYear: true,
          dateFormat: "yy/mm/dd",
          firstDay: 1,
          dayNamesMin: ["Ня", "Да", "Мя", "Лха", "Пү", "Ба", "Бя"],
          monthNamesShort: ["1-сар", "2-сар", "3-сар", "4-сар", "5-сар", "6-сар", "7-сар", "8-сар", "9-сар", "10-сар", "11-сар", "12-сар"],
          maxDate: "+0D",
          showOn: "button",
          buttonImage: "@Url.Content("~/Images/calendar.png")",
          buttonImageOnly: true,
          buttonText: "Select date"
      });
  });
</script>