@model Audit.Models.CM8

<div class="modal fade" id="CM8Modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="max-width:70%;margin: 0 auto;">
        @using (Ajax.BeginForm("CM8AddEdit", "Statistic", new { Area = "" },
                   new AjaxOptions
                   {
                       UpdateTargetId = "cm8modalcontainer",
                       OnBegin = "Modal.show()",
                       OnComplete = "Modal.hide(); $('#CM8Modal').modal({ show: true }); $('.modal-backdrop:first').remove()",
                       OnSuccess = "CM8.progressResponse(data, status, xhr)",
                       OnFailure = "errorResponse",
                       HttpMethod = "Post",
                       InsertionMode = InsertionMode.Replace
                   },
                   new { @class = "form-horizontal", @autocomplete = "off" }))
        {
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="exampleModalLabel">СМ-8. Дэмжих үйлчилгээ</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color:#fff;">x</span></button>
                </div>
                <div class="modal-body">
                    <fieldset>
                        <div class="hidden text-danger error-msgs">
                            <ul></ul>
                        </div>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(m => m.ID)
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Төрийн аудитын байгууллага:</label>
                                    <div class="col-sm-4">
                                        @Html.DropDownListFor(model => model.OFFICE_ID, Model.departments.Select(m => new SelectListItem { Text = m.DEPARTMENT_NAME, Value = m.DEPARTMENT_ID.ToString() }).ToList(), "Сонгоно уу", htmlAttributes: new { @class = "form-control form-control-sm" })
                                        @Html.ValidationMessageFor(m => m.OFFICE_ID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Он:</label>
                                    <div class="col-sm-4">
                                        @Html.DropDownListFor(model => model.STATISTIC_PERIOD, Model.periods.Select(m => new SelectListItem { Text = m.PERIOD_LABEL, Value = m.ID.ToString() }).ToList(), null, htmlAttributes: new { @class = "form-control form-control-sm" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Батлагдсан төсөв:</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.APPROVED_BUDGET, new { htmlAttributes = new { @class = "form-control form-control-sm text-right currency", @placeholder = "0.00", @onkeypress = "return validateFloatKeyPress(this, event)" } })
                                        @Html.ValidationMessageFor(m => m.APPROVED_BUDGET, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Гүйцэтгэл:</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.PERFORMANCE_BUDGET, new { htmlAttributes = new { @class = "form-control form-control-sm text-right currency", @placeholder = "0.00", @onkeypress = "return validateFloatKeyPress(this, event)" } })
                                        @Html.ValidationMessageFor(m => m.PERFORMANCE_BUDGET, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Батлагдсан орон тоо:</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.APPROVED_NUMBERS, new { htmlAttributes = new { @class = "form-control form-control-sm text-right", @placeholder = "0", @onkeypress = "return event.charCode >= 48 && event.charCode <= 57" } })
                                        @Html.ValidationMessageFor(m => m.APPROVED_NUMBERS, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Ажиллагсад:</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.WORKERS, new { htmlAttributes = new { @class = "form-control form-control-sm text-right", @placeholder = "0", @onkeypress = "return event.charCode >= 48 && event.charCode <= 57" } })
                                        @Html.ValidationMessageFor(m => m.WORKERS, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Удирдах ажилтан:</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.DIRECTING_STAFF, new { htmlAttributes = new { @class = "form-control form-control-sm text-right", @placeholder = "0", @onkeypress = "return event.charCode >= 48 && event.charCode <= 57" } })
                                        @Html.ValidationMessageFor(m => m.DIRECTING_STAFF, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Менежер:</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.MANAGER, new { htmlAttributes = new { @class = "form-control form-control-sm text-right", @placeholder = "0", @onkeypress = "return event.charCode >= 48 && event.charCode <= 57" } })
                                        @Html.ValidationMessageFor(m => m.MANAGER, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Ахлах аудитор, ахлах шинжээч:</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.SENIOR_AUDITOR_ANALYST, new { htmlAttributes = new { @class = "form-control form-control-sm text-right", @placeholder = "0", @onkeypress = "return event.charCode >= 48 && event.charCode <= 57" } })
                                        @Html.ValidationMessageFor(m => m.SENIOR_AUDITOR_ANALYST, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Аудитор, шинжээч:</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.AUDITOR_ANALYST, new { htmlAttributes = new { @class = "form-control form-control-sm text-right", @placeholder = "0", @onkeypress = "return event.charCode >= 48 && event.charCode <= 57" } })
                                        @Html.ValidationMessageFor(m => m.AUDITOR_ANALYST, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Бусад:</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.OTHER_OFFICE, new { htmlAttributes = new { @class = "form-control form-control-sm text-right", @placeholder = "0", @onkeypress = "return event.charCode >= 48 && event.charCode <= 57" } })
                                        @Html.ValidationMessageFor(m => m.OTHER_OFFICE, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Доктор:</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.EDU_DOCTOR, new { htmlAttributes = new { @class = "form-control form-control-sm text-right", @placeholder = "0", @onkeypress = "return event.charCode >= 48 && event.charCode <= 57" } })
                                        @Html.ValidationMessageFor(m => m.EDU_DOCTOR, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Магистр:</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.EDU_MAGISTR, new { htmlAttributes = new { @class = "form-control form-control-sm text-right", @placeholder = "0", @onkeypress = "return event.charCode >= 48 && event.charCode <= 57" } })
                                        @Html.ValidationMessageFor(m => m.EDU_MAGISTR, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Бакалавр:</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.EDU_BAKLAVR, new { htmlAttributes = new { @class = "form-control form-control-sm text-right", @placeholder = "0", @onkeypress = "return event.charCode >= 48 && event.charCode <= 57" } })
                                        @Html.ValidationMessageFor(m => m.EDU_BAKLAVR, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Тусгай дунд:</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.EDU_AMONGST, new { htmlAttributes = new { @class = "form-control form-control-sm text-right", @placeholder = "0", @onkeypress = "return event.charCode >= 48 && event.charCode <= 57" } })
                                        @Html.ValidationMessageFor(m => m.EDU_AMONGST, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Бүрэн дунд:</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.EDU_JUNIOR_AMONGST, new { htmlAttributes = new { @class = "form-control form-control-sm text-right", @placeholder = "0", @onkeypress = "return event.charCode >= 48 && event.charCode <= 57" } })
                                        @Html.ValidationMessageFor(m => m.EDU_JUNIOR_AMONGST, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Мэргэшсэн нягтлан бодогч:</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.PRO_ACCOUNTANT, new { htmlAttributes = new { @class = "form-control form-control-sm text-right", @placeholder = "0", @onkeypress = "return event.charCode >= 48 && event.charCode <= 57" } })
                                        @Html.ValidationMessageFor(m => m.PRO_ACCOUNTANT, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Нягтлан бодогч, эдийн засагч:</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.ACCOUNTANT_ECONOMIST, new { htmlAttributes = new { @class = "form-control form-control-sm text-right", @placeholder = "0", @onkeypress = "return event.charCode >= 48 && event.charCode <= 57" } })
                                        @Html.ValidationMessageFor(m => m.ACCOUNTANT_ECONOMIST, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Хуульч:</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.LAWYER, new { htmlAttributes = new { @class = "form-control form-control-sm text-right", @placeholder = "0", @onkeypress = "return event.charCode >= 48 && event.charCode <= 57" } })
                                        @Html.ValidationMessageFor(m => m.LAWYER, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Инженер:</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.INGENER, new { htmlAttributes = new { @class = "form-control form-control-sm text-right", @placeholder = "0", @onkeypress = "return event.charCode >= 48 && event.charCode <= 57" } })
                                        @Html.ValidationMessageFor(m => m.INGENER, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Бусад:</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.OTHER_PROF, new { htmlAttributes = new { @class = "form-control form-control-sm text-right", @placeholder = "0", @onkeypress = "return event.charCode >= 48 && event.charCode <= 57" } })
                                        @Html.ValidationMessageFor(m => m.OTHER_PROF, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Сургалтын тоо:</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.STUDY_COUNT, new { htmlAttributes = new { @class = "form-control form-control-sm text-right", @placeholder = "0", @onkeypress = "return event.charCode >= 48 && event.charCode <= 57" } })
                                        @Html.ValidationMessageFor(m => m.STUDY_COUNT, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Хамрагдсан хүн /Бүгд/:</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.INCLUDED_MAN, new { htmlAttributes = new { @class = "form-control form-control-sm text-right", @placeholder = "0", @onkeypress = "return event.charCode >= 48 && event.charCode <= 57", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(m => m.INCLUDED_MAN, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Онлайн сургалтад хамрагдсан хүний тоо:</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.ONLINE_STUDY_COUNT, new { htmlAttributes = new { @class = "form-control form-control-sm text-right amount1", @placeholder = "0", @onkeypress = "return event.charCode >= 48 && event.charCode <= 57" } })
                                        @Html.ValidationMessageFor(m => m.ONLINE_STUDY_COUNT, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Орон нутагт зохион байгуулсан сургалтад оролцсон хүний тоо:</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.LOCAL_STUDY_COUNT, new { htmlAttributes = new { @class = "form-control form-control-sm text-right amount1", @placeholder = "0", @onkeypress = "return event.charCode >= 48 && event.charCode <= 57" } })
                                        @Html.ValidationMessageFor(m => m.LOCAL_STUDY_COUNT, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">ҮАГ дээр зохион байгуулсан сургалтад хамрагдсан хүний тоо:</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.AUDIT_STUDY_COUNT, new { htmlAttributes = new { @class = "form-control form-control-sm text-right amount1", @placeholder = "0", @onkeypress = "return event.charCode >= 48 && event.charCode <= 57" } })
                                        @Html.ValidationMessageFor(m => m.AUDIT_STUDY_COUNT, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Сургалтын тоо:</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.FOREIGN_STUDY_COUNT, new { htmlAttributes = new { @class = "form-control form-control-sm text-right", @placeholder = "0", @onkeypress = "return event.charCode >= 48 && event.charCode <= 57" } })
                                        @Html.ValidationMessageFor(m => m.FOREIGN_STUDY_COUNT, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Хүний тоо:</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.FOREIGN_MAN_COUNT, new { htmlAttributes = new { @class = "form-control form-control-sm text-right", @placeholder = "0", @onkeypress = "return event.charCode >= 48 && event.charCode <= 57" } })
                                        @Html.ValidationMessageFor(m => m.FOREIGN_MAN_COUNT, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Сургалтын тоо:</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.INSIDE_STUDY_COUNT, new { htmlAttributes = new { @class = "form-control form-control-sm text-right", @placeholder = "0", @onkeypress = "return event.charCode >= 48 && event.charCode <= 57" } })
                                        @Html.ValidationMessageFor(m => m.INSIDE_STUDY_COUNT, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Хүний тоо:</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.INSIDE_MAN_COUNT, new { htmlAttributes = new { @class = "form-control form-control-sm text-right", @placeholder = "0", @onkeypress = "return event.charCode >= 48 && event.charCode <= 57" } })
                                        @Html.ValidationMessageFor(m => m.INSIDE_MAN_COUNT, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Сургалтын тоо:</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.ORG_STUDY_COUNT, new { htmlAttributes = new { @class = "form-control form-control-sm text-right", @placeholder = "0", @onkeypress = "return event.charCode >= 48 && event.charCode <= 57" } })
                                        @Html.ValidationMessageFor(m => m.ORG_STUDY_COUNT, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Хүний тоо:</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.ORG_MAN_COUNT, new { htmlAttributes = new { @class = "form-control form-control-sm text-right", @placeholder = "0", @onkeypress = "return event.charCode >= 48 && event.charCode <= 57" } })
                                        @Html.ValidationMessageFor(m => m.ORG_MAN_COUNT, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Бүгд:</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.RESEARCH_ALL, new { htmlAttributes = new { @class = "form-control form-control-sm text-right", @placeholder = "0", @onkeypress = "return event.charCode >= 48 && event.charCode <= 57", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(m => m.RESEARCH_ALL, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Хэвлэмэлээр болон хувилж өгсөн тайлан:</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.PUBLISHED_REPORT, new { htmlAttributes = new { @class = "form-control form-control-sm text-right amount2", @placeholder = "0", @onkeypress = "return event.charCode >= 48 && event.charCode <= 57" } })
                                        @Html.ValidationMessageFor(m => m.PUBLISHED_REPORT, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Хэвлэлийн мэдээ, нийтлэл:</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.NEWS_ARTICLE, new { htmlAttributes = new { @class = "form-control form-control-sm text-right amount2", @placeholder = "0", @onkeypress = "return event.charCode >= 48 && event.charCode <= 57" } })
                                        @Html.ValidationMessageFor(m => m.NEWS_ARTICLE, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Радио, телевизийн мэдээ, нэвтрүүлэг:</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.TV_NEWS_BROADCAST, new { htmlAttributes = new { @class = "form-control form-control-sm text-right amount2", @placeholder = "0", @onkeypress = "return event.charCode >= 48 && event.charCode <= 57" } })
                                        @Html.ValidationMessageFor(m => m.TV_NEWS_BROADCAST, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Бусад байгууллагад хийсэн мэдээлэл, сурталчилгаа:</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.ORG_NEWS, new { htmlAttributes = new { @class = "form-control form-control-sm text-right  amount2", @placeholder = "0", @onkeypress = "return event.charCode >= 48 && event.charCode <= 57" } })
                                        @Html.ValidationMessageFor(m => m.ORG_NEWS, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Цахим хуудасны хандалтын тоо:</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.WEB_ACCESS, new { htmlAttributes = new { @class = "form-control form-control-sm text-right", @placeholder = "0", @onkeypress = "return event.charCode >= 48 && event.charCode <= 57" } })
                                        @Html.ValidationMessageFor(m => m.WEB_ACCESS, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Хүлээн авсан мэдээлэл, хүсэлт, өргөдөл:</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.RECEIVED_ALL, new { htmlAttributes = new { @class = "form-control form-control-sm text-right", @placeholder = "0", @onkeypress = "return event.charCode >= 48 && event.charCode <= 57", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(m => m.RECEIVED_ALL, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">ТАБ-ын үйл ажиллагаатай холбоотой:</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.TAB_WORKERS, new { htmlAttributes = new { @class = "form-control form-control-sm text-right amount3", @placeholder = "0", @onkeypress = "return event.charCode >= 48 && event.charCode <= 57" } })
                                        @Html.ValidationMessageFor(m => m.TAB_WORKERS, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">ТАБ-ын ажиллагсадын мэргэжлийн ур чадвар, ёс зүйтэй холбоотой:</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.TAB_SKILLS, new { htmlAttributes = new { @class = "form-control form-control-sm text-right amount3", @placeholder = "0", @onkeypress = "return event.charCode >= 48 && event.charCode <= 57" } })
                                        @Html.ValidationMessageFor(m => m.TAB_SKILLS, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Аудит хийлгэх тухай:</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.AUDIT_LET, new { htmlAttributes = new { @class = "form-control form-control-sm text-right amount3", @placeholder = "0", @onkeypress = "return event.charCode >= 48 && event.charCode <= 57" } })
                                        @Html.ValidationMessageFor(m => m.AUDIT_LET, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Бусад:</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.RECEIVED_OTHER, new { htmlAttributes = new { @class = "form-control form-control-sm text-right amount3", @placeholder = "0", @onkeypress = "return event.charCode >= 48 && event.charCode <= 57" } })
                                        @Html.ValidationMessageFor(m => m.RECEIVED_OTHER, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Хугацаанд нь шийдвэрлэсэн:</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.DECIDED_TIME, new { htmlAttributes = new { @class = "form-control form-control-sm text-right", @placeholder = "0", @onkeypress = "return event.charCode >= 48 && event.charCode <= 57" } })
                                        @Html.ValidationMessageFor(m => m.DECIDED_TIME, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Хугацаа болоогүй:</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.DEC_EXPIRED, new { htmlAttributes = new { @class = "form-control form-control-sm text-right", @placeholder = "0", @onkeypress = "return event.charCode >= 48 && event.charCode <= 57" } })
                                        @Html.ValidationMessageFor(m => m.DEC_EXPIRED, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Хугацаа хэтэрсэн:</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(m => m.DEC_UNEXPIRED, new { htmlAttributes = new { @class = "form-control form-control-sm text-right", @placeholder = "0", @onkeypress = "return event.charCode >= 48 && event.charCode <= 57" } })
                                        @Html.ValidationMessageFor(m => m.DEC_UNEXPIRED, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div style="text-align: right">
                            <button type="submit" class="btn btn-sm" style="background-color:#233772; color:#fff;">Хадгалах</button>
                            <button type="button" class="btn btn-sm btn-default bg-secondary text-white" data-dismiss="modal">Хаах</button>
                        </div>
                    </fieldset>
                </div>
            </div>
        }
    </div>
</div>
<script>
    $(document).ready(function () {
        /* $(".currency").maskMoney({ suffix: ' ' });*/
        $('.currency').formatCurrency();
        $('.currency').blur(function () {
            $('.currency').html(null);
            $(this).formatCurrency({ colorize: true, negativeFormat: '%s%n', roundToDecimalPlace: 2 });
        })
            .keyup(function (e) {
                var e = window.event || e;
                var keyUnicode = e.charCode || e.keyCode;
                if (e !== undefined) {
                    switch (keyUnicode) {
                        case 16: break; // Shift
                        case 17: break; // Ctrl
                        case 18: break; // Alt
                        case 27: this.value = ''; break; // Esc: clear entry
                        case 35: break; // End
                        case 36: break; // Home
                        case 37: break; // cursor left
                        case 38: break; // cursor up
                        case 39: break; // cursor right
                        case 40: break; // cursor down
                        case 78: break; // N (Opera 9.63+ maps the "." from the number key section to the "N" key too!) (See: http://unixpapa.com/js/key.html search for ". Del")
                        case 110: break; // . number block (Opera 9.63+ maps the "." from the number block to the "N" key (78) !!!)
                        case 190: break; // .
                        default: $(this).formatCurrency({ colorize: true, negativeFormat: '-%s%n', roundToDecimalPlace: -1, eventOnDecimalsEntered: true });
                    }
                }
            })
    });
</script>
<script>
  $( function() {
      $(".datepicker").datepicker({
          beforeShow: function () {
              setTimeout(function () {
                  $('.ui-datepicker').css('z-index', 99999999999999);
              }, 0);
          },
          changeMonth: true,
          changeYear: true,
          dateFormat: "yy/mm/dd",
          firstDay: 1,
          dayNamesMin: ["Ня", "Да", "Мя", "Лха", "Пү", "Ба", "Бя"],
          monthNamesShort: ["1-сар", "2-сар", "3-сар", "4-сар", "5-сар", "6-сар", "7-сар", "8-сар", "9-сар", "10-сар", "11-сар", "12-сар"],
          maxDate: "+0D",
          showOn: "button",
          buttonImage: "@Url.Content("~/Images/calendar.png")",
          buttonImageOnly: true,
          buttonText: "Select date"
      });
      calculateSum1();
      calculateSum2();
      calculateSum3();

      $(".amount1").on("keydown keyup", function () {
          calculateSum1();
      });
      $(".amount1").on("change", function () {
          calculateSum1();
      });
      $(".amount2").on("keydown keyup", function () {
          calculateSum2();
      });
      $(".amount2").on("change", function () {
          calculateSum2();
      });
      $(".amount3").on("keydown keyup", function () {
          calculateSum3();
      });
      $(".amount3").on("change", function () {
          calculateSum3();
      });

      function calculateSum1() {
          var sum = 0;
          $(".amount1").each(function () {
              if (!isNaN(parseFloat(this.value)) && this.value.length != 0) {
                  sum += parseFloat(this.value);
              }
          });
          if (isNaN(sum)) {
              sum = 0;
          }
          $("#INCLUDED_MAN").val(sum);
      }


      function calculateSum2() {
          var total = 0;
          $(".amount2").each(function () {
              if (!isNaN(parseFloat(this.value)) && this.value.length != 0) {
                  total += parseFloat(this.value);
              }
          });
          if (isNaN(total)) {
              total = 0;
          }
          $("#RESEARCH_ALL").val(total);

      }
      function calculateSum3() {
          var total = 0;
          $(".amount3").each(function () {
              if (!isNaN(parseFloat(this.value)) && this.value.length != 0) {
                  total += parseFloat(this.value);
              }
          });
          if (isNaN(total)) {
              total = 0;
          }
          $("#RECEIVED_ALL").val(total);

      }
  });

</script>