@using Audit.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Аудит</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- Custom fonts for this template-->
    <link href="~/Plugins/fontawesome/css/all.min.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="~/Plugins/datatables/dataTables.bootstrap4.min.css" />

    <link rel="stylesheet" href="~/Plugins/jquery-ui/jquery-ui.css">
    <link rel="stylesheet" href="~/Plugins/noti/notifications.css">
    <style>
        .spinner {
            position: fixed;
            height: 100%;
            width: 100%;
            top: 0;
            display: none;
        }

        .center {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(255,255,255,0.3);
        }

        .header {
            background-color: transparent;
            background-image: url(../../Images/header-back.png);
            background-repeat: repeat-x;
        }

        .menu li {
            border-bottom: solid 1px #fff;
        }
        .bg-gradient-primary {
            background-image: none;
        }
    </style>
</head>
<body id="page-top">
    <div id="progress" style="z-index:9999;" class="spinner">
        <div class="center">
            <img src="~/Images/spinner.gif" width="200" />
        </div>
    </div>
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
                <span class="sidebar-brand-icon ">
                    <img src="@Url.Content("~/Images/Logo-1.png")" style="width:30px;" />
                </span>
                <span class="sidebar-brand-text mx-3" style="font-size: 0.5rem; font-weight: normal;">
                    Шалгагдагч этгээдийн<br />
                    бүртгэлийн программ
                </span>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            @Html.Action("Menus", "Home", new { Area = "" })

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-gradient-primary topbar mb-2 static-top">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-white small">
                                    Сайн байна уу, @User.Identity.Name.ToUpper()
                                </span>

                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Тохиргоо
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("Logout", "Authentication")">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Гарах
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid" id="mainbody">
                    @RenderBody()
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span> &copy; Үндэсний аудитын газрын мэдээллийн технологийн төв. @DateTime.Now.Year он</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Plugins/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/Scripts/xlsx.full.min.js"></script>

    <script src="~/Plugins/jquery-ui/jquery-ui.js"></script>


    <script src="~/Plugins/noti/notifications.js"></script>
    <script src="~/Scripts/Application.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
