@using Audit.Models
@model Audit.Models.OrgVM

@{
    var status = Model.statuses.Select(c => new
    {
        ID = c.STATUS_ID,
        Name = c.STATUS_NAME
    }).ToList();
    Model.Status = new MultiSelectList(status, "ID", "Name");

    var violation = Model.violations.Select(c => new
    {
        ID = c.VIOLATION_ID,
        Name = c.VIOLATION_NAME
    }).ToList();
    Model.Violation = new MultiSelectList(violation, "ID", "Name");
}
<form method="post" id="FilterForm">
    <div class="d-flex flex-wrap mb-2">
        <div class="form-group-sm pr-2">
            <label for="PARENT_BUDGET_ID" class="col-form-label">Төсвийн ерөнхийлөн захирагч:</label>
            @Html.DropDownListFor(model => model.PARENT_BUDGET_ID, Model.parentBudgetTypes.Select(m => new SelectListItem { Text = m.PARENT_BUGDET_NAME, Value = m.PARENT_BUDGET_ID.ToString() }).ToList(), "Сонгоно уу", htmlAttributes: new { @class = "form-control form-control-sm", @style = "width: 189px;" })
        </div>

        <div class="form-group-sm pr-2">
            <label for="BudgetTypeID" class="col-form-label">Төсөв захирагчийн ангилал:</label>

            @Html.DropDownListFor(model => model.BudgetTypeID, new SelectList(
                     new List<Object>{
                          new { value = "" , text = "Сонгоно уу" },
                          new { value = 1 , text = "ТЕЗ" },
                          new { value = 2 , text = "ТТЗ" },
                          new { value = 3 , text = "ТШЗ" },
                         }, "value", "text"), new { @class = "form-control form-control-sm" })
        </div>

        <div class="form-group-sm pr-2">
            <label for="BUDGET_LEVEL_ID" class="col-form-label">Төсвийн ангилал:</label>

            @Html.DropDownListFor(model => model.BUDGET_LEVEL_ID, new SelectList(
                     new List<Object>{
                          new { value = "" , text = "Сонгоно уу" },
                          new { value = 1 , text = "Улсын төсөв" },
                          new { value = 2 , text = "Орон нутгийн төсөв" },
                          new { value = 3 , text = "Нийгмийн даатгалын сан" },
                          new { value = 4 , text = "Эрүүл мэндийн даатгалын сан" },
                         }, "value", "text"), new { @class = "form-control form-control-sm" })
        </div>

        @*@if (Role.hasHeadAuditorRole(User))
        {*@
        <div class="form-group-sm pr-2">
            <label for="DeparmentID" class="col-form-label">Алба:</label>
            @Html.DropDownListFor(model => model.DeparmentID, Model.departments.Select(m => new SelectListItem { Text = m.DEPARTMENT_NAME, Value = m.DEPARTMENT_ID.ToString() }).ToList(), "Сонгоно уу", htmlAttributes: new { @class = "form-control form-control-sm" })
        </div>
        @*}*@

        <div class="form-group-sm pr-2">
            <label for="StatusID" class="col-form-label">Төлөв:</label><br />
            @Html.ListBoxFor(model => model.StatusIDs, Model.Status, new { id = "status" })
        </div>
        <div class="form-group-sm pr-2">
            <label for="ViolationID" class="col-form-label">Алдаа:</label><br />
            @Html.ListBoxFor(model => model.ViolationIDs, Model.Violation, new { id = "violation" })
        </div>
        @if (Model.menuRoles.Any(m => m.ROLE_NAME == "RECORD_ADD"))
        {
            <div class="form-group-sm ml-auto pr-2">
                <a href="#" class="btn btn-sm btn-secondary btn-icon-split" onclick="Organization.loadTemplate();">
                    <span class="icon text-white-50">
                        <i class="fas fa-plus"></i>
                    </span>
                    <span class="text">Шинэ бүртгэл</span>
                </a>
            </div>
        }

        <div class="form-group-sm pr-2">
            <a href="#" class="btn btn-sm btn-success btn-icon-split" id="exportXLSX" onclick="exportFile('organizationlist', 'Шалгагдагч этгээдийн жагсаалт')">
                <span class="icon text-white-50">
                    <i class="fas fa-file-excel"></i>
                </span>
                <span class="text">Excel</span>
            </a>
        </div>
    </div>
</form>
<div class="row mb-2">
    <div class="col-12" id="OrgList">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered datatable display" id="organizationlist" style="width:100%">
                        <thead>
                            <tr>
                                <th class="text-center">№</th>
                                <th>Дээд шатны төсөв захирагч</th>
                                <th>Шалгагдагч байгууллагын нэр</th>
                                <th>Регистрийн дугаар</th>
                                <th>Төсөв захирагчийн ангилал</th>
                                <th>Төсвийн ангилал</th>
                                <th>Харъяа аудитын газар</th>
                                @*<th>Дээд шатны төсөв захирагч</th>*@
                                <th>Алдааны мэдээлэл</th>
                                <th>Төлөв</th>
                                @*<th>Сануулга</th>*@
                                <th>Үйлдэл</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>

        $(document).ready(function () {
            orgListInit();
        })
        var table;
        function orgListInit(pagelength = 10) {
            table = $("#organizationlist").DataTable({
                "serverSide": true,
                "processing": true,
                "ajax": {
                    url: "/api/service/orglist",
                    type: 'POST',
                    data: function (data) {
                        data.status = $('#status').val();
                        data.violation = $('#violation option:selected').toArray().map(item => item.text).join();
                        data.DeparmentID = $('#DeparmentID').val();
                        data.budget_type = $('#BudgetTypeID').val();
                        data.PARENT_BUDGET_ID = $('#PARENT_BUDGET_ID').val();
                        data.BUDGET_LEVEL_ID = $('#BUDGET_LEVEL_ID').val();
                        return data;
                    }
                },
                createdRow: function (row, data, dataIndex) {
                    $(row).attr('data-id', data.ORG_ID);
                },
                //"columnDefs": [
                //    { "type": "case-sensitive", targets: 0 }],
                "columns": [
                    {
                        "data": null, "sortable": false, "class": 'text-center',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { "data": "TEZ_NAME", "name": "TEZ_NAME" },
                    { "data": "ENT_NAME", "name": "ENT_NAME" },
                    { "data": "ORG_REGISTER_NO", "name": "ORG_REGISTER_NO" },
                    { "data": "BUDGET_SHORT_NAME", "name": "BUDGET_SHORT_NAME" },
                    { "data": "BUDGET_LEVEL_NAME", "name": "BUDGET_LEVEL_NAME" },
                    { "data": "DEPARTMENT_NAME", "name": "DEPARTMENT_NAME" },
                    { "data": "ENT_VIOLATION", "name": "ENT_VIOLATION" },
                    { "data": "ENT_INFO", "name": "ENT_INFO" },
                    {
                    "data": null, "sortable": false, "class": 'text-center',
                        render: function (data, type, row, meta) {
                            var tmp = '<div class="btn-group">';
                            var urledit = '<a href="#" class="btn btn-sm" onclick="Organization.edit(' + data.ORG_ID + ')"><i class="fa fa-edit text-warning"></i></a>';
                            var urldelete = '<a href="#" class="btn btn-sm" onclick="Organization.delete(' + data.ORG_ID + ')"><i class="fa fa-trash-alt text-danger" ></i></a>';
                            if ('True' == '@Model.menuRoles.Any(m=>m.ROLE_NAME == "RECORD_EDIT")')
                                tmp += urledit;
                            if ('True' == '@Model.menuRoles.Any(m=>m.ROLE_NAME == "RECORD_DELETE")')
                                tmp += urldelete;
                            tmp += "</div>";
                        return tmp;
                    //return '<div class="btn-group">'+
                    //            '<a class="btn btn-sm" href="#" onclick="Organization.edit('+data.ORG_ID+')">'+
                    //                '<i class="fa fa-edit"></i>'+
                    //            '</a>'+
                    //            '<a class="btn btn-sm" href="#" onclick="Organization.delete('+data.ORG_ID+')">'+
                    //                '<i class="fa fa-trash-alt" ></i> '+
                    //            '</a> '+
                    //        '</div>';
                }
            }
                ],
                "destroy": true,
                "scrollCollapse": true,
                "paging": true,
                "pageLength": pagelength,
                "lengthMenu": [[10, 25, 50], [10, 25, 50]],
                "filter": true,
                "info": true,
                "stateSave": false,
                "bAutoWidth": false,
                lengthChange: true,
                "language": datatables.language

            });
        }
        $('#status').multiselect({
            nonSelectedText: "Сонгоно уу",
            buttonClass: 'form-control form-control-sm',
            onChange: function (option, checked, select) {
                orgListInit();
            }
        });
        $('#violation').multiselect({
            nonSelectedText: "Сонгоно уу",
            buttonClass: 'form-control form-control-sm',
            onChange: function (option, checked, select) {
                orgListInit();
            }
        });
        $('#DeparmentID').change(function () {
            orgListInit();
        });
        $('#PARENT_BUDGET_ID').change(function () {
            orgListInit();
        });
        $('#BudgetTypeID').change(function () {
            orgListInit();
        });
        $('#BUDGET_LEVEL_ID').change(function () {
            orgListInit();
        });
        var Organization = {
            OrgID: null,
        display: function (data) {
            $("div#orgmodalcontainer").remove();
            $('<div/>', { id: "orgmodalcontainer" }).appendTo('body').append(data);

            $('#OrgModal #ORG_OFFICE_ID').change(function () {
                if ($("#OrgModal #ORG_SUB_OFFICE_ID").children().length > 1)
                    $("#OrgModal #ORG_SUB_OFFICE_ID option:not(:first)").remove();
                var $options = $("#OrgModal #ddSubOfficeHidden option[value^='" + $(this).val() + ":']").clone().each(function () {
                    $(this).val($(this).val().split(':')[1]);
                });
                $("#OrgModal #ORG_SUB_OFFICE_ID").append($options);

            });

            $('#OrgModal #ORG_BUDGET_TYPE_ID').change(function () {
                if ($("#OrgModal #ORG_SUB_BUDGET_TYPE_ID").children().length > 1)
                    $("#OrgModal #ORG_SUB_BUDGET_TYPE_ID option:not(:first)").remove();
                var $options = $("#OrgModal #ddSubBudgetHidden option[value^='" + $(this).val() + ":']").clone().each(function () {
                    $(this).val($(this).val().split(':')[1]);
                });
                $("#OrgModal #ORG_SUB_BUDGET_TYPE_ID").append($options);

            });

            $("#OrgModal").modal({ show: true });
        },
        displayDelete: function (data) {
            $("div#orgmodaldeletecontainer").remove();
            $('<div/>', { id: "orgmodaldeletecontainer" }).appendTo('body').append(data);

            $('#OrgDeleteModal').modal({ show: true });
        },
        loadTemplate: function () {
            $.ajax({
                    url: "@Url.Action("OrgAddEdit", "Home", new { Area = "" })",
                    type: 'GET',
                    success: function (data) {
                        Organization.display(data);
                    },
                    error: errorResponse,
                    beforeSend: function () {
                        Modal.show();
                    },
                    complete: function () {
                        Modal.hide();
                    }
                });
        },
        @*list: function () {
            $.ajax({
                url: "@Url.Action("OrgList","Home")",
                type: "POST",
                success: function (data, status, xhr) {
                    $("#OrgList").html(data);
                    initDataTable();
                },
                error: errorResponse,
                beforeSend: function () {
                    Modal.show();
                },
                complete: function () {
                    Modal.hide();
                }
            })
        },*@
            edit: function (orgid) {
                console.log("@Model.menuRoles.Any(m => m.ROLE_NAME == "RECORD_CONFIRM")" !== "False")
                if ("@Model.menuRoles.Any(m => m.ROLE_NAME == "RECORD_CONFIRM")" !== "False")
                    isshow = true
                else
                    isshow = false
            $.ajax({
                url: "@Url.Action("OrgDetail", "Home", new { Area = "" })",
                type: 'POST',
                data: { orgid, isshow },
                success: function (data, status, xhr) {
                    Organization.progressResponse(data, status, xhr);
                },
                error: errorResponse,
                beforeSend: function () {
                    Modal.show();
                },
                complete: function () {
                    Modal.hide();
                }
            });
        },
        delete: function (orgid) {
            Organization.OrgID = orgid;
                $.ajax({
                url: "@Url.Action("OrgDelete", "Home", new { Area = "" })",
                type: 'GET',
                    data: { orgid },
                success: function (data, status, xhr) {
                    Organization.displayDelete(data);
                },
                error: errorResponse,
                beforeSend: function () {
                    Modal.show();
                },
                complete: function () {
                    Modal.hide();
                }
            });
        },
        confirm: function (orgid) {
            var result = confirm("Баталгаажуулах уу?");
            if (result) {
                $.ajax({
                    url: "@Url.Action("OrgConfirm", "Home", new { Area = "" })",
                    type: 'POST',
                    data: { orgid },
                    dataType: "json",
                    success: function (data, status, xhr) {
                        Organization.progressResponse(data, status, xhr, true);
                    },
                    error: errorResponse,
                    beforeSend: function () {
                        Modal.show();
                    },
                    complete: function () {
                        Modal.hide();
                    }
                });
            }
        },
        close: function () {
            $("#OrgModal").modal("hide");
            $('#OrgDeleteModal').modal("hide");
        },
        progressResponse: function (data, status, xhr, confirmed=false,deleted=false) {
            var ct = xhr.getResponseHeader("content-type") || "";
            if (ct.indexOf("html") > -1) {
                Organization.display(data);
            }
            if (ct.indexOf('json') > -1) {
                if (data.error) {
                    Message.error(data.message);
                } else {
                    $('.modal-backdrop:first').remove()
                    Organization.close();

                    if (deleted == true) {
                        if (!data.error)
                            table.row($("tr[data-id='" + Organization.OrgID + "']")).remove().draw();
                    }
                    if (confirmed == false && deleted == false) {
                        orgListInit();
                    }
                    Message.success(data.message);
                }
            }
        }
        }
            //Organization.list();

        function addTab(type, regid, registerno) {
            var url, title;
            switch (type) {
                case 1:
                    url = "@Url.Action("AddTabUB","Home")";
                    title = "УБ";
                break;
                case 2:
                    url = "@Url.Action("AddTabMOF", "Home")";
                    title = "СЯ";
                break;
                case 3:
                    url = "@Url.Action("AddTabTAX", "Home")";
                    title = "ТА";
                break;
            }

            $.ajax({
                url: url,
                type: "POST",
                data: { reg_id:regid },
                success: function (data, status, xhr) {
                    $("#myTab").append('<li class="nav-item" role="presentation" id="tabid_' + regid +'">' +
                        '<a class="nav-link" id="lib-tab_' + regid + '" data-toggle="tab" href="#lib_' + regid + '" role="tab" aria-selected="false">' + title + "-" + registerno + '<span onclick="removeTab(' + regid + ')" style="display: inline-block; color: #737373; position: absolute; padding-left: 10px; font-size:10px;">X</span></a></li>');
                    $("#myTabContent").append('<div class="tab-pane fade" id="lib_' + regid + '" role="tabpanel" aria-labelledby="lib-tab_' + regid + '">' +
                        '<br />'+ data+'</div>');
                    $("#myTab #lib-tab_"+regid).unbind().click();
                },
                error: errorResponse,
                beforeSend: function () {
                    Modal.show();
                },
                complete: function () {
                    Modal.hide();
                }
            })
        }

        function removeTab(regid) {
            $("#tabid_" + regid).remove();
            $("#lib_" + regid).remove();
            $('#myTab a:last').tab('show');
        }

        function exportFile(tableid, excelname,) {
            $('#exportXLSX').prop('disabled', true);
            table.destroy();
            orgListInit(-1);

            setTimeout(function () {
                var wb = XLSX.utils.table_to_book(document.getElementById(tableid));
                XLSX.writeFile(wb, excelname + '.xlsx');

                table.destroy();
                orgListInit();
                $('#exportXLSX').prop('disabled', false);
                }, 5000
            )
        }

    </script>
}
