@using Audit.Models
@model Audit.Models.OrgVM
<form method="post" id="FilterForm">
    <div class="d-flex flex-wrap mb-2">
        @if (Role.hasAdminRole(User))
        {
            <div class="form-group-sm pr-2">
                <label for="DeparmentID" class="col-form-label">Алба:</label>
                @Html.DropDownListFor(model => model.DeparmentID, Model.departments.Select(m => new SelectListItem { Text = m.DEPARTMENT_NAME, Value = m.DEPARTMENT_ID.ToString() }).ToList(), "Сонгоно уу", htmlAttributes: new { @class = "form-control form-control-sm" })
            </div>
        }
        <div class="form-group-sm pr-2">
            <label for="StatusID" class="col-form-label">Төлөв:</label>
            @Html.DropDownListFor(model => model.StatusID, Model.statuses.Select(m => new SelectListItem { Text = m.STATUS_NAME, Value = m.STATUS_ID.ToString() }).ToList(), "Сонгоно уу", htmlAttributes: new { @class = "form-control form-control-sm" })
        </div>
        <div class="form-group-sm pr-2">
            <label for="ViolationID" class="col-form-label">Алдаа:</label>
            @Html.DropDownListFor(model => model.ViolationID, Model.violations.Select(m => new SelectListItem { Text = m.VIOLATION_NAME, Value = m.VIOLATION_ID.ToString() }).ToList(), "Сонгоно уу", htmlAttributes: new { @class = "form-control form-control-sm" })
        </div>

        <div class="form-group-sm ml-auto pr-2">
            <a href="#" class="btn btn-sm btn-secondary btn-icon-split" style="margin-top: 32px;" onclick="Organization.loadTemplate();">
                <span class="icon text-white-50">
                    <i class="fas fa-plus"></i>
                </span>
                <span class="text">Шинэ бүртгэл</span>
            </a>
        </div>
        <div class="form-group-sm pr-2">
            <a href="#" class="btn btn-sm btn-success btn-icon-split" style="margin-top: 32px;" onclick="exportFile('organizationlist', 'Шалгагдагч этгээдийн жагсаалт')">
                <span class="icon text-white-50">
                    <i class="fas fa-file-excel"></i>
                </span>
                <span class="text">Excel</span>
            </a>
        </div>
        @* <button class="btn text-uppercase text-white ml-auto" style="background-color:#233772" onclick="Organization.add();"><i class="fa fa-plus"></i> Шалгагдагч бүртгэх</button>*@
    </div>
</form>
<div class="row mb-2">    
    <div class="col-12" id="OrgList">

    </div>
</div>

    @section scripts{
        <script>

            $('#DeparmentID').change(function () {                
                if ($("#DeparmentID option:selected").val()=='') 
                    $('#organizationlist_filter label input').val('').keyup();                
                else
                    $('#organizationlist_filter label input').val($('#DeparmentID option:selected').text()).keyup();
            })
            $('#StatusID').change(function () {
                if ($("#StatusID option:selected").val() == '')
                    $('#organizationlist_filter label input').val('').keyup();
                else
                    $('#organizationlist_filter label input').val($('#StatusID option:selected').text()).keyup();
            })
            $('#ViolationID').change(function () {
                if ($("#ViolationID option:selected").val() == '')
                    $('#organizationlist_filter label input').val('').keyup();
                else
                    $('#organizationlist_filter label input').val($('#ViolationID option:selected').text()).keyup();
            })
            var Organization = {
                OrgID:null,
            display: function (data) {
                $("div#orgmodalcontainer").remove();
                $('<div/>', { id: "orgmodalcontainer" }).appendTo('body').append(data);

                $('#OrgModal #ORG_OFFICE_ID').change(function () {
                    if ($("#OrgModal #ORG_SUB_OFFICE_ID").children().length > 1)
                        $("#OrgModal #ORG_SUB_OFFICE_ID option:not(:first)").remove();
                    var $options = $("#OrgModal #ddSubOfficeHidden option[value^='" + $(this).val() + ":']").clone().each(function () {
                        $(this).val($(this).val().split(':')[1]);
                    });
                    $("#OrgModal #ORG_SUB_OFFICE_ID").append($options);

                });

                $('#OrgModal #ORG_BUDGET_TYPE_ID').change(function () {
                    if ($("#OrgModal #ORG_SUB_BUDGET_TYPE_ID").children().length > 1)
                        $("#OrgModal #ORG_SUB_BUDGET_TYPE_ID option:not(:first)").remove();
                    var $options = $("#OrgModal #ddSubBudgetHidden option[value^='" + $(this).val() + ":']").clone().each(function () {
                        $(this).val($(this).val().split(':')[1]);
                    });
                    $("#OrgModal #ORG_SUB_BUDGET_TYPE_ID").append($options);

                });

                $("#OrgModal").modal({ show: true });
            },
            displayDelete: function (data) {
                $("div#orgmodaldeletecontainer").remove();
                $('<div/>', { id: "orgmodaldeletecontainer" }).appendTo('body').append(data);

                $('#OrgDeleteModal').modal({ show: true });
            },
            loadTemplate: function () {
                $.ajax({
                        url: "@Url.Action("OrgAddEdit", "Home", new { Area = "" })",
                        type: 'GET',
                        success: function (data) {
                            Organization.display(data);
                        },
                        error: errorResponse,
                        beforeSend: function () {
                            Modal.show();
                        },
                        complete: function () {
                            Modal.hide();
                        }
                    });
            },
            list: function () {
                $.ajax({
                    url: "@Url.Action("OrgList","Home")",
                    type: "POST",
                    success: function (data, status, xhr) {
                        $("#OrgList").html(data);
                        initDataTable();
                    },
                    error: errorResponse,
                    beforeSend: function () {
                        Modal.show();
                    },
                    complete: function () {
                        Modal.hide();
                    }
                })
            },
            edit: function (orgid) {
                $.ajax({
                    url: "@Url.Action("OrgDetail", "Home", new { Area = "" })",
                    type: 'POST',
                    data: { orgid },
                    success: function (data, status, xhr) {
                        Organization.progressResponse(data, status, xhr);
                    },
                    error: errorResponse,
                    beforeSend: function () {
                        Modal.show();
                    },
                    complete: function () {
                        Modal.hide();
                    }
                });
            },
            delete: function (orgid) {
                Organization.OrgID = orgid;
                 $.ajax({
                    url: "@Url.Action("OrgDelete", "Home", new { Area = "" })",
                    type: 'GET',
                     data: { orgid },
                    success: function (data, status, xhr) {
                        Organization.displayDelete(data);
                    },
                    error: errorResponse,
                    beforeSend: function () {
                        Modal.show();
                    },
                    complete: function () {
                        Modal.hide();
                    }
                });
            },
            confirm: function (orgid) {
                var result = confirm("Баталгаажуулах уу?");
                if (result) {
                    $.ajax({
                        url: "@Url.Action("OrgConfirm", "Home", new { Area = "" })",
                        type: 'POST',
                        data: { orgid },
                        dataType: "json",
                        success: function (data, status, xhr) {
                            Organization.progressResponse(data, status, xhr, true);
                        },
                        error: errorResponse,
                        beforeSend: function () {
                            Modal.show();
                        },
                        complete: function () {
                            Modal.hide();
                        }
                    });
                }
            },
            close: function () {
                $("#OrgModal").modal("hide");
                $('#OrgDeleteModal').modal("hide");
            },
            progressResponse: function (data, status, xhr, confirmed=false,deleted=false) {
                var ct = xhr.getResponseHeader("content-type") || "";
                if (ct.indexOf("html") > -1) {
                   Organization.display(data);
                }
                if (ct.indexOf('json') > -1) {
                    if (data.error) {
                        Message.error(data.message);
                    } else {
                        $('.modal-backdrop:first').remove()
                        Organization.close();
                        if (deleted == true) {
                            if (!data.error)
                                table.row($("tr[data-id='" + Organization.OrgID + "']")).remove().draw();
                        }
                        if (confirmed == false) {
                            Organization.list();
                        }
                        Message.success(data.message);
                    }
                }
            }
        }
            Organization.list();

            function addTab(type, regid, registerno) {
                var url, title;
                switch (type) {
                    case 1:
                        url = "@Url.Action("AddTabUB","Home")";
                        title = "УБ";
                    break;
                  case 2:
                        url = "@Url.Action("AddTabMOF", "Home")";
                        title = "СЯ";
                    break;
                }

                $.ajax({
                    url: url,
                    type: "POST",
                    data: { reg_id:regid },
                    success: function (data, status, xhr) {
                        $("#myTab").append('<li class="nav-item" role="presentation" id="tabid_' + regid +'">' +
                            '<a class="nav-link" id="lib-tab_' + regid + '" data-toggle="tab" href="#lib_' + regid + '" role="tab" aria-selected="false">' + title + "-" + registerno + '<span onclick="removeTab(' + regid + ')" style="display: inline-block; color: #737373; position: absolute; padding-left: 10px; font-size:10px;">X</span></a></li>');
                        $("#myTabContent").append('<div class="tab-pane fade" id="lib_' + regid + '" role="tabpanel" aria-labelledby="lib-tab_' + regid + '">' +
                            '<br />'+ data+'</div>');
                        $("#myTab #lib-tab_"+regid).unbind().click();
                    },
                    error: errorResponse,
                    beforeSend: function () {
                        Modal.show();
                    },
                    complete: function () {
                        Modal.hide();
                    }
                })
            }
            function removeTab(regid) {
                $("#tabid_" + regid).remove();
                $("#lib_" + regid).remove();
                $('#myTab a:last').tab('show');
            }
        </script>
    }
