
<div id="ListTEZModal" class="modal fade bs-example-modal-lg modal-lvl1" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" style="max-width:40%;margin: 0 auto;">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">ТӨСВИЙН ЕРӨНХИЙ ЗАХИРАГЧИЙН ЖАГСААЛТ</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color:#fff;">x</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <table id="bm0list2020" class="table table-sm table-bordered table-hover" style="width:100%">
                            <thead>
                                <tr class="text-center table-header-footer">
                                    <td>Төсвийн захирагчийн ангилал</td>
                                    <td> Шалгагдагч байгуулгын нэр</td>
                                    <td>Регистрийн дугаар</td>
                                    @*<td>Үйлдэл</td>*@
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center">2</td>
                                    <td>Нэр</td>
                                    <td>54684655</td>
                                    <td>    
                                        <a @*onclick="Choose2020('@item.AUDIT_TYPE', '@item.TOPIC_TYPE', '@item.TOPIC_CODE', '@item.TOPIC_NAME', '@item.ORDER_NO', '@item.AUDIT_BUDGET_TYPE', '@item.AUDIT_FORM_TYPE', '@item.AUDIT_PROPOSAL_TYPE')"*@
                                           style="cursor:pointer; text-decoration:underline;">Сонгох</a>
                                    </td>
                                </tr>
                            </tbody>

