@model Audit.Models.Organization

<style>
    .modal-header {
        background-color: #233772;
        padding: 0.5rem 1rem;
    }

    .modal-title {
        text-transform: uppercase;
        color: #fff;
    }
    .tab-content {
        min-height: 500px;
    }
    .close {
        font-weight: normal;
        text-shadow: none;
        opacity: inherit;
    }

    .col-form-label {
        padding-top: 0;
        padding-bottom: 0;
    }

    .form-group {
        margin-bottom: 0.5rem;
    }

    .field-validation-error {
        font-size: 12px;
    }

    .modal-body h6 {
        text-transform: uppercase;
        color: #233772;
    }

    label {
        font-size: 12px !important;
    }
    div.ui-datepicker {
        font-size: 12px;
    }
    .ui-datepicker-trigger {
        position: absolute;
        right: 15px;
        top:7px;
    }
    .nav-tabs {
        background-color: white;
        height: auto;
        width: 100%;
    }
        .nav-tabs .nav-item {
            background-color: #e7e7e5;
            border-top-right-radius: 7px;
            border-top-left-radius: 7px;
        }
            .nav-tabs .nav-item.show .nav-item, .nav-tabs .nav-link.active {
                background-color: #e7e7e5;
                border: none !important;
                border-top-right-radius: 7px;
                border-top-left-radius: 7px;
                color: #1b508a;
            }
        .nav-tabs .nav-link {
            border: none;
            color: #1b508a;
            font-weight: bold;
            font-size: small;
            padding: 4px 20px;
            height: auto;
            align-self: center;
            border-color: white;
            border-style: solid;
            border-width: 3.5px;
            border-top: none;
        }
</style>
<div class="modal fade" id="OrgModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="max-width:90%;margin: 0 auto;">
        @using (Ajax.BeginForm("OrgAddEdit", "Home", new { Area = "" },
                   new AjaxOptions
                   {
                       UpdateTargetId = "orgmodalcontainer",
                       OnBegin = "Modal.show()",
                       OnComplete = "Modal.hide(); $('#OrgModal').modal({ show: true }); $('.modal-backdrop:first').remove()",
                       OnSuccess = "Organization.progressResponse(data, status, xhr)",
                       OnFailure = "errorResponse",
                       HttpMethod = "Post",
                       InsertionMode = InsertionMode.Replace
                   },
                   new { @class = "form-horizontal", @autocomplete = "off" }))
        {
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="exampleModalLabel">Шалгагдагч байгууллагын бүртгэл</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color:#fff;">x</span></button>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        @if (Model != null && Model.ORG_ID != 0)
                        {
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="staus-tab" data-toggle="tab" href="#staus" role="tab" aria-selected="true">
                                    Дэлгэрэнгүй
                                </a>

                            </li>
                        }
                        @if (Model != null && Model.organizationUBs.Count != 0)
                        {
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="ub-tab" data-toggle="tab" href="#ub" role="tab" aria-selected="false">УБ</a>
                            </li>
                        }
                        @if (Model != null && Model.organizationMOFs.Count != 0)
                        {
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="mof-tab" data-toggle="tab" href="#mof" role="tab" aria-selected="false">СЯ</a>
                            </li>
                        }
                        @if (Model != null && Model.organizationTAXs.Count != 0)
                        {
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="tax-tab" data-toggle="tab" href="#tax" role="tab" aria-selected="false">TA</a>
                            </li>
                        }
                        @if (Model != null && Model.ORG_ID != 0)
                        {
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="lib-tab" data-toggle="tab" href="#lib" role="tab" aria-selected="false">Лавлах</a>
                            </li>
                        }
                    </ul>
                    <div class="tab-content" id="myTabContent" style="background-color: #e7e7e5; padding:0 10px">
                        <div class="tab-pane fade show active" id="staus" role="tabpanel" aria-labelledby="staus-tab">
                            <fieldset>
                                <div class="hidden text-danger error-msgs">
                                    <ul></ul>
                                </div>
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(m => m.ORG_ID)
                                @Html.HiddenFor(m => m.ORGB_ID)
                                @Html.HiddenFor(m => m.ORGB_ID2)
                                @Html.HiddenFor(m => m.ORGP_ID)
                                @Html.HiddenFor(m => m.ORGP_ID2)
                                <h6>Байгууллагатай холбоотой мэдээлэл</h6>
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Дугаар:</label>
                                            <div class="col-sm-8">
                                                @Html.EditorFor(m => m.ORG_CODE, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                                @Html.ValidationMessageFor(m => m.ORG_CODE, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Байгуулагдсан огноо:</label>
                                            <div class="col-sm-8">
                                                @Html.EditorFor(m => m.ORG_REG_DATE, new { htmlAttributes = new { @class = "form-control form-control-sm datepicker" } })
                                                @Html.ValidationMessageFor(m => m.ORG_REG_DATE, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Цахим хуудас:</label>
                                            <div class="col-sm-8">
                                                @Html.EditorFor(m => m.ORG_WEBSITE, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                                @Html.ValidationMessageFor(m => m.ORG_WEBSITE, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Регистрийн дугаар:</label>
                                            <div class="col-sm-8">
                                                @Html.EditorFor(m => m.ORG_REGISTER_NO, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                                @Html.ValidationMessageFor(m => m.ORG_REGISTER_NO, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Аймаг/нийслэл:</label>
                                            <div class="col-sm-8">
                                                @Html.DropDownListFor(model => model.ORG_OFFICE_ID, Model.offices.Select(m => new SelectListItem { Text = m.OFFICE_NAME, Value = m.OFFICE_ID.ToString() }).ToList(), "Сонгоно уу", htmlAttributes: new { @class = "form-control form-control-sm" })
                                                @Html.ValidationMessageFor(m => m.ORG_OFFICE_ID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">И-мэйл:</label>
                                            <div class="col-sm-8">
                                                @Html.EditorFor(m => m.ORG_EMAIL, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                                @Html.ValidationMessageFor(m => m.ORG_EMAIL, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">УБ-ийн дугаар:</label>
                                            <div class="col-sm-8">
                                                @Html.EditorFor(m => m.ORG_REGISTER_NUMBER, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                                @Html.ValidationMessageFor(m => m.ORG_REGISTER_NUMBER, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Сум/дүүрэг:</label>
                                            <div class="col-sm-8">
                                                @Html.DropDownListFor(model => model.ORG_SUB_OFFICE_ID, Model.subOffices.Where(m => m.OFFICE_ID == Model.ORG_OFFICE_ID).Select(m => new SelectListItem { Text = m.SUB_OFFICE_NAME, Value = m.SUB_OFFICE_ID.ToString() }).ToList(), "Сонгоно уу", htmlAttributes: new { @class = "form-control form-control-sm" })

                                                @if (Model.subOffices.Count() > 0)
                                                {
                                                    @Html.DropDownList("ddSubOfficeHidden", Model.subOffices.Select(m => new SelectListItem() { Text = m.SUB_OFFICE_NAME, Value = m.OFFICE_ID.ToString() + ":" + m.SUB_OFFICE_ID.ToString() }), htmlAttributes: new { @class = "d-none" })
                                                }
                                                @Html.ValidationMessageFor(m => m.ORG_SUB_OFFICE_ID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Утас:</label>
                                            <div class="col-sm-8">
                                                @Html.EditorFor(m => m.ORG_PHONE, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                                @Html.ValidationMessageFor(m => m.ORG_PHONE, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Нэр:</label>
                                            <div class="col-sm-8">
                                                @Html.EditorFor(m => m.ORG_NAME, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                                @Html.ValidationMessageFor(m => m.ORG_NAME, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Албан ёсны хаяг:</label>
                                            <div class="col-sm-8">
                                                @Html.EditorFor(m => m.ORG_ADDRESS, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                                @Html.ValidationMessageFor(m => m.ORG_ADDRESS, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Факс:</label>
                                            <div class="col-sm-8">
                                                @Html.EditorFor(m => m.ORG_FAX, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                                @Html.ValidationMessageFor(m => m.ORG_FAX, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <h6>Банк</h6>
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Урсгал санхүүжилтийн данс:</label>
                                            <div class="col-sm-8">
                                                @Html.DropDownListFor(model => model.ORGB_BANK_ID, Model.banks.Select(m => new SelectListItem { Text = m.BANK_NAME, Value = m.BANK_ID.ToString() }).ToList(), "Сонгоно уу", htmlAttributes: new { @class = "form-control form-control-sm" })
                                                @Html.ValidationMessageFor(m => m.ORGB_BANK_ID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Дансны дугаар:</label>
                                            <div class="col-sm-8">
                                                @Html.EditorFor(m => m.ORGB_BANK_ACCOUNT, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                                @Html.ValidationMessageFor(m => m.ORGB_BANK_ACCOUNT, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Тайлбар:</label>
                                            <div class="col-sm-8">
                                                @Html.EditorFor(m => m.ORGB_DESCRIPTION, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                                @Html.ValidationMessageFor(m => m.ORGB_DESCRIPTION, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-4">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Нэмэлт санхүүжилтийн данс:</label>
                                            <div class="col-sm-8">
                                                @Html.DropDownListFor(model => model.ORGB_BANK_ID2, Model.banks.Select(m => new SelectListItem { Text = m.BANK_NAME, Value = m.BANK_ID.ToString() }).ToList(), "Сонгоно уу", htmlAttributes: new { @class = "form-control form-control-sm" })
                                                @Html.ValidationMessageFor(m => m.ORGB_BANK_ID2, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Дансны дугаар:</label>
                                            <div class="col-sm-8">
                                                @Html.EditorFor(m => m.ORGB_BANK_ACCOUNT2, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                                @Html.ValidationMessageFor(m => m.ORGB_BANK_ACCOUNT2, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Тайлбар:</label>
                                            <div class="col-sm-8">
                                                @Html.EditorFor(m => m.ORGB_DESCRIPTION2, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                                @Html.ValidationMessageFor(m => m.ORGB_DESCRIPTION2, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <h6>Бусад мэдээлэл</h6>
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Төсөв захирагч:</label>
                                            <div class="col-sm-8">
                                                @Html.DropDownListFor(model => model.ORG_BUDGET_TYPE_ID, Model.budgetTypes.Select(m => new SelectListItem { Text = m.BUDGET_TYPE_NAME, Value = m.BUDGET_TYPE_ID.ToString() }).ToList(), "Сонгоно уу", htmlAttributes: new { @class = "form-control form-control-sm" })
                                                @Html.ValidationMessageFor(m => m.ORG_BUDGET_TYPE_ID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Үйл ажиллагааны ангилал:</label>
                                            <div class="col-sm-8">
                                                @Html.DropDownListFor(model => model.ORG_ACTIVITY_ID, Model.activities.Select(m => new SelectListItem { Text = m.ACTIVITY_NAME, Value = m.ACTIVITY_ID.ToString() }).ToList(), "Сонгоно уу", htmlAttributes: new { @class = "form-control form-control-sm" })
                                                @Html.ValidationMessageFor(m => m.ORG_ACTIVITY_ID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Хэлбэр:</label>
                                            <div class="col-sm-8">
                                                @Html.DropDownListFor(model => model.ORG_SUB_BUDGET_TYPE_ID, Model.subBudgetTypes.Where(m => m.BUDGET_TYPE_ID == Model.ORG_BUDGET_TYPE_ID).Select(m => new SelectListItem { Text = m.SUB_BUDGET_TYPE_NAME, Value = m.SUB_BUDGET_TYPE_ID.ToString() }).ToList(), "Сонгоно уу", htmlAttributes: new { @class = "form-control form-control-sm" })

                                                @if (Model.budgetTypes.Count() > 0)
                                                {
                                                    @Html.DropDownList("ddSubBudgetHidden", Model.subBudgetTypes.Select(m => new SelectListItem() { Text = m.SUB_BUDGET_TYPE_NAME, Value = m.BUDGET_TYPE_ID.ToString() + ":" + m.SUB_BUDGET_TYPE_ID.ToString() }), htmlAttributes: new { @class = "d-none" })
                                                }
                                                @Html.ValidationMessageFor(m => m.ORG_SUB_BUDGET_TYPE_ID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Харъяа аудитын газар:</label>
                                            <div class="col-sm-8">
                                                @Html.DropDownListFor(model => model.ORG_DEPARTMENT_ID, Model.departments.Select(m => new SelectListItem { Text = m.DEPARTMENT_NAME, Value = m.DEPARTMENT_ID.ToString() }).ToList(), "Сонгоно уу", htmlAttributes: new { @class = "form-control form-control-sm" })
                                                @Html.ValidationMessageFor(m => m.ORG_DEPARTMENT_ID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Харъяа байнгын хороо:</label>
                                            <div class="col-sm-8">
                                                @Html.DropDownListFor(model => model.ORG_COMMITTEE_ID, Model.committees.Select(m => new SelectListItem { Text = m.COMMITTEE_NAME, Value = m.COMMITTEE_ID.ToString() }).ToList(), "Сонгоно уу", htmlAttributes: new { @class = "form-control form-control-sm" })
                                                @Html.ValidationMessageFor(m => m.ORG_COMMITTEE_ID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Харъяалагдах татварын газар:</label>
                                            <div class="col-sm-8">
                                                @Html.DropDownListFor(model => model.ORG_TAX_OFFICE_ID, Model.taxOffices.Select(m => new SelectListItem { Text = m.TAX_OFFICE_NAME, Value = m.TAX_OFFICE_ID.ToString() }).ToList(), "Сонгоно уу", htmlAttributes: new { @class = "form-control form-control-sm" })
                                                @Html.ValidationMessageFor(m => m.ORG_TAX_OFFICE_ID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Төсвийн зардлын хөтөлбөрийн ангилал:</label>
                                            <div class="col-sm-8">
                                                @Html.DropDownListFor(model => model.ORG_COST_TYPE_ID, Model.costTypes.Select(m => new SelectListItem { Text = m.COST_TYPE_NAME, Value = m.COST_TYPE_ID.ToString() }).ToList(), "Сонгоно уу", htmlAttributes: new { @class = "form-control form-control-sm" })
                                                @Html.ValidationMessageFor(m => m.ORG_COST_TYPE_ID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Харьцдаг НД байгууллага:</label>
                                            <div class="col-sm-8">
                                                @Html.DropDownListFor(model => model.ORG_INSURANCE_OFFICE_ID, Model.insuranceOffices.Select(m => new SelectListItem { Text = m.INSURANCE_OFFICE_NAME, Value = m.INSURANCE_OFFICE_ID.ToString() }).ToList(), "Сонгоно уу", htmlAttributes: new { @class = "form-control form-control-sm" })
                                                @Html.ValidationMessageFor(m => m.ORG_INSURANCE_OFFICE_ID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Харъяа төрийн сан:</label>
                                            <div class="col-sm-8">
                                                @Html.DropDownListFor(model => model.ORG_FIN_OFFICE_ID, Model.finOffices.Select(m => new SelectListItem { Text = m.FIN_OFFICE_NAME, Value = m.FIN_OFFICE_ID.ToString() }).ToList(), "Сонгоно уу", htmlAttributes: new { @class = "form-control form-control-sm" })
                                                @Html.ValidationMessageFor(m => m.ORG_FIN_OFFICE_ID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Санхүүжилтийн хэлбэр:</label>
                                            <div class="col-sm-8">
                                                @Html.DropDownListFor(model => model.ORG_FINANCING_TYPE_ID, Model.financingTypes.Select(m => new SelectListItem { Text = m.FINANCING_TYPE_NAME, Value = m.FINANCING_TYPE_ID.ToString() }).ToList(), "Сонгоно уу", htmlAttributes: new { @class = "form-control form-control-sm" })
                                                @Html.ValidationMessageFor(m => m.ORG_FINANCING_TYPE_ID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <h6>Байгууллагын удирдлагатай холбоотой мэдээлэл</h6>
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Удирдлагын албан тушаал:</label>
                                            <div class="col-sm-8">
                                                @Html.EditorFor(m => m.ORGP_ROLE, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                                @Html.ValidationMessageFor(m => m.ORGP_ROLE, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Удирдлагын овог:</label>
                                            <div class="col-sm-8">
                                                @Html.EditorFor(m => m.ORGP_LASTNAME, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                                @Html.ValidationMessageFor(m => m.ORGP_LASTNAME, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Удирдлагын нэр:</label>
                                            <div class="col-sm-8">
                                                @Html.EditorFor(m => m.ORGP_FIRSTNAME, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                                @Html.ValidationMessageFor(m => m.ORGP_FIRSTNAME, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Регистрийн дугаар:</label>
                                            <div class="col-sm-8">
                                                @Html.EditorFor(m => m.ORGP_REGISTER_NO, new { htmlAttributes = new { @class = "form-control form-control-sm", @style = "text-transform:uppercase" } })
                                                @Html.ValidationMessageFor(m => m.ORGP_REGISTER_NO, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Мэргэжил:</label>
                                            <div class="col-sm-8">
                                                @Html.EditorFor(m => m.ORGP_PROFESSION, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                                @Html.ValidationMessageFor(m => m.ORGP_PROFESSION, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Ажилласан жил:</label>
                                            <div class="col-sm-8">
                                                @Html.EditorFor(m => m.ORGP_EXPERIENCE_YEAR, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                                @Html.ValidationMessageFor(m => m.ORGP_EXPERIENCE_YEAR, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Утас:</label>
                                            <div class="col-sm-8">
                                                @Html.EditorFor(m => m.ORGP_PHONE, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                                @Html.ValidationMessageFor(m => m.ORGP_PHONE, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">И-мэйл:</label>
                                            <div class="col-sm-8">
                                                @Html.EditorFor(m => m.ORGP_EMAIL, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                                @Html.ValidationMessageFor(m => m.ORGP_EMAIL, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Огноо:</label>
                                            <div class="col-sm-8">
                                                @Html.EditorFor(m => m.ORGP_ROLE_DATE, new { htmlAttributes = new { @class = "form-control form-control-sm datepicker" } })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <h6>Байгууллагын нягтлан бодогчтой холбоотой мэдээлэл</h6>
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Нягтлангийн албан тушаал:</label>
                                            <div class="col-sm-8">
                                                @Html.EditorFor(m => m.ORGP_ROLE2, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                                @Html.ValidationMessageFor(m => m.ORGP_ROLE2, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Нягтлангийн овог:</label>
                                            <div class="col-sm-8">
                                                @Html.EditorFor(m => m.ORGP_LASTNAME2, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                                @Html.ValidationMessageFor(m => m.ORGP_LASTNAME2, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Нягтлангийн нэр:</label>
                                            <div class="col-sm-8">
                                                @Html.EditorFor(m => m.ORGP_FIRSTNAME2, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                                @Html.ValidationMessageFor(m => m.ORGP_FIRSTNAME2, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-4">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Регистрийн дугаар:</label>
                                            <div class="col-sm-8">
                                                @Html.EditorFor(m => m.ORGP_REGISTER_NO2, new { htmlAttributes = new { @class = "form-control form-control-sm", @style = "text-transform:uppercase" } })
                                                @Html.ValidationMessageFor(m => m.ORGP_REGISTER_NO2, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Мэргэжил:</label>
                                            <div class="col-sm-8">
                                                @Html.EditorFor(m => m.ORGP_PROFESSION2, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                                @Html.ValidationMessageFor(m => m.ORGP_PROFESSION2, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Ажилласан жил:</label>
                                            <div class="col-sm-8">
                                                @Html.EditorFor(m => m.ORGP_EXPERIENCE_YEAR2, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                                @Html.ValidationMessageFor(m => m.ORGP_EXPERIENCE_YEAR2, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Утас:</label>
                                            <div class="col-sm-8">
                                                @Html.EditorFor(m => m.ORGP_PHONE2, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                                @Html.ValidationMessageFor(m => m.ORGP_PHONE2, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">И-мэйл:</label>
                                            <div class="col-sm-8">
                                                @Html.EditorFor(m => m.ORGP_EMAIL2, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                                @Html.ValidationMessageFor(m => m.ORGP_EMAIL2, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Огноо:</label>
                                            <div class="col-sm-8">
                                                @Html.EditorFor(m => m.ORGP_ROLE_DATE2, new { htmlAttributes = new { @class = "form-control form-control-sm datepicker" } })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div style="text-align: right">
                                    @if (Model != null && Model.ORG_ID != 0 && Model.IsShow)
                                    {
                                        <button type="button" class="btn btn-sm" style="background-color:#233772; color:#fff;" onclick="Organization.confirm(@Model.ORG_ID)">Баталгаажуулах</button>
                                    }
                                    <button type="submit" class="btn btn-sm" style="background-color:#233772; color:#fff;">Хадгалах</button>
                                    <button type="button" class="btn btn-sm btn-default bg-secondary text-white" data-dismiss="modal">Хаах</button>
                                </div>

                            </fieldset>
                        </div>
                        @if (Model != null && Model.organizationUBs.Count != 0)
                        {
                            <div class="tab-pane fade" id="ub" role="tabpanel" aria-labelledby="ub-tab">
                                <br />
                                <fieldset>
                                    <h6>Улсын бүртгэлийн ерөнхий газрын хуулийн этгээдийн бүртгэл</h6>

                                    @foreach (var item in Model.organizationUBs)
                                    {
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Регистр:</label>
                                                    <div class="col-sm-8">
                                                        <input class="form-control form-control-sm" value="@item.UB_REGISTER_NO" readonly />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Нэр:</label>
                                                    <div class="col-sm-8">
                                                        <input class="form-control form-control-sm" value="@item.UB_NAME" readonly />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">УБ дугаар:</label>
                                                    <div class="col-sm-8">
                                                        <input class="form-control form-control-sm" value="@item.UB_DOCUMENT_NO" readonly />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Бүртгэгдсэн огноо:</label>
                                                    <div class="col-sm-8">
                                                        <input class="form-control form-control-sm" value="@item.UB_REG_DATE.ToString("yyyy/MM/dd")" readonly />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Хариуцлагын хэлбэр:</label>
                                                    <div class="col-sm-8">
                                                        <input class="form-control form-control-sm" value="@item.UB_CATEGORY" readonly />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                </fieldset>
                            </div>
                        }
                        @if (Model != null && Model.organizationMOFs.Count != 0)
                        {
                            <div class="tab-pane fade" id="mof" role="tabpanel" aria-labelledby="mof-tab">
                                <br />
                                <fieldset>
                                    <h6>Сангийн яамны төрийн сангийн бүртгэл</h6>

                                    @foreach (var item in Model.organizationMOFs)
                                    {

                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Регистр:</label>
                                                    <div class="col-sm-8">
                                                        <input class="form-control form-control-sm" value="@item.MOF_REGISTER_NO" readonly />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Нэр:</label>
                                                    <div class="col-sm-8">
                                                        <input class="form-control form-control-sm" value="@item.MOF_NAME" readonly />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Төсвийн ерөнхийлөн захирагч:</label>
                                                    <div class="col-sm-8">
                                                        <input class="form-control form-control-sm" value="@item.MOF_TEZ" readonly />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Төсвийн төвлөрүүлэн захирагч:</label>
                                                    <div class="col-sm-8">
                                                        <input class="form-control form-control-sm" value="@item.MOF_TTZ" readonly />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Төсвийн шууд захирагч:</label>
                                                    <div class="col-sm-8">
                                                        <input class="form-control form-control-sm" value="@item.MOF_TSHZ" readonly />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Салбарын ангилал:</label>
                                                    <div class="col-sm-8">
                                                        <input class="form-control form-control-sm" value="@item.MOF_SALBAR" readonly />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Төсвийн төрөл:</label>
                                                    <div class="col-sm-8">
                                                        <input class="form-control form-control-sm" value="@item.MOF_BUDGET_TYPE" readonly />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Аймаг:</label>
                                                    <div class="col-sm-8">
                                                        <input class="form-control form-control-sm" value="@item.MOF_AIMAG" readonly />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Сум:</label>
                                                    <div class="col-sm-8">
                                                        <input class="form-control form-control-sm" value="@item.MOF_SUM" readonly />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Урсгал санхүүжилтийн данс:</label>
                                                    <div class="col-sm-8">
                                                        <input class="form-control form-control-sm" value="@item.MOF_MAIN_ACCOUNT" readonly />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Нэмэлт санхүүжилтийн данс:</label>
                                                    <div class="col-sm-8">
                                                        <input class="form-control form-control-sm" value="@item.MOF_EXTEND_ACCOUNT  " readonly />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </fieldset>
                            </div>

                        }
                        @if (Model != null && Model.organizationTAXs.Count != 0)
                        {
                            <div class="tab-pane fade" id="tax" role="tabpanel" aria-labelledby="tax-tab">
                                <br />
                                <fieldset>
                                    <h6>Татварын ерөнхий газрын татвар төлөгчийн бүртгэл</h6>

                                    @foreach (var item in Model.organizationTAXs)
                                    {

                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Регистр:</label>
                                            <div class="col-sm-8">
                                                <input class="form-control form-control-sm" value="@item.GDSR_NUMBER" readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Улсын бүртгэлийн дугаар:</label>
                                            <div class="col-sm-8">
                                                <input class="form-control form-control-sm" value="@item.COMPANY_REG_NO" readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Нэр:</label>
                                            <div class="col-sm-8">
                                                <input class="form-control form-control-sm" value="@item.LEGAL_NAME" readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Хариуцлагын хэлбэр:</label>
                                            <div class="col-sm-8">
                                                <input class="form-control form-control-sm" value="@item.LEGAL_STATUS_NAME" readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Байгуулагдсан огноо:</label>
                                            <div class="col-sm-8">
                                                <input class="form-control form-control-sm" value="@item.COMPANY_REG_DATE" readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Өмчийн хэлбэр:</label>
                                            <div class="col-sm-8">
                                                <input class="form-control form-control-sm" value="@item.PROPERTY_TYPE_NAME" readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Үүсгэн байгуулагчийн тоо:</label>
                                            <div class="col-sm-8">
                                                <input class="form-control form-control-sm" value="@item.NUMBER_FOUNDERS" readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Үйл ажиллагааны төлөв:</label>
                                            <div class="col-sm-8">
                                                <input class="form-control form-control-sm" value="@item.OPERATION" readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Аймаг/Дүүрэг:</label>
                                            <div class="col-sm-8">
                                                <input class="form-control form-control-sm" value="@item.OFF_NAME" readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Сум/Хороо:</label>
                                            <div class="col-sm-8">
                                                <input class="form-control form-control-sm" value="@item.SOFF_NAME" readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Үйл ажиллагааны сектор:</label>
                                            <div class="col-sm-8">
                                                <input class="form-control form-control-sm" value="@item.SECTOR_NAME" readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Дэд сектор:</label>
                                            <div class="col-sm-8">
                                                <input class="form-control form-control-sm" value="@item.SUB_SECTOR_CODE_NAME" readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Ангилал:</label>
                                            <div class="col-sm-8">
                                                <input class="form-control form-control-sm" value="@item.ELEMENT_NAME" readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Үйл ажиллагааны төрөл:</label>
                                            <div class="col-sm-8">
                                                <input class="form-control form-control-sm" value="@item.DIVISION_NAME" readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Хаяг:</label>
                                            <div class="col-sm-8">
                                                <input class="form-control form-control-sm" value="@item.REGION" readonly />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    }
                                </fieldset>
                            </div>

                        }
                        @if (Model != null && Model.ORG_ID != 0)
                        {
                            <div class="tab-pane fade" id="lib" role="tabpanel" aria-labelledby="lib-tab">
                                <br />
                                @Html.Action("DataSearch", "Home")
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<script>
  $( function() {
      $(".datepicker").datepicker({
          beforeShow: function () {
              setTimeout(function () {
                  $('.ui-datepicker').css('z-index', 99999999999999);
              }, 0);
          },
          changeMonth: true,
          changeYear: true,
          dateFormat: "yy/mm/dd",
          firstDay: 1,
          dayNamesMin: ["Ня", "Да", "Мя", "Лха", "Пү", "Ба", "Бя"],
          monthNamesShort: ["1-сар", "2-сар", "3-сар", "4-сар", "5-сар", "6-сар", "7-сар", "8-сар", "9-сар", "10-сар", "11-сар", "12-сар"],
          maxDate: "+0D",
          showOn: "button",
          buttonImage: "@Url.Content("~/Images/calendar.png")",
          buttonImageOnly: true,
          buttonText: "Select date"
      });
  });
</script>