@model List<Audit.Models.OrgList>
@{
    int counter = 0;
    Layout = null;
}

<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered datatable display" id="organizationlist" style="width:100%">
                <thead>
                    <tr>
                        <th class="text-center">№</th>
                        <th>Алба</th>
                        <th>Регистр</th>
                        <th>Шалгагдагч байгууллагын нэр</th>
                        <th>СТАУС бүртгэлийн код</th>
                        <th>Төсөв захирагчийн хэлбэр</th>
                        <th>Дээд шатны төсөв захирагч</th>
                        <th>Алдааны мэдээлэл</th>
                        <th>Төлөв</th>
                        <th>Сануулга</th>
                        <th>Үйлдэл</th>
                    </tr>
                </thead>
                <tbody>
                    @*@if (Model.Count != 0)
                        {
                            foreach (var item in Model)
                            {
                                counter++;
                        <tr data-id="@item.ORG_ID">
                            <td class="text-center">@counter</td>
                            <td>@item.DEPARTMENT_NAME</td>
                            <td>@item.ORG_REGISTER_NO</td>
                            <td>@item.ORG_NAME</td>
                            <td>@item.ORG_CODE</td>
                            <td>@item.BUDGET_TYPE_NAME</td>
                            <td>@item.ORG_CONCENTRATOR_NAME</td>
                            <td>@item.VIOLATION_DETAIL</td>
                            <td>@item.STATUS_NAME</td>
                            <td>@item.INFORMATION_DETAIL</td>
                            <td class="text-center">
                                <div class="btn-group">
                                    <a class="btn btn-sm" href="#" onclick="Organization.edit(@item.ORG_ID)">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a class="btn btn-sm" href="#" onclick="Organization.delete(@item.ORG_ID)">
                                        <i class="fa fa-trash-alt"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                            }
                        }*@
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>

        function orgListInit() {
        var table = $("#organizationlist").DataTable({
            "serverSide": true,
            "processing": true,
            "ajax": {
                url: "/api/service/orglist",
                type: 'POST',
                data: function (data) {
                    data.status = $('#status').val();
                    data.violation = $('#violation option:selected').toArray().map(item => item.text).join();
                    data.DeparmentID = $('#DeparmentID').val();
                    return data;
                }
            },
            createdRow: function (row, data, dataIndex) {
                $(row).attr('data-id', data.ORG_ID);
            },


            "columns": [
                    { "data": null,"sortable": false, "class":'text-center',
                    render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                { "data": "DEPARTMENT_NAME", "name":"DEPARTMENT_NAME" },
                { "data": "ORG_REGISTER_NO", "name":"ORG_REGISTER_NO" },
                { "data": "ORG_NAME", "name":"ORG_NAME" },
                { "data": "ORG_CODE", "name":"ORG_CODE" },
                { "data": "BUDGET_TYPE_NAME", "name":"BUDGET_TYPE_NAME" },
                { "data": "ORG_CONCENTRATOR_NAME", "name":"ORG_CONCENTRATOR_NAME" },
                { "data": "VIOLATION_DETAIL", "name":"VIOLATION_DETAIL" },
                { "data": "STATUS_NAME", "name": "STATUS_NAME" },
                { "data": "INFORMATION_DETAIL", "name": "INFORMATION_DETAIL" },
                    {
                        "data": null, "sortable": false, "class":'text-center',
                        render: function (data, type, row, meta) {

                            return '<a href="@Url.Action("Detail","Person")?personID=' + data.ORG_ID + '" class="btn btn-sm btn-custom" title="Дэлгэрэнгүй"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" /></svg> </a>';
                        }
                    }
                ],
            "destroy": true,
            "scrollCollapse": true,
            "paging": true,
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Бүгд"]],
            "filter": true,
            "info": true,
            "stateSave": false,
            "bAutoWidth": false,
            lengthChange: true,
            "language": datatables.language

        });
    }
</script>