@model Audit.Models.Organization
@using Audit.App_Func
<style>
    .modal-header {
        background-color: #233772;
        padding: 0.5rem 1rem;
    }

    .modal-title {
        text-transform: uppercase;
        color: #fff;
    }

    .tab-content {
        min-height: 500px;
    }

    .close {
        font-weight: normal;
        text-shadow: none;
        opacity: inherit;
    }

    .col-form-label {
        padding-top: 0;
        padding-bottom: 0;
    }

    .form-group {
        margin-bottom: 0.5rem;
    }

    .field-validation-error {
        font-size: 12px;
    }

    .modal-body h6 {
        text-transform: uppercase;
        color: #233772;
    }

    label {
        font-size: 12px !important;
    }

    div.ui-datepicker {
        font-size: 12px;
    }

    .ui-datepicker-trigger {
        position: absolute;
        right: 15px;
        top: 7px;
    }

    .nav-tabs {
        background-color: white;
        height: auto;
        width: 100%;
    }

        .nav-tabs .nav-item {
            background-color: #e7e7e5;
            border-top-right-radius: 7px;
            border-top-left-radius: 7px;
        }

            .nav-tabs .nav-item.show .nav-item, .nav-tabs .nav-link.active {
                background-color: #e7e7e5;
                border: none !important;
                border-top-right-radius: 7px;
                border-top-left-radius: 7px;
                color: #1b508a;
            }

        .nav-tabs .nav-link {
            border: none;
            color: #1b508a;
            font-weight: bold;
            font-size: small;
            padding: 4px 20px;
            height: auto;
            align-self: center;
            border-color: white;
            border-style: solid;
            border-width: 3.5px;
            border-top: none;
        }
</style>

@using (Ajax.BeginForm("AddShilenDans", "Shilendans", new { Area = "" },
    new AjaxOptions
    {
        UpdateTargetId = "orgmodalcontainer",
        //OnBegin = "Modal.show()",
        //OnComplete = "Modal.hide(); $('#OrgModal').modal('show');",
        //OnComplete = "",
        OnSuccess = "Organization.progressResponse(data, status, xhr)",
        OnFailure = "errorResponse",
        HttpMethod = "Post",
        InsertionMode = InsertionMode.Replace
    },
    new { @class = "form-horizontal", @autocomplete = "off" }))
{
<div class="modal fade" id="OrgModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="max-width:90%;margin: 0 auto;">

        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">Шилэн дансны бүртгэл</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color:#fff;">x</span></button>
            </div>
            <div class="modal-body">
                @if(ViewBag.Results != null){ 
                <div class="alert alert-success success text-center">
                    <span style="font-weight:bold;">@ViewBag.Results</span>
                </div>
                }

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    @if (Model != null && Model.ORG_ID != 0)
                    {
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="maygt1-tab" data-toggle="tab" href="#maygt1" role="tab" aria-selected="true">
                            МАЯГТ 1
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="maygt2-tab" data-toggle="tab" href="#maygt2" role="tab" aria-selected="false">
                            МАЯГТ 4
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="maygt3-tab" data-toggle="tab" href="#maygt3" role="tab" aria-selected="false">
                            МАЯГТ 6
                        </a>
                    </li>
                    }
                </ul>
                <div class="tab-content" id="myTabContent" style="background-color: #e7e7e5; padding:0 10px">
                    <div class="tab-pane fade show active" id="maygt1" role="tabpanel" aria-labelledby="maygt1-tab">
                        <fieldset>
                            <div class="hidden text-danger error-msgs">
                                <ul></ul>
                            </div>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(m => m.ORG_ID)
                            @Html.HiddenFor(m => m.ORGB_ID)
                            @Html.HiddenFor(m => m.ORGB_ID2)
                            @Html.HiddenFor(m => m.ORGP_ID)
                            @Html.HiddenFor(m => m.ORGP_ID2)

                            <div class="row" id="printdiv1">

                                <div class="col-md-6">
                                    <p style="color: #233772;">Байгууллагатай холбоотой мэдээлэл</p>

                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">ТЕЗ:</label>
                                        <div class="col-sm-8">
                                            <input class="form-control form-control-sm" value="@Model.BUDGET_TYPE_NAME" readonly />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">ТТЗ/ТЕЗ:</label>
                                        <div class="col-sm-8">
                                            <input class="form-control form-control-sm" value="@Model.ORG_CONCENTRATOR_NAME" readonly />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Шалгагдагч байгууллага, /иргэн, хуулийн этгээд/ нэр:</label>
                                        <div class="col-sm-8">
                                            @Html.EditorFor(m => m.ORG_NAME, new { htmlAttributes = new { @class = "form-control form-control-sm", @ReadOnly = "readonly" } })
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Тайлант хугацаа:</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.taxOffices, new SelectList(
                                                                                 new List<Object>{
                                                        new { value = 99 , text = "2020.01.01-2020.12.31" },
}, "value", "text"), new { @class = "form-control", @style = "font-size:12px;" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <p style="color: #233772;">Мэдээлэл байршуулах албан тушаалтан  </p>

                                    <div class="form-group row">
                                        <label class="col-sm-5 col-form-label">Төсөв захирагчийн албан тушаал:</label>
                                        <div class="col-sm-7">
                                            @Html.EditorFor(m => m.ORGP_ROLE, new { htmlAttributes = new { @class = "form-control form-control-sm", @ReadOnly = "readonly" } })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-5 col-form-label">Төсөв захирагчийн нэр:</label>
                                        <div class="col-sm-7">
                                            @Html.EditorFor(m => m.ORGP_FIRSTNAME, new { htmlAttributes = new { @class = "form-control form-control-sm", @ReadOnly = "readonly" } })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-5 col-form-label">Холбоо барих утас:</label>
                                        <div class="col-sm-7">
                                            @Html.EditorFor(m => m.ORGP_PHONE, new { htmlAttributes = new { @class = "form-control form-control-sm", @ReadOnly = "readonly" } })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-5 col-form-label">Нягтлан бодогчийн албан тушаал, нэр, холбоо барих утас :</label>
                                        <div class="col-sm-7">
                                            <input class="form-control form-control-sm" value="@Model.ORGP_ROLE2, @Model.ORGP_FIRSTNAME2, @Model.ORGP_PHONE2" readonly />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="clearfix"></div>

                            <div class="col-md-12" style="background-color: #FFF; width: 100%; border: solid 1px #FFF; padding: 6px 3px;">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link active" id="maygt1_1-tab" data-toggle="tab" href="#maygt1-1" role="tab" aria-selected="true" style="background-color:#1b508a;color:#FFF;">
                                            ТӨСӨВ ГҮЙЦЭТГЭЛ
                                        </a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" id="maygt1_2-tab" data-toggle="tab" href="#maygt1-2" role="tab" aria-selected="false" style="background-color:#1b508a;color:#FFF;">
                                            ХӨРӨНГӨ ОРУУЛАЛТ, ТЕНДЕР, ХУДАЛДАН АВАЛТ
                                        </a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" id="maygt1_3-tab" data-toggle="tab" href="#maygt1-3" role="tab" aria-selected="false" style="background-color:#1b508a;color:#FFF;">
                                            БУСАД
                                        </a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" id="maygt1_4-tab" data-toggle="tab" href="#maygt1-4" role="tab" aria-selected="false" style="background-color:#1b508a;color:#FFF;">
                                            ЗӨРЧЛИЙН ШИЙДЭЛ
                                        </a>
                                    </li>
                                </ul>

                                <div class="tab-content" id="printdiv1">
                                    <div class="tab-pane fade show active" id="maygt1-1" role="tabpanel" aria-labelledby="maygt1_1-tab">
                                        <p style="color: #3a3b45;font-size: 12px;">Шилэн дансны тухай хуулийн 3 дугаар зүйлийн 3.1.1, 3.1.2-т заасан төрийн болон орон нутгийн өмчит хуулийн этгээд, төрийн өмчит үйлдвэрийн газарт хөтлөх маягт-1</p>
                                        <table class="table table-bordered" style="font-size:12px;">
                                            <tr>
                                                <th>Хуулийн заалт</th>
                                                <th>Мэдээллийн агуулга </th>
                                                <th>Хугацаа</th>
                                                <th>Үнэлгээ</th>
                                            </tr>
                                            @Html.EditorFor(t => t.tab1)
                                        </table>

                                        <div style="text-align: right">
                                            <button type="submit" value="tab1save" name="button" class="btn btn-sm" style="background-color:#233772; color:#fff;">Хадгалах</button>
                                            @*<button type="button" class="btn btn-sm btn-default bg-secondary text-white" data-dismiss="modal">Хаах</button>*@
                                            <button type="button" class="btn btn-sm btn-default bg-secondary text-white" data-toggle="modal" data-target="#NoteModal">Хаах</button>
                                        </div>

                                    </div>

                                    <div class="tab-pane fade" id="maygt1-2" role="tabpanel" aria-labelledby="maygt1_2-tab">
                                        <table class="table table-bordered" style="font-size:12px;">
                                            <tr>
                                                <th>Хуулийн заалт</th>
                                                <th>Мэдээллийн агуулга </th>
                                                <th>Хугацаа</th>
                                                <th>Үнэлгээ</th>
                                            </tr>
                                            @Html.EditorFor(t => t.tab2)
                                        </table>

                                        <div style="text-align: right">
                                            <button type="submit" value="tab2save" name="button" class="btn btn-sm" style="background-color:#233772; color:#fff;">Хадгалах</button>
                                            <button type="button" class="btn btn-sm btn-default bg-secondary text-white" data-toggle="modal" data-target="#NoteModal">Хаах</button>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="maygt1-3" role="tabpanel" aria-labelledby="maygt1_3-tab">
                                        <table class="table table-bordered" style="font-size:12px;">
                                            <tr>
                                                <th>Хуулийн заалт</th>
                                                <th>Мэдээллийн агуулга </th>
                                                <th>Хугацаа</th>
                                                <th>Үнэлгээ</th>
                                            </tr>
                                            @Html.EditorFor(t => t.tab3)
                                        </table>

                                        <div style="text-align: right">
                                            <button type="submit" value="tab3save" name="button" class="btn btn-sm" style="background-color:#233772; color:#fff;">Хадгалах</button>
                                            <button type="button" class="btn btn-sm btn-default bg-secondary text-white" data-toggle="modal" data-target="#NoteModal">Хаах</button>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="maygt1-4" role="tabpanel" aria-labelledby="maygt1_4-tab">
                                        <table class="table table-bordered" style="font-size:12px;">
                                            <tr>
                                                <th>Мэдээллийн агуулга </th>
                                                <th>Үнэлгээ</th>
                                            </tr>
                                            @Html.EditorFor(t => t.tab4)
                                            <tr>
                                                <td>Шалгасан аудиторын нэр</td>
                                                <td>@User.GetClaimData("USER_NAME")</td>
                                            </tr>
                                            <tr>
                                                <td>Аудиторын код</td>
                                                <td>@User.Identity.Name.ToUpper()</td>
                                            </tr>
                                        </table>

                                        <div style="text-align: right">
                                            <button type="submit" value="tab4save" name="button" class="btn btn-sm" style="background-color:#233772; color:#fff;">Хадгалах</button>
                                            <button type="button" id="printButton" class="btn btn-sm" style="background-color:#233772; color:#fff;">Хэвлэх</button>
                                            <button type="button" class="btn btn-sm btn-default bg-secondary text-white" data-toggle="modal" data-target="#NoteModal">Хаах</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>


                    <div class="tab-pane fade" id="maygt2" role="tabpanel" aria-labelledby="maygt2-tab">
                        <fieldset>
                            <div class="hidden text-danger error-msgs">
                                <ul></ul>
                            </div>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(m => m.ORG_ID)
                            @Html.HiddenFor(m => m.ORGB_ID)
                            @Html.HiddenFor(m => m.ORGB_ID2)
                            @Html.HiddenFor(m => m.ORGP_ID)
                            @Html.HiddenFor(m => m.ORGP_ID2)

                            <div class="row">
                                <div class="col-md-6">
                                    <p style="color: #233772;">Байгууллагатай холбоотой мэдээлэл</p>

                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">ТЕЗ:</label>
                                        <div class="col-sm-8">
                                            @Html.EditorFor(m => m.ORG_CONCENTRATOR_NAME, new { htmlAttributes = new { @class = "form-control form-control-sm", @ReadOnly = "readonly" } })
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">ТТЗ/ТЕЗ:</label>
                                        <div class="col-sm-8">
                                            <input class="form-control form-control-sm" value="@Model.BUDGET_TYPE_NAME" readonly />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Шалгагдагч байгууллага, /иргэн, хуулийн этгээд/ нэр:</label>
                                        <div class="col-sm-8">
                                            @Html.EditorFor(m => m.ORG_NAME, new { htmlAttributes = new { @class = "form-control form-control-sm", @ReadOnly = "readonly" } })
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Тайлант хугацаа:</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.taxOffices, new SelectList(
                                                                               new List<Object>{
                                                     new { value = 99 , text = "2020.01.01-2020.12.31" },
}, "value", "text"), new { @class = "form-control", @style = "font-size:12px;" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <p style="color: #233772;">Мэдээлэл байршуулах албан тушаалтан  </p>

                                    <div class="form-group row">
                                        <label class="col-sm-5 col-form-label">Төсөв захирагчийн албан тушаал:</label>
                                        <div class="col-sm-7">
                                            @Html.EditorFor(m => m.ORGP_ROLE, new { htmlAttributes = new { @class = "form-control form-control-sm", @ReadOnly = "readonly" } })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-5 col-form-label">Төсөв захирагчийн нэр:</label>
                                        <div class="col-sm-7">
                                            @Html.EditorFor(m => m.ORGP_FIRSTNAME, new { htmlAttributes = new { @class = "form-control form-control-sm", @ReadOnly = "readonly" } })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-5 col-form-label">Холбоо барих утас:</label>
                                        <div class="col-sm-7">
                                            @Html.EditorFor(m => m.ORGP_PHONE, new { htmlAttributes = new { @class = "form-control form-control-sm", @ReadOnly = "readonly" } })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-5 col-form-label">Нягтлан бодогчийн албан тушаал, нэр, холбоо барих утас :</label>
                                        <div class="col-sm-7">
                                            <input class="form-control form-control-sm" value="@Model.ORGP_ROLE2, @Model.ORGP_FIRSTNAME2, @Model.ORGP_PHONE2" readonly />
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="clearfix"></div>

                                <div class="col-md-12" style="background-color: #FFF; width: 100%; border: solid 1px #FFF; padding: 0px 3px;">
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link active" id="maygt2_1-tab" data-toggle="tab" href="#maygt2-1" role="tab" aria-selected="true" style="background-color:#1b508a;color:#FFF;">
                                                МАЯГТ 4
                                            </a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="maygt2_2-tab" data-toggle="tab" href="#maygt2-2" role="tab" aria-selected="false" style="background-color:#1b508a;color:#FFF;">
                                                ЗӨРЧЛИЙН ШИЙДЭЛ
                                            </a>
                                        </li>
                                    </ul>

                                    <div class="tab-content">
                                        <div class="tab-pane fade show active" id="maygt2-1" role="tabpanel" aria-labelledby="maygt2_1-tab">
                                            <p style="color: #3a3b45;font-size: 12px;">Шилэн дансны тухай хуулийн 3 дугаар зүйлийн 3.1.3-т заасан Хяналтын багц буюу түүнээс дээш хэмжээний хувьцааг нь төр, орон нутаг болон тэдгээрийн нэгдмэл сонирхолтой этгээд эзэмшиж байгаа компанид хөтлөх маягт-4</p>
                                            <table class="table table-bordered" style="font-size:12px;">
                                                <tr>
                                                    <th>Хуулийн заалт</th>
                                                    <th>Мэдээллийн агуулга </th>
                                                    <th>Хугацаа</th>
                                                    <th>Үнэлгээ</th>
                                                </tr>
                                                @Html.EditorFor(t => t.tab5)
                                            </table>

                                            <div style="text-align: right">
                                                <button type="submit" value="tab5save" name="button" class="btn btn-sm" style="background-color:#233772; color:#fff;">Хадгалах</button>
                                                <button type="button" class="btn btn-sm btn-default bg-secondary text-white" data-toggle="modal" data-target="#NoteModal">Хаах</button>
                                            </div>

                                        </div>

                                        <div class="tab-pane fade" id="maygt2-2" role="tabpanel" aria-labelledby="maygt2_2-tab">
                                            <table class="table table-bordered" style="font-size:12px;">
                                                <tr>
                                                    <th>Мэдээллийн агуулга </th>
                                                    <th>Үнэлгээ</th>
                                                </tr>
                                                @Html.EditorFor(t => t.tab6)
                                                <tr>
                                                    <td>Шалгасан аудиторын нэр</td>
                                                    <td>@User.GetClaimData("USER_NAME")</td>

                                                </tr>
                                                <tr>
                                                    <td>Аудиторын код</td>
                                                    <td>@User.Identity.Name.ToUpper()</td>
                                                </tr>
                                            </table>

                                            <div style="text-align: right">
                                                <button type="submit" value="tab6save" name="button" class="btn btn-sm" style="background-color:#233772; color:#fff;">Хадгалах</button>
                                                <button type="button" class="btn btn-sm btn-default bg-secondary text-white" data-toggle="modal" data-target="#NoteModal">Хаах</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="tab-pane fade" id="maygt3" role="tabpanel" aria-labelledby="maygt3-tab">
                        <fieldset>
                            <div class="hidden text-danger error-msgs">
                                <ul></ul>
                            </div>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(m => m.ORG_ID)
                            @Html.HiddenFor(m => m.ORGB_ID)
                            @Html.HiddenFor(m => m.ORGB_ID2)
                            @Html.HiddenFor(m => m.ORGP_ID)
                            @Html.HiddenFor(m => m.ORGP_ID2)

                            <div class="row">
                                <div class="col-md-6">
                                    <p style="color: #233772;">Байгууллагатай холбоотой мэдээлэл</p>

                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">ТЕЗ:</label>
                                        <div class="col-sm-8">
                                            @Html.EditorFor(m => m.ORG_CONCENTRATOR_NAME, new { htmlAttributes = new { @class = "form-control form-control-sm", @ReadOnly = "readonly" } })
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">ТТЗ/ТЕЗ:</label>
                                        <div class="col-sm-8">
                                            <input class="form-control form-control-sm" value="@Model.BUDGET_TYPE_NAME" readonly />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Шалгагдагч байгууллага, /иргэн, хуулийн этгээд/ нэр:</label>
                                        <div class="col-sm-8">
                                            @Html.EditorFor(m => m.ORG_NAME, new { htmlAttributes = new { @class = "form-control form-control-sm", @ReadOnly = "readonly" } })
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Тайлант хугацаа:</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.taxOffices, new SelectList(
                                                                               new List<Object>{
                                                     new { value = 99 , text = "2020.01.01-2020.12.31" },
}, "value", "text"), new { @class = "form-control", @style = "font-size:12px;" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <p style="color: #233772;">Мэдээлэл байршуулах албан тушаалтан  </p>

                                    <div class="form-group row">
                                        <label class="col-sm-5 col-form-label">Төсөв захирагчийн албан тушаал:</label>
                                        <div class="col-sm-7">
                                            @Html.EditorFor(m => m.ORGP_ROLE, new { htmlAttributes = new { @class = "form-control form-control-sm", @ReadOnly = "readonly" } })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-5 col-form-label">Төсөв захирагчийн нэр:</label>
                                        <div class="col-sm-7">
                                            @Html.EditorFor(m => m.ORGP_FIRSTNAME, new { htmlAttributes = new { @class = "form-control form-control-sm", @ReadOnly = "readonly" } })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-5 col-form-label">Холбоо барих утас:</label>
                                        <div class="col-sm-7">
                                            @Html.EditorFor(m => m.ORGP_PHONE, new { htmlAttributes = new { @class = "form-control form-control-sm", @ReadOnly = "readonly" } })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-5 col-form-label">Нягтлан бодогчийн албан тушаал, нэр, холбоо барих утас :</label>
                                        <div class="col-sm-7">
                                            <input class="form-control form-control-sm" value="@Model.ORGP_ROLE2, @Model.ORGP_FIRSTNAME2, @Model.ORGP_PHONE2" readonly />
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="clearfix"></div>

                                <div class="col-md-12" style="background-color: #FFF; width: 100%; border: solid 1px #FFF; padding: 0px 3px;">
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link active" id="maygt3_1-tab" data-toggle="tab" href="#maygt3-1" role="tab" aria-selected="true" style="background-color:#1b508a;color:#FFF;">
                                                МАЯГТ 6
                                            </a>
                                        </li>
                                    </ul>

                                    <div class="tab-content">
                                        <div class="tab-pane fade show active" id="maygt3-1" role="tabpanel" aria-labelledby="maygt3_1-tab">

                                            <div style="text-align: right; margin-top:6px;">
                                                <button type="button" class="btn btn-sm" style="background-color:#233772; color:#fff;" data-toggle="modal" data-target="#InsertProjectModal">Нэмэх</button>
                                                <button type="button" class="btn btn-sm btn-default bg-secondary text-white" data-dismiss="modal">Хаах</button>
                                            </div><br>

                                            <table class="table table-bordered" style="font-size:12px;">
                                                <tr>
                                                    <th rowspan="2" style="vertical-align:middle;" class="text-center">Хэрэгжүүлж буй төсөл арга хэмжээний нэр</th>
                                                    <th rowspan="2" style="vertical-align:middle;" class="text-center" width="10%">Гэрээний дугаар</th>
                                                    <th colspan="2" class="text-center">Хэрэгжүүлэх хугацаа /он сар өдөр/</th>
                                                    <th rowspan="2" style="vertical-align:middle;" class="text-center">Хэрэгжилтийн явц, үе шат /өссөн хувиар/</th>
                                                    <th rowspan="2" style="vertical-align:middle;" class="text-center">Нийт төсөвт өртөг /сая.төг/</th>
                                                    <th rowspan="2" style="vertical-align:middle;" class="text-center">Санхүүжилт өгсөн байгууллагын нэр /санхүүжилт олгосон Захиалагч байгууллага/</th>
                                                    <th rowspan="2" style="vertical-align:middle;" class="text-center">Үйлдэл</th>
                                                <tr>
                                                    <th class="text-center">Эхлэх</th>
                                                    <th class="text-center">Дуусах</th>

                                                    @Html.EditorFor(t => t.tab8)
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>

                <div class="modal fade" id="InsertProjectModal" role="dialog">
                    <div class="modal-dialog" style="max-width:90%;margin: 0 auto;">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title" id="exampleModalLabel">НЭМЭХ</h6>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color:#fff;">x</span></button>
                            </div>

                            <div class="row" style="background-color: #e7e7e5;margin: 0 10px;">

                                <div class="col-md-6">
                                    <p style="color: #233772;">Байгууллагатай холбоотой мэдээлэл</p>

                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">ТЕЗ:</label>
                                        <div class="col-sm-8">
                                            @Html.EditorFor(m => m.BUDGET_TYPE_NAME, new { htmlAttributes = new { @class = "form-control form-control-sm", @ReadOnly = "readonly" } })
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">ТТЗ/ТЕЗ:</label>
                                        <div class="col-sm-8">
                                            <input class="form-control form-control-sm" value="@Model.BUDGET_TYPE_NAME" readonly />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Шалгагдагч байгууллага, /иргэн, хуулийн этгээд/ нэр:</label>
                                        <div class="col-sm-8">
                                            @Html.EditorFor(m => m.ORG_NAME, new { htmlAttributes = new { @class = "form-control form-control-sm", @ReadOnly = "readonly" } })
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Тайлант хугацаа:</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.taxOffices, new SelectList(
                                                                                          new List<Object>{
        new { value = 99 , text = "2020.01.01-2020.12.31" },
}, "value", "text"), new { @class = "form-control", @style = "font-size:12px;" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <p style="color: #233772;">Мэдээлэл байршуулах албан тушаалтан  </p>

                                    <div class="form-group row">
                                        <label class="col-sm-5 col-form-label">Төсөв захирагчийн албан тушаал:</label>
                                        <div class="col-sm-7">
                                            @Html.EditorFor(m => m.ORGP_ROLE, new { htmlAttributes = new { @class = "form-control form-control-sm", @ReadOnly = "readonly" } })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-5 col-form-label">Төсөв захирагчийн нэр:</label>
                                        <div class="col-sm-7">
                                            @Html.EditorFor(m => m.ORGP_FIRSTNAME, new { htmlAttributes = new { @class = "form-control form-control-sm", @ReadOnly = "readonly" } })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-5 col-form-label">Холбоо барих утас:</label>
                                        <div class="col-sm-7">
                                            @Html.EditorFor(m => m.ORGP_PHONE, new { htmlAttributes = new { @class = "form-control form-control-sm", @ReadOnly = "readonly" } })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-5 col-form-label">Нягтлан бодогчийн албан тушаал, нэр, холбоо барих утас :</label>
                                        <div class="col-sm-7">
                                            <input class="form-control form-control-sm" value="@Model.ORGP_ROLE2, @Model.ORGP_FIRSTNAME2, @Model.ORGP_PHONE2" readonly />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />

                            <div style="margin: 0 10px;">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Хуулийн заалт:</label>
                                    <div class="col-sm-2">
                                        @Html.DropDownListFor(m => m.AUD_LAWS_NUM, new SelectList(
                                                                                                  new List<Object>{
                        new { value = 1 , text = "3.1.4" },
                        new { value = 2 , text = "3.1.5" },
  }, "value", "text"), new { @class = "form-control", @style = "font-size:12px;" })
                                    </div>
                                </div>

                                <table class="table table-bordered" style="font-size:12px;">
                                    <tr>
                                        <th width="10%">Хуулийн заалт</th>
                                        <th width="40%">Мэдээллийн агуулга </th>
                                        <th width="10%">Хугацаа</th>
                                        <th width="40%">Үнэлгээ</th>
                                    </tr>
                                    @Html.EditorFor(t => t.tab7)
                                    <tr>
                                        <td>Шалгасан аудиторын нэр</td>
                                        <td>@User.GetClaimData("USER_NAME")</td>

                                    </tr>
                                    <tr>
                                        <td>Аудиторын код</td>
                                        <td>@User.Identity.Name.ToUpper()</td>
                                    </tr>
                                </table>

                                <div style="text-align: right">
                                    <button type="submit" value="tab7save" name="button" class="btn btn-sm" style="background-color:#233772; color:#fff;">Хадгалах</button>
                                    <button type="submit" name="button" class="btn btn-sm" style="background-color:#233772; color:#fff;">Хэвлэх</button>
                                    <button type="button" class="btn btn-sm btn-default bg-secondary text-white" data-dismiss="modal">Хаах</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>}



<div class="modal fade" id="NoteModal" role="dialog">
    <div class="modal-dialog" style="max-width:90%;margin: 0 auto;">

        <!-- Modal content-->
        <div class="modal-content" style="height: 800px;">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel"></h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color:#fff;">x</span></button>
            </div>

            <h6 class="alert alert-danger text-center" style="margin-top:350px;">Энэ цонхыг хаахдаа итгэлтэй байна уу</h6>

            <div style="text-align: center">
                <a href="/Shilendans/Index" class="btn btn-danger">ТИЙМ</a>
                <button type="button" class="btn btn-warning" data-dismiss="modal">ҮГҮЙ</button>
            </div>
        </div>
    </div>
</div>

@*<script>
        function print() {
            printJS({
                printable: 'printdiv1',
                type: 'html',
                targetStyles: ['*']
            })
        }

        document.getElementById('printButton').addEventListener("click", print)
    </script>*@
<script>
    $(document).ready(function () {
        var tabid = '@(ViewBag.Tabid)';
        //alert(tabid)
        if (tabid != null) {
            $('.nav a[href="'+tabid+'"]').tab('show');
        }
        //if (tabid == "#maygt3") {
        //    location.reload(true);
        //    $('.nav a[href="' + tabid + '"]').tab('show');
        //}
    });
</script>
<script>
    $(document).ready(function () {
        $("div.success").fadeIn(300).delay(1500).fadeOut(400);
    });
</script>
