
@using Audit.Models
@model Audit.Models.N1VM
@{ ViewBag.Title = "N1";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
<style>
    .width {
        width: 300px !important;
    }

    .vertical {
        writing-mode: vertical-lr;
        -ms-writing-mode: tb-rl;
        transform: rotate(180deg);
    }
</style>
<div class="d-flex">
    <a href="@Url.Action("Index","Statistic")" class="btn btn-sm btn-light mr-2">
        <span class="icon text-gray-600">
            <i class="fas fa-arrow-left"></i>
        </span>
    </a>
    <h4>Шилэн дансны тухай хуулийн 3 дугаар зүйлийн 3.1.1, 3.1.2-т заасан төрийн болон орон нутгийн өмчит хуулийн этгээд, төрийн өмчит үйлдвэрийн газрын нэгтгэлийн маягт-1.1</h4>
</div>
<br />
<center><h6>Төсвийн ерөнхийлөн захирагчийн төсвийн багцад харъяалагдах компани, ААН байгууллагын тоо: <span></span></h6></center>
<hr class="sidebar-divider">




<form method="post" id="FilterForm">
    <div class="d-flex flex-wrap mb-2">
        <div class="form-group-sm pr-2">
            <label for="DeparmentID" class="col-form-label">Алба:</label>
            @Html.DropDownListFor(model => model.DeparmentID, Model.departments.Select(m => new SelectListItem { Text = m.DEPARTMENT_NAME, Value = m.DEPARTMENT_ID.ToString() }).ToList(), "Сонгоно уу", htmlAttributes: new { @class = "form-control form-control-sm" })
        </div>

        <div class="container">
            <div class="row">
                <div class="col-6 col-sm-4">ТЕЗ</div>
                <div class="col-6 col-sm-4">НЗД</div>
                <div class="w-100"></div>
                <div class="col-6 col-sm-4">ТТЗ/ТЕЗ</div>
                <div class="col-6 col-sm-4">НЗД</div>
                <div class="w-100"></div>
                <div class="col-6 col-sm-4">Шалгагдагч байгууллага /иргэн, хуулийн этгээд/ нэр</div>
                <div class="col-6 col-sm-4">Баянзүрх сургууль</div>
            </div>
        </div>





        <div class="form-group-sm ml-auto pr-2">
            <br />
            <p>Хамрах хугацаа: 2019.01.01-2019.12.31</p>
        </div>

    </div>
</form>
<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table id="N1" class=" table table-bordered table-hover datatable display">
                <thead>
                    <tr class="bg-light">
                        <th rowspan="2" class="text-center">№</th>
                        <th rowspan="2" class="text-center">Шалгагдагч байгууллага /иргэн, хуулийн этгээд/ нэр</th>
                        <th colspan="3">I/10</th>
                        <th colspan="16">Дараа сарын 8/Улирал бүр</th>
                        <th colspan="1">VIII/15</th>
                        <th colspan="1">IV/25</th>
                        <th colspan="1">IX/15</th>
                        <th colspan="1">VIII/15</th>
                        <th colspan="2">IV/25</th>
                        <th colspan="1">VII/01</th>
                        <th colspan="4">Улирал бүр</th>
                        <th colspan="1">Тухай бүр</th>
                        <th colspan="2">Мэдээлэл байршуулах албан тушаалтан  </th>
                    </tr>
                    <tr class="bg-light">
                        <th rowspan="1"><span class="vertical">6.1.1 Тухайн жилийн төсөв</span></th>
                        <th rowspan="1"><span class="vertical">6.1.1. ОНХС-ийн төлөвлөгөө</span> </th>
                        <th rowspan="1"><span class="vertical">6.1.1. ХАА-ны төлөвлөгөө </span></th>
                        <th rowspan="1"><span class="vertical">6.1.2. Төсвийн гүйцэтгэл 1-р сар</span></th>
                        <th rowspan="1"><span class="vertical">6.1.2. Төсвийн гүйцэтгэл 2-р сар</span></th>
                        <th rowspan="1"><span class="vertical">6.1.2. Төсвийн гүйцэтгэл 3-р сар</span></th>
                        <th rowspan="1"><span class="vertical">6.1.2.Төсвийн гүйцэтгэл 1-р улирал</span></th>
                        <th rowspan="1"><span class="vertical">6.1.2. Төсвийн гүйцэтгэл 4-р сар</span></th>
                        <th rowspan="1"><span class="vertical">6.1.2. Төсвийн гүйцэтгэл 5-р сар</span></th>
                        <th rowspan="1"><span class="vertical">6.1.2. Төсвийн гүйцэтгэл 6-р сар</span></th>
                        <th rowspan="1"><span class="vertical">6.1.2.Төсвийн гүйцэтгэл 2-р улирал</span></th>
                        <th rowspan="1"><span class="vertical">6.1.2. Төсвийн гүйцэтгэл 7-р сар</span></th>
                        <th rowspan="1"><span class="vertical">6.1.2. Төсвийн гүйцэтгэл 8-р сар</span></th>
                        <th rowspan="1"><span class="vertical">6.1.2. Төсвийн гүйцэтгэл 9-р сар</span></th>
                        <th rowspan="1"><span class="vertical">6.1.2.Төсвийн гүйцэтгэл 3-р улирал</span></th>
                        <th rowspan="1"><span class="vertical">6.1.2. Төсвийн гүйцэтгэл 10-р сар</span></th>
                        <th rowspan="1"><span class="vertical">6.1.2. Төсвийн гүйцэтгэл 11-р сар</span></th>
                        <th rowspan="1"><span class="vertical">6.1.2. Төсвийн гүйцэтгэл 12-р сар</span></th>
                        <th rowspan="1"><span class="vertical">6.1.2. Төсвийн гүйцэтгэл 4-р улирал</span></th>
                        <th rowspan="1">6.1.2. Хагас жилийн төсвийн гүйцэтгэл </th>
                        <th rowspan="1">6.1.2.Өмнөх оны төсвийн гүйцэтгэл</th>
                        <th rowspan="1">6.1.3. Дараа жилийн төсвийн төсөл </th>
                        <th rowspan="1">6.1.4. Санхүүгийн тайлан /хагас жил/</th>
                        <th rowspan="1">6.1.4. Санхүүгийн тайлан /жилийн эцсийн/</th>
                        <th rowspan="1">6.1.5. ТЕЗ-ын төсвийн багцад хийсэн аудитын дүгнэлт</th>
                        <th rowspan="1">6.1.5. Аудитын тайлан, дүгнэлтэд тусгагдсан асуудлаар авч хэрэгжүүлсэн арга хэмжээ</th>
                        <th rowspan="1">6.1.6. Төсвийн хэмнэлт хэтрэлт, түүний шалтгааны тайлбар 1-р улирал</th>
                        <th rowspan="1">6.1.6. Төсвийн хэмнэлт хэтрэлт, түүний шалтгааны тайлбар 2-р улирал</th>
                        <th rowspan="1">6.1.6. Төсвийн хэмнэлт хэтрэлт, түүний шалтгааны тайлбар 3-р улирал</th>
                        <th rowspan="1">6.1.6. Төсвийн хэмнэлт хэтрэлт, түүний шалтгааны тайлбар 4-р улирал</th>
                        <th rowspan="1">6.1.7 Нийгмийн даатгалын сангаас тэтгэвэр, тэтгэмж, төлбөр авах эрх бүхий этгээдийн жагсаалт</th>
                        <th rowspan="1">Төсөв захирагчийн албан тушаал, нэр, холбоо барих утас</th>
                        <th rowspan="2">Нягтлан бодогчийн албан тушаал, нэр, холбоо барих утас </th>
                    </tr>

                </thead>
                <tbody>
                    <tr class="bg-light">
                        <th rowspan="1" class="text-center">a</th>
                        <th>Төсвийн ерөнхийлөн захирагч</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>


                <tfoot>


                    <tr class="bg-light">
                        <th rowspan="7">Нийт дугаарлалт</th>
                        <td>НИЙТ ДҮН</td>
                        <td>19</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr class="bg-light">
                        <td>Мэдээлсэн</td>
                        <td>10</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="bg-light">
                        <td>Мэдээлээгүй</td>
                        <td>3</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="bg-light">
                        <td>Мэдээлэх шаардлагагүй, хамааралгүй</td>
                        <td>4</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="bg-light">
                        <td>Тухайн мэдээллийг мэдээлсэн хувь</td>
                        <td>80</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="bg-light">
                        <td>Хугацаа хоцроосон</td>
                        <td>2</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="bg-light">
                        <td>Тухайн мэдээллийг хугацаа хоцроож мэдээлсэн хувь</td>
                        <td>86.67</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                </tfoot>
            </table>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            N1ListInit();
        });
        function N1ListInit(pagelength = 10) {

            N1.table = $("#N1").DataTable({
                "serverSide": true,
                "processing": true,
                "ajax": {
                    url: "/api/service/N1List",
                    type: 'POST',
                    data: function (data) {
                        data.DeparmentID = $('#DeparmentID').val();
                        data.PeriodID = $('#PeriodID').val();
                        return data;
                    }
                },
                createdRow: function (row, data, dataIndex) {
                    $(row).attr('data-id', data.ID);
                },

                "columns": [
                    {
                        "data": null, "sortable": false, "class": 'text-center',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { "data": "AUDIT_YEAR", "name": "AUDIT_YEAR" },
                    { "data": "AUDIT_TYPE_NAME", "name": "AUDIT_TYPE_NAME" },
                    { "data": "AUDIT_CODE", "name": "AUDIT_CODE" },
                    { "data": "AUDIT_NAME", "name": "AUDIT_NAME" },
                    { "data": "BUDGET_TYPE_NAME", "name": "BUDGET_TYPE_NAME" },
                    { "data": "ORDER_DATE", "name": "ORDER_DATE" },
                    { "data": "ORDER_NO", "name": "ORDER_NO" },
                    { "data": "ACT_NO", "name": "ACT_NO" },
                    { "data": "ACT_VIOLATION_DESC", "name": "ACT_VIOLATION_DESC" },
                    { "data": "VIOLATION_NAME", "name": "VIOLATION_NAME" },
                    { "data": "ACT_SUBMITTED_DATE", "name": "ACT_SUBMITTED_DATE" },
                    { "data": "ACT_DELIVERY_DATE", "name": "ACT_DELIVERY_DATE" },
                    { "data": "ACT_AMOUNT", "name": "ACT_AMOUNT", "class": "text-right" },
                    { "data": "ACT_STATE_AMOUNT", "name": "ACT_STATE_AMOUNT", "class": "text-right" },
                    { "data": "ACT_LOCAL_AMOUNT", "name": "ACT_LOCAL_AMOUNT", "class": "text-right" },
                    { "data": "ACT_ORG_AMOUNT", "name": "ACT_ORG_AMOUNT", "class": "text-right" },
                    { "data": "ACT_OTHER_AMOUNT", "name": "ACT_OTHER_AMOUNT", "class": "text-right" },
                    { "data": "ACT_RCV_NAME", "name": "ACT_RCV_NAME" },
                    { "data": "ACT_RCV_ROLE", "name": "ACT_RCV_ROLE" },
                    { "data": "ACT_RCV_GIVEN_NAME", "name": "ACT_RCV_GIVEN_NAME" },
                    { "data": "ACT_RCV_ADDRESS", "name": "ACT_RCV_ADDRESS" },
                    { "data": "ACT_CONTROL_AUDITOR", "name": "ACT_CONTROL_AUDITOR" },
                    { "data": "COMPLETION_ORDER", "name": "COMPLETION_ORDER" },
                    { "data": "COMPLETION_AMOUNT", "name": "COMPLETION_AMOUNT", "class": "text-right" },
                    { "data": "COMPLETION_STATE_AMOUNT", "name": "COMPLETION_STATE_AMOUNT", "class": "text-right" },
                    { "data": "COMPLETION_LOCAL_AMOUNT", "name": "COMPLETION_LOCAL_AMOUNT", "class": "text-right" },
                    { "data": "COMPLETION_ORG_AMOUNT", "name": "COMPLETION_ORG_AMOUNT", "class": "text-right" },
                    { "data": "COMPLETION_OTHER_AMOUNT", "name": "COMPLETION_OTHER_AMOUNT", "class": "text-right" },
                    { "data": "REMOVED_AMOUNT", "name": "REMOVED_AMOUNT", "class": "text-right" },
                    { "data": "REMOVED_LAW_AMOUNT", "name": "REMOVED_LAW_AMOUNT", "class": "text-right" },
                    { "data": "REMOVED_LAW_DATE_NO", "name": "REMOVED_LAW_DATE_NO" },
                ],
                columnDefs: [
                    { width: 200, targets: 4 },
                    { width: 200, targets: 10 },

                ],
                scrollX: true,
                scrollCollapse: true,
                autoWidth: true,
                "destroy": true,
                "paging": true,
                "pageLength": pagelength,
                "lengthMenu": [[10, 25, 50], [10, 25, 50]],
                "filter": true,
                "info": true,
                "stateSave": false,
                lengthChange: true,
                "language": datatables.language
            });

        }
        $('#DeparmentID').change(function () {
            N1ListInit();
        });
        $('#PeriodID').change(function () {
            N1ListInit();
        });
        var N1 = {
            N1ID: null,
            table:null,
        display: function (data) {
            $("div#bm0modalcontainer").remove();
            $('<div/>', { id: "bm0modalcontainer" }).appendTo('body').append(data);

            $('#Bm0Modal #AUDIT_TYPE').change(function () {
                //TopicType
                if ($("#Bm0Modal #TOPIC_TYPE").children().length > 1)
                    $("#Bm0Modal #TOPIC_TYPE option:not(:first)").remove();
                var $options = $("#Bm0Modal #ddTopicTypeHidden option[value^='" + $(this).val() + ":']").clone().each(function () {
                    $(this).val($(this).val().split(':')[1]);
                });
                $("#Bm0Modal #TOPIC_TYPE").append($options);

                //BudgetType
                if ($("#Bm0Modal #AUDIT_BUDGET_TYPE").children().length > 1)
                    $("#Bm0Modal #AUDIT_BUDGET_TYPE option:not(:first)").remove();
                var $options = $("#Bm0Modal #ddRefBudgetTypeHidden option[value^='" + $(this).val() + ":']").clone().each(function () {
                    $(this).val($(this).val().split(':')[1]);
                });
                $("#Bm0Modal #AUDIT_BUDGET_TYPE").append($options);

                //FormType
                if ($("#Bm0Modal #AUDIT_FORM_TYPE").children().length > 1)
                    $("#Bm0Modal #AUDIT_FORM_TYPE option:not(:first)").remove();
                var $options = $("#Bm0Modal #ddFormTypeHidden option[value^='" + $(this).val() + ":']").clone().each(function () {
                    $(this).val($(this).val().split(':')[1]);
                });
                $("#Bm0Modal #AUDIT_FORM_TYPE").append($options);
            });

            $('#Bm0Modal #AUDIT_FORM_TYPE').change(function () {


                //ProsolType
                if ($("#Bm0Modal #AUDIT_PROPOSAL_TYPE").children().length > 1)
                    $("#Bm0Modal #AUDIT_PROPOSAL_TYPE option:not(:first)").remove();
                var $options = $("#Bm0Modal #ddProposalTypeHidden option[value^='" + $(this).val() + ":']").clone().each(function () {
                    $(this).val($(this).val().split(':')[1]);
                });
                $("#Bm0Modal #AUDIT_PROPOSAL_TYPE").append($options);
            });
            $("#Bm0Modal").modal({ show: true });
            },

        loadTemplate: function () {
            $.ajax({
                    url: "@Url.Action("BM0AddEdit", "Statistic", new { Area = "" })",
                    type: 'GET',
                    success: function (data) {
                        BM0.display(data);
                    },
                    error: errorResponse,
                    beforeSend: function () {
                        Modal.show();
                    },
                    complete: function () {
                        Modal.hide();
                    }
                });
        },
        edit: function (id) {
            $.ajax({
                url: "@Url.Action("BM0Detail", "Statistic", new { Area = "" })",
                type: 'POST',
                data: { id },
                success: function (data, status, xhr) {
                    N1.progressResponse(data, status, xhr);
                },
                error: errorResponse,
                beforeSend: function () {
                    Modal.show();
                },
                complete: function () {
                    Modal.hide();
                }
            });
        },
        delete: function (id) {
            N1.bm0ID = id;
            var r = confirm("Устгах уу!");
            if (r) {
                $.ajax({
                    url: "@Url.Action("BM0Delete", "Statistic", new { Area = "" })",
                    type: 'POST',
                    data: { id },
                    success: function (data, status, xhr) {
                        N1.progressResponse(data, status, xhr);
                    },
                    error: errorResponse,
                    beforeSend: function () {
                        Modal.show();
                    },
                    complete: function () {
                        Modal.hide();
                    }
                });
            }
        },
        close: function () {
            $("#Bm0Modal").modal("hide");
        },
        progressResponse: function (data, status, xhr) {
            var ct = xhr.getResponseHeader("content-type") || "";
            if (ct.indexOf("html") > -1) {
                N1.display(data);
            }
            if (ct.indexOf('json') > -1) {
                if (data.error) {
                    Message.error(data.message);
                } else {
                    $('.modal-backdrop:first').remove()
                    N1.close();
                    N1ListInit();
                    Message.success(data.message);
                }
            }
        }
    }
        function exportFile(tableid, excelname,) {
            $('#exportXLSX').addClass('disabled');
            N1.table.destroy();
            N1ListInit(-1);

            setTimeout(function () {
                var wb = XLSX.utils.table_to_book(document.getElementById(tableid));
                XLSX.writeFile(wb, excelname + '.xlsx');

                N1.table.destroy();
                N1ListInit();
                $('#exportXLSX').removeClass('disabled');
            }, 5000
            )
        }
    </script>
}



