@model Audit.Models.Print1
@{
    Layout = null;
}

<tr>
    <td class="text-center" style="border: 1px solid black;">@Html.DisplayFor(x => x.MEDEELEH_TOO)</td>
    <td class="text-center" style="border: 1px solid black;">@Html.DisplayFor(x => x.MEDEELSEN_TOO)</td>
    <td class="text-center" style="border: 1px solid black;">@Html.DisplayFor(x => x.MEDEELEEGUI_TOO)</td>
    <td class="text-center" style="border: 1px solid black;">@Html.DisplayFor(x => x.HAMAARALGUI)</td>
    <td class="text-center" style="border: 1px solid black;">@Html.DisplayFor(x => x.HUGATSAA_HOTSROOSON)</td>
    <td class="text-center" style="border: 1px solid black;">@Html.DisplayFor(x => x.MEDEELSEN_PERCENT)</td>
    <td class="text-center" style="border: 1px solid black;">@Html.DisplayFor(x => x.HUGATSAA_HOTSROOSON_PERCENT)</td>
</tr>
