@model Audit.Models.Tab2
@{
    Layout = null;
}

@if (Model.MD_CODE == "36" || Model.MD_CODE == "42" || Model.MD_CODE == "49" || Model.MD_CODE == "56")
{
    @Html.HiddenFor(x => x.MD_CODE)
    <tr style="text-align:center;font-weight:bold;text-transform:uppercase;"><td colspan="4">@Html.DisplayFor(x => x.MD_LAWS_NUM) @Html.DisplayFor(x => x.MD_NAME)</td></tr>
}
@if (Model.MD_CODE == "35" || Model.MD_CODE == "40" || Model.MD_CODE == "41" || Model.MD_CODE == "63")
{
    @Html.HiddenFor(x => x.MD_CODE)
    <tr>
        <td>@Html.DisplayFor(x => x.MD_LAWS_NUM)</td>
        <td>@Html.DisplayFor(x => x.MD_NAME)</td>
        <td>@Html.DisplayFor(x => x.MD_TIME)</td>
        <td>
            @Html.DropDownListFor(model => model.Data01, new SelectList(
                        new List<Object>{
                            new { value = 0 , text = "--Сонгоно уу--" },
                           new { value = 1 , text = "Тухайн мэдээллийг оруулаагүй" },
                           new { value = 2 , text = "Тухайн мэдээллийг оруулсан" },
                           new { value = 3 , text = "Тухайн мэдээллийг хугацаа хоцорч оруулсан" },
                           new { value = 4 , text = "Тухайн мэдээллийг оруулах шаардлагагүй, хамааралгүй" }
                        }, "value", "text"), new { @class = "form-control", @style = "font-size:12px;" })
        </td>
    </tr>
}
@if (Model.MD_CODE == "37" || Model.MD_CODE == "38" || Model.MD_CODE == "39" || Model.MD_CODE == "43" || Model.MD_CODE == "44" || Model.MD_CODE == "45" || Model.MD_CODE == "46" || Model.MD_CODE == "47" || Model.MD_CODE == "48" || Model.MD_CODE == "50" || Model.MD_CODE == "51" || Model.MD_CODE == "52" || Model.MD_CODE == "53" || Model.MD_CODE == "54" || Model.MD_CODE == "55" || Model.MD_CODE == "57" || Model.MD_CODE == "58" || Model.MD_CODE == "59" || Model.MD_CODE == "60" || Model.MD_CODE == "61" || Model.MD_CODE == "62")
{
    @Html.HiddenFor(x => x.MD_CODE)
    <tr>
        <td>@Html.DisplayFor(x => x.MD_LAWS_NUM)</td>
        <td>@Html.DisplayFor(x => x.MD_NAME)</td>
        <td>@Html.DisplayFor(x => x.MD_TIME)</td>
        <td>@Html.TextBoxFor(x => x.Data01, new { @style = "width: 100%;"})</td>
    </tr>
}