@model Audit.Models.Tab7
@{
    Layout = null;
}
<style>
    div.ui-datepicker {
        font-size: 12px;
    }

    .ui-datepicker-trigger {
        position: absolute;
        right: 15px;
        top: 7px;
    }
</style>

@if (Model.MD_CODE == "172")
{
    @Html.HiddenFor(x => x.MD_CODE)
    @Html.HiddenFor(x => x.MD_LAWS_NUM)
    @Html.HiddenFor(x => x.MD_NAME)
    @Html.HiddenFor(x => x.MD_TIME)
    <tr style="text-align:center;font-weight:bold;text-transform:uppercase;"><td colspan="4">@Html.DisplayFor(x => x.MD_LAWS_NUM) @Html.DisplayFor(x => x.MD_NAME)</td></tr>
}
@if (Model.MD_CODE == "173" || Model.MD_CODE == "174" || Model.MD_CODE == "175" || Model.MD_CODE == "176" || Model.MD_CODE == "177")
{
    @Html.HiddenFor(x => x.MD_CODE)
    @Html.HiddenFor(x => x.MD_LAWS_NUM)
    @Html.HiddenFor(x => x.MD_NAME)
    @Html.HiddenFor(x => x.MD_TIME)
    <tr>
        <td class="text-center">@Html.DisplayFor(x => x.MD_LAWS_NUM)</td>
        <td>@Html.DisplayFor(x => x.MD_NAME)</td>
        <td class="text-center">@Html.DisplayFor(x => x.MD_TIME)</td>
        <td>@Html.TextBoxFor(x => x.Data02, new { @style = "width: 100%;", @placeholder = "Утга оруулна уу" })</td>
    </tr>
}
@if (Model.MD_CODE == "179" || Model.MD_CODE == "180")
{
    @Html.HiddenFor(x => x.MD_CODE)
    @Html.HiddenFor(x => x.MD_LAWS_NUM)
    @Html.HiddenFor(x => x.MD_NAME)
    @Html.HiddenFor(x => x.MD_TIME)
    <tr>
        <td class="text-center">@Html.DisplayFor(x => x.MD_LAWS_NUM)</td>
        <td>@Html.DisplayFor(x => x.MD_NAME)</td>
        <td class="text-center">@Html.DisplayFor(x => x.MD_TIME)</td>
        <td>@Html.EditorFor(x => x.Data02, new { htmlAttributes = new { @class = "form-control form-control-sm datepicker" , @placeholder = "Өдөр сонгоно уу" } })</td>
    </tr>
}
@if (Model.MD_CODE == "181" || Model.MD_CODE == "182" || Model.MD_CODE == "183" || Model.MD_CODE == "184" || Model.MD_CODE == "185" || Model.MD_CODE == "186" || Model.MD_CODE == "187" || Model.MD_CODE == "188" || Model.MD_CODE == "189" || Model.MD_CODE == "190" || Model.MD_CODE == "191" || Model.MD_CODE == "192" || Model.MD_CODE == "193" || Model.MD_CODE == "194" || Model.MD_CODE == "195" || Model.MD_CODE == "196")
{
    @Html.HiddenFor(x => x.MD_CODE)
    @Html.HiddenFor(x => x.MD_LAWS_NUM)
    @Html.HiddenFor(x => x.MD_NAME)
    @Html.HiddenFor(x => x.MD_TIME)
    <tr>
        <td class="text-center">@Html.DisplayFor(x => x.MD_LAWS_NUM)</td>
        <td>@Html.DisplayFor(x => x.MD_NAME)</td>
        <td class="text-center">@Html.DisplayFor(x => x.MD_TIME)</td>
        <td>@Html.TextBoxFor(x => x.Data01, new { @style = "width: 100%;", @class = "text-right currency" })</td>
    </tr>
}
@if (Model.MD_CODE == "178")
{
    @Html.HiddenFor(x => x.MD_CODE)
    @Html.HiddenFor(x => x.MD_LAWS_NUM)
    @Html.HiddenFor(x => x.MD_NAME)
    @Html.HiddenFor(x => x.MD_TIME)
    <tr>
        <td class="text-center">@Html.DisplayFor(x => x.MD_LAWS_NUM)</td>
        <td>@Html.DisplayFor(x => x.MD_NAME)</td>
        <td class="text-center">@Html.DisplayFor(x => x.MD_TIME)</td>
        <td>@Html.TextBoxFor(x => x.Data01, new { @style = "width: 100%;", @type = "number", @placeholder = "Утга оруулна уу" })</td>
    </tr>
}
@if (Model.MD_CODE == "197" || Model.MD_CODE == "198" || Model.MD_CODE == "199" || Model.MD_CODE == "200" || Model.MD_CODE == "201")
{
    @Html.HiddenFor(x => x.MD_CODE)
    @Html.HiddenFor(x => x.MD_LAWS_NUM)
    @Html.HiddenFor(x => x.MD_NAME)
    @Html.HiddenFor(x => x.MD_TIME)
    <tr>
        <td></td>
        <td>@Html.DisplayFor(x => x.MD_NAME)</td>
        <td></td>
        <td>
            @Html.DropDownListFor(model => model.Data01, new SelectList(
                        new List<Object>{
                           new { value = 0 , text = "Тийм" },
                           new { value = 1 , text = "Үгүй" }
                        }, "value", "text"), new { @class = "form-control", @style = "font-size:12px;" })
        </td>
    </tr>
}
@if (Model.MD_CODE == "202" || Model.MD_CODE == "203")
{
    @Html.HiddenFor(x => x.MD_CODE)
    @Html.HiddenFor(x => x.MD_LAWS_NUM)
    @Html.HiddenFor(x => x.MD_NAME)
    @Html.HiddenFor(x => x.MD_TIME)
    <tr>
        <td></td>
        <td>@Html.DisplayFor(x => x.MD_NAME)</td>
        <td></td>
        <td>@Html.TextAreaFor(x => x.Data02, new { @style = "width: 100%;" })</td>
    </tr>
}


<script>
  $( function() {
      $(".datepicker").datepicker({
          beforeShow: function () {
              setTimeout(function () {
                  $('.ui-datepicker').css('z-index', 99999999999999);
              }, 0);
          },
          changeMonth: true,
          changeYear: true,
          dateFormat: "yy/mm/dd",
          firstDay: 1,
          dayNamesMin: ["Ня", "Да", "Мя", "Лха", "Пү", "Ба", "Бя"],
          monthNamesShort: ["1-сар", "2-сар", "3-сар", "4-сар", "5-сар", "6-сар", "7-сар", "8-сар", "9-сар", "10-сар", "11-сар", "12-сар"],
          maxDate: "+0D",
          placeholder: "Өдөр сонгоно уу"
          @*showOn: "button",
          buttonImage: "@Url.Content("~/Images/calendar.png")",
          buttonImageOnly: true,
          buttonText: "Select date"*@
      });
  });
</script>

