@model Audit.Models.Tab8
@{
    Layout = null;
}

@if (Model.PROJECT_NAME == null)
{ 
    <tr>
        Төсөл бүртгэгдээгүй байна.
    </tr>
}
else
{ 
@Html.HiddenFor(x => x.PROJECT_NUMBER)
<tr>
    <td>@Html.DisplayFor(x => x.PROJECT_NAME)</td>
    <td>@Html.DisplayFor(x => x.PROJECT_NUMBER)</td>
    <td>@Html.DisplayFor(x => x.PROJECT_START_DATE)</td>
    <td>@Html.DisplayFor(x => x.PROJECT_END_DATE)</td>
    <td>@Html.DisplayFor(x => x.PROJECT_PERCENT)</td>
    <td>@Html.DisplayFor(x => x.PROJECT_TOTAL_BUDGET)</td>
    <td>@Html.DisplayFor(x => x.PROJECT_ORG_FUND)</td>
    <td width="8%"> @*@Html.ActionLink("Засах", "OrgProjectEdit", "Shilendans", new { ID = Model.PROJECT_NUMBER }, null) |
         @Html.ActionLink("Устгах", "OrgProjectDelete", "Shilendans", new { ID = Model.PROJECT_NUMBER}, new { @style = "color: #dc3545;" })*@
    <a href="#"><i class="fa fa-edit"></i></a> <a href="#"><i class="fa fa-trash-alt"></i></a></td>
</tr>
}