<h3>Тайлан</h3>
<div class="accordion" id="accordionExample">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <a href="@Url.Action("Viewer", "Report", new { name= "/Audit.Report/Report1",title ="Шилэн дансны тухай хуулийн 3 дугаар зүйлийн 3.1.1, 3.1.2-т заасан төрийн болон орон нутгийн өмчит хуулийн этгээд, төрийн өмчит үйлдвэрийн газрын нэгтгэлийн маягт-1.1" })">Шилэн дансны тухай хуулийн 3 дугаар зүйлийн 3.1.1, 3.1.2-т заасан төрийн болон орон нутгийн өмчит хуулийн этгээд, төрийн өмчит үйлдвэрийн газрын нэгтгэлийн маягт-1.1</a>
        </li>
        <li class="list-group-item">
            <a href="@Url.Action("Viewer", "Report", new { name= "/Audit.Report/Report2",title ="Шилэн дансны тухай хуулийн 3 дугаар зүйлийн 3.1.1, 3.1.2-т заасан төрийн болон орон нутгийн өмчит хуулийн этгээд, төрийн өмчит үйлдвэрийн газрын нэгтгэлийн маягт - 1.2" })">Шилэн дансны тухай хуулийн 3 дугаар зүйлийн 3.1.1, 3.1.2-т заасан төрийн болон орон нутгийн өмчит хуулийн этгээд, төрийн өмчит үйлдвэрийн газрын нэгтгэлийн маягт - 1.2</a>
        </li>
        <li class="list-group-item">
            <a href="@Url.Action("Viewer", "Report", new { name= "/Audit.Report/ReportNegtgel2",title ="Шилэн дансны тухай хуулийн 3 дугаар зүйлийн 3.1.4-д заасан Улс, орон нутгийн төсвийн хөрөнгөөр хөрөнгө оруулалт, төсөл, хөтөлбөр, арга хэмжээ, ажил, үйлчилгээ гүйцэтгэж байгаа аж ахуйн нэгж, байгууллагын нэгтгэлийн маягт-3" })">Шилэн дансны тухай хуулийн 3 дугаар зүйлийн 3.1.4-д заасан Улс, орон нутгийн төсвийн хөрөнгөөр хөрөнгө оруулалт, төсөл, хөтөлбөр, арга хэмжээ, ажил, үйлчилгээ гүйцэтгэж байгаа аж ахуйн нэгж, байгууллагын нэгтгэлийн маягт-3</a>
        </li>
        <li class="list-group-item">
            <a href="@Url.Action("Viewer", "Report", new { name= "/Audit.Report/ReportNegtgel3",title ="Шилэн дансны тухай хуулийн 3 дугаар зүйлийн 3.1.4-д заасан Улс, орон нутгийн төсвийн хөрөнгөөр хөрөнгө оруулалт, төсөл, хөтөлбөр, арга хэмжээ, ажил, үйлчилгээ гүйцэтгэж байгаа аж ахуйн нэгж, байгууллагын нэгтгэлийн маягт-3" })">Шилэн дансны тухай хуулийн 3 дугаар зүйлийн 3.1.4-д заасан Улс, орон нутгийн төсвийн хөрөнгөөр хөрөнгө оруулалт, төсөл, хөтөлбөр, арга хэмжээ, ажил, үйлчилгээ гүйцэтгэж байгаа аж ахуйн нэгж, байгууллагын нэгтгэлийн маягт-3</a>
        </li>
        <li class="list-group-item">
            <a href="@Url.Action("Viewer", "Report", new { name= "/Audit.Report/ReportNegtgel4",title ="Шилэн дансны тухай хуулийн 3 дугаар зүйлийн 3.1.5-д заасан Төрийн чиг үүрэгт хамаарах ажил, үйлчилгээг хууль тогтоомж, гэрээний үндсэн дээр гүйцэтгэгчид хөтлөх маягт-4" })">Шилэн дансны тухай хуулийн 3 дугаар зүйлийн 3.1.5-д заасан Төрийн чиг үүрэгт хамаарах ажил, үйлчилгээг хууль тогтоомж, гэрээний үндсэн дээр гүйцэтгэгчид хөтлөх маягт-4</a>
        </li>

    </ul>
</div>
