@using Audit.Models
@model Audit.Models.N1VM
@{
    ViewBag.Title = "ReportN2";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<style>
    .vertical {
        writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
        transform: rotate(180deg);
        width: 60px;
        height: 250px;
    }

    .tableBorder {
        border-right-color: transparent !important;
    }

</style>

<div class="d-flex">
    <a href="@Url.Action("Index","Report")" class="btn btn-sm btn-light mr-2">
        <span class="icon text-gray-600">
            <i class="fas fa-arrow-left"></i>
        </span>
    </a>
    <h4>Шилэн дансны тухай хуулийн 3 дугаар зүйлийн 3.1.3-т заасан Хяналтын багц буюу түүнээс дээш хэмжээний хувьцааг нь төр, орон нутаг болон тэдгээрийн нэгдмэл сонирхолтой этгээд эзэмшиж байгаа компанид хөтлөх нэгтгэлийн маягт-2</h4>
</div>
<hr class="sidebar-divider">
<form method="post" id="FilterForm">
    <div class="d-flex flex-wrap mb-2">
        <div class="form-group-sm pr-2">
            <label for="TypeID" class="col-form-label">Жил:</label>
            @Html.DropDownListFor(model => model.YearCode, new List<SelectListItem>
               { new SelectListItem{Text="2021", Value="2021"},
                 new SelectListItem{Text="2020", Value="2020"}},
               null, new { @class = "form-control form-control-sm" })
        </div>
        <div class="form-group-sm pr-2">
            <label for="DeparmentID" class="col-form-label">Алба:</label>
            @Html.DropDownListFor(model => model.DeparmentID, Model.departments.Select(m => new SelectListItem { Text = m.DEPARTMENT_NAME, Value = m.DEPARTMENT_ID.ToString() }).ToList(), "Сонгоно уу", htmlAttributes: new { @class = "form-control form-control-sm" })
        </div>
        <div class="form-group-sm pr-2">
            <label for="TypeID" class="col-form-label">Төсөв захирагчийн ангилал:</label>
            @Html.DropDownListFor(model => model.TypeID, new List<SelectListItem>
               { new SelectListItem{Text="ТЕЗ", Value="1"},
                 new SelectListItem{Text="ТТЗ", Value="2"},
                 new SelectListItem{Text="ТШЗ", Value="3"}},
               "Сонгоно уу", new { @class = "form-control form-control-sm" })
            @Html.ValidationMessageFor(model => model.TypeID, "", new { @class = "text-danger" })
        </div>
        <div class="form-group-sm pr-2">
            <label for="PARENT_BUDGET_ID" class="col-form-label">Төсвийн ерөнхийлөн захирагч:</label>
            @Html.DropDownListFor(model => model.PARENT_BUDGET_ID, Model.parentBudgetTypes.Select(m => new SelectListItem { Text = m.PARENT_BUGDET_NAME, Value = m.PARENT_BUDGET_ID.ToString() }).ToList(), "Сонгоно уу", htmlAttributes: new { @class = "form-control form-control-sm" })
        </div>

        <div class="form-group-sm ml-auto pr-2">
            <br />
            <a href="#" class="btn btn-sm btn-success btn-icon-split" id="N1exportXLSX" onclick="exportFileExcel('ReportN2', 'Шилэн дансны тухай хуулийн 3 дугаар зүйлийн 3.1.3-т  маягт-2')">
                <span class="icon text-white-50">
                    <i class="fas fa-file-excel"></i>
                </span>
                <span class="text">Excel</span>
            </a>
        </div>
        @*<div class="container">
            <div class="row">
                <div class="col-6 col-sm-4">ТЕЗ</div>
                <div class="col-6 col-sm-4">НЗД</div>
                <div class="w-100"></div>
                <div class="col-6 col-sm-4">ТТЗ/ТЕЗ</div>
                <div class="col-6 col-sm-4">НЗД</div>
                <div class="w-100"></div>
                <div class="col-6 col-sm-4">Шалгагдагч байгууллага /иргэн, хуулийн этгээд/ нэр</div>
                <div class="col-6 col-sm-4">Баянзүрх сургууль</div>
            </div>
        </div>*@







        @*<div class="form-group-sm ml-auto pr-2">
            <br />
            <p>Хамрах хугацаа: </p>
        </div>*@

    </div>
</form>
<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table id="ReportN2" class=" table table-bordered table-hover datatable display">
                <thead>
                    <tr class="bg-light">
                        <th rowspan="2" class="text-center">№</th>
                        <th rowspan="2" class="text-center">Төсвийн ерөнхийлөн захирагч</th>
                        <th rowspan="2" class="text-center">Шалгагдагч байгууллага /иргэн, хуулийн этгээд/ нэр</th>
                        <th rowspan="2" class="text-center">Регистрийн дугаар</th>
                        <th colspan="6">6.8.1. энэ хуулийн 3.2.5-д заасан Засгийн газар, орон нутгийн өрийн бичиг, бусад санхүүги.йн хэрэгсэл, шийдвэрийн талаарх мэдээлэл</th>
                        <th colspan="6">6.8.1. энэ хуулийн 3.2.7-д заасан Төр, хувийн хэвшлийн түншлэлийн гэрээ, концессийн талаарх шийдвэрийн мэдээлэл</th>
                        <th colspan="6">6.8.1. энэ хуулийн 3.2.8-д заасан Засгийн газар, орон нутгийн баталгаа, Төрийн байгууллага, улсын төсөвтэй холбоотой үүссэн өрийн талаарх шийдвэр, мэдээлэл </th>
                        <th colspan="6">6.8.1. энэ хуулийн 3.2.8-д заасан Засгийн газар, орон нутгийн баталгаа, Төрийн байгууллага, улсын төсөвтэй холбоотой үүссэн авлагын талаарх шийдвэр,  мэдээлэл </th>
                        <th colspan="1">6.8.2. Худалдан авах ажиллагааны төлөвлөгөө </th>
                        <th colspan="1">6.8.2. Худалдан авах ажиллагааны тайлан</th>
                        <th colspan="8">6.8.2. Тендер, худалдан авалтын ерөнхий мэдээлэл</th>
                        <th colspan="6">6.8.3. Их хэмжээний хэлцэлд тооцогдохуйц баталгаа, батлан даалтын шийдвэрийн мэдээлэл</th>
                        <th colspan="3">6.10 Нийтийн албанд нийтийн болон хувийн ашиг сонирхлыг зохицуулах, ашиг сонирхлын зөрчлөөс урьдчилан сэргийлэх тухай хуулийн 8.9 дүгээр зүйлд заасан мэдэгдэл</th>
                        <th colspan="2">Мэдээлэл байршуулах албан тушаалтан  </th>
                        <th colspan="5">Зөрчлийн шийдэл</th>
                    </tr>

                    <tr class="bg-light">
                        <th><span class="vertical">Нийт шийдвэрийн тоо</span></th>
                        <th><span class="vertical">Нийт шийдвэрийн мөнгөн дүн</span> </th>
                        <th><span class="vertical">Мэдээлээгүй шийдвэрийн тоо</span></th>
                        <th><span class="vertical">Мэдээлээгүй шийдвэрийн мөнгөн дүн</span></th>
                        <th><span class="vertical">Үүнээс: Хугацаа хоцроосон гүйлгээний тоо</span></th>
                        <th><span class="vertical">Хугацаа хоцроосон мөнгөн дүн</span></th>
                        <th><span class="vertical">Нийт шийдвэрийн тоо</span></th>
                        <th><span class="vertical">Нийт шийдвэрийн мөнгөн дүн</span></th>
                        <th><span class="vertical">Мэдээлээгүй шийдвэрийн тоо</span></th>
                        <th><span class="vertical">Мэдээлээгүй шийдвэрийн мөнгөн дүн</span></th>
                        <th><span class="vertical">Үүнээс: Хугацаа хоцроосон гүйлгээний тоо</span></th>
                        <th><span class="vertical">Хугацаа хоцроосон мөнгөн дүн</span></th>
                        <th><span class="vertical">Нийт шийдвэрийн тоо</span></th>
                        <th><span class="vertical">Нийт шийдвэрийн мөнгөн дүн</span></th>
                        <th><span class="vertical">Мэдээлээгүй шийдвэрийн тоо</span></th>
                        <th><span class="vertical">Мэдээлээгүй шийдвэрийн мөнгөн дүн</span></th>
                        <th><span class="vertical">Үүнээс: Хугацаа хоцроосон гүйлгээний тоо</span></th>
                        <th><span class="vertical">Хугацаа хоцроосон мөнгөн дүн</span></th>
                        <th><span class="vertical">Нийт шийдвэрийн тоо</span></th>
                        <th><span class="vertical">Нийт шийдвэрийн мөнгөн дүн</span></th>
                        <th><span class="vertical">Мэдээлээгүй шийдвэрийн тоо</span></th>
                        <th><span class="vertical">Мэдээлээгүй шийдвэрийн мөнгөн дүн</span></th>
                        <th><span class="vertical">Үүнээс: Хугацаа хоцроосон гүйлгээний тоо</span></th>
                        <th><span class="vertical">Хугацаа хоцроосон мөнгөн дүн</span></th>
                        <th><span class="vertical">мэдээлсэн эсэх</span></th>
                        <th><span class="vertical">мэдээлсэн эсэх</span></th>
                        <th><span class="vertical">Тендер шалгаруулсан худалдан авах ажиллагааны тоо </span></th>
                        <th><span class="vertical">Тендер шалгаруулсан худалдан авах ажиллагааны мөнгөн дүн</span></th>
                        <th><span class="vertical">Үүнээс: Мэдээлээгүй тоо</span></th>
                        <th><span class="vertical">Мэдээлээгүй худалдан авалтын мөнгөн дүн</span></th>
                        <th><span class="vertical">Үүнээс: Хугацаа хоцроосон тоо </span></th>
                        <th><span class="vertical">Хугацаа хоцроосон мөнгөн дүн</span></th>
                        <th><span class="vertical">тендерт шалгарсан оролцогчийн талаарх товч мэдээллийг мэдээлээгүй тоо</span></th>
                        <th><span class="vertical">тендерт шалгараагүй оролцогчийн талаарх товч мэдээлэл, хуулийн үндэслэл, шалтгааныг мэдээлээгүй тоо</span></th>
                        <th><span class="vertical">Нийт шийдвэрийн тоо </span></th>
                        <th><span class="vertical">Нийт шийдвэрийн мөнгөн дүн</span></th>
                        <th><span class="vertical">Мэдээлээгүй шийдвэрийн тоо</span></th>
                        <th><span class="vertical">Мэдээлээгүй шийдвэрийн мөнгөн дүн</span></th>
                        <th><span class="vertical">Үүнээс: Хугацаа хоцроосон гүйлгээний тоо</span></th>
                        <th><span class="vertical">Хугацаа хоцроосон мөнгөн дүн</span></th>
                        <th><span class="vertical">Нийт мэдээлэх ашиг сонирхлын мэдүүлгийн тоо</span></th>
                        <th><span class="vertical">Мэдээлээгүй тоо ашиг сонирхлын мэдүүлгийн тоо</span></th>
                        <th><span class="vertical">Үүнээс: Хугацаа хоцроосон гүйлгээний тоо</span></th>
                        <th><span class="vertical">Төсөв захирагчийн албан тушаал, нэр, холбоо барих утас</span></th>
                        <th><span class="vertical">Нягтлан бодогчийн албан тушаал, нэр, холбоо барих утас</span></th>
                        <th><span class="vertical">Зөрчил арилгуулах албан шаардлага өгсөн</span></th>
                        <th><span class="vertical">Хариуцлага тооцуулах албан шаардлага өгсөн</span></th>
                        <th><span class="vertical">Хууль хяналтын байгууллагад шилжүүлсэн</span></th>
                        <th><span class="vertical">Зөвлөмж өгсөн</span></th>
                        <th><span class="vertical">Аудитын явцад залруулсан</span></th>


                </thead>
                
            </table>
        </div>
    </div>
</div>


@section scripts{
    <script>


        $(document).ready(function () {

            N2ListInit();
        });



        function N2ListInit(pagelength = 10, mayagt) {
            var count = 0
            N2.table = $("#ReportN2").DataTable({
                fixedHeader: {
                    header: true,
                    footer: true
                },
                "serverSide": true,
                "processing": true,
                "ajax": {
                    url: "/api/service/ReportN2List",
                    type: 'POST',
                    data: function (data) {
                        data.YearCode = $('#YearCode').val();
                        data.DeparmentID = $('#DeparmentID').val();
                        data.TypeID = $('#TypeID').val();
                        data.Mayagt = mayagt;
                        data.PARENT_BUDGET_ID = $('#PARENT_BUDGET_ID').val();
                        count = 0;
                        return data;
                    }
                },
                createdRow: function (row, data, dataIndex) {
                    $(row).attr('data-id', data.ORGID);
                    //var api = this.api(), data;

                    //$(api.column(1).footer()).html(
                    //     data.MD1
                    //);
                },

                "columns": [
                    {
                        "data": null, "sortable": false, "class": 'text-center',
                        render: function (data, type, row, meta) {


                            if (data.ORGNAME === "Нийт дүн") {
                                return "";
                            }
                            else if (data.ORGNAME === "Мэдээлсэн") {
                                return "";
                            }
                            else if (data.ORGNAME === "Мэдээлээгүй") {
                                return "";
                            }
                            else if (data.ORGNAME === "Хугацаа хоцроосон") {
                                return "";
                            }
                            else if (data.ORGNAME === "Мэдээлэх шаардлагагүй, хамааралгүй") {
                                return "";
                            }
                            else if (data.ORGNAME === "Мэдээлсэн байдлын хэрэгжилтийн хувь") {
                                return "";
                            }
                            else if (data.ORGNAME === "Хугацаа хоцролтын хэрэгжилтийн хувь") {
                                return "";
                            }
                            else if (data.ORGNAME === "Төсвийн ерөнхийлөн захирагч") {
                                return "";
                            }
                            else if (data.ORGNAME === "Төсвийн төвлөрүүлэн захирагч") {
                                return "";
                            }
                            else if (data.ORGNAME === "Төсвийн шууд захирагч") {
                                return "";
                            }

                            else

                                return count = count + 1;

                        }
                    },
                    { "data": "PARENT_NAME", "name": "PARENT_NAME" },
                    { "data": "ORGNAME", "name": "ORGNAME" },
                    { "data": "OPEN_ENT_REGISTER_NO", "name": "OPEN_ENT_REGISTER_NO", "class": "text-center" },
                    { "data": "MD116", "name": "MD116", "class": "text-center" },
                    { "data": "MD117", "name": "MD117", "class": "text-center" },
                    { "data": "MD118", "name": "MD118", "class": "text-center" },
                    { "data": "MD119", "name": "MD119", "class": "text-center" },
                    { "data": "MD120", "name": "MD120", "class": "text-center" },
                    { "data": "MD121", "name": "MD121", "class": "text-center" },
                    { "data": "MD123", "name": "MD123", "class": "text-center" },
                    { "data": "MD124", "name": "MD124", "class": "text-center" },
                    { "data": "MD125", "name": "MD125", "class": "text-center" },
                    { "data": "MD126", "name": "MD126", "class": "text-center" },
                    { "data": "MD127", "name": "MD127", "class": "text-center" },
                    { "data": "MD128", "name": "MD128", "class": "text-center" },
                    { "data": "MD130", "name": "MD130", "class": "text-center" },
                    { "data": "MD131", "name": "MD131", "class": "text-center" },
                    { "data": "MD132", "name": "MD132", "class": "text-center" },
                    { "data": "MD133", "name": "MD133", "class": "text-center" },
                    { "data": "MD134", "name": "MD134", "class": "text-center" },
                    { "data": "MD135", "name": "MD135", "class": "text-center" },
                    { "data": "MD137", "name": "MD137", "class": "text-center" },
                    { "data": "MD138", "name": "MD138", "class": "text-center" },
                    { "data": "MD139", "name": "MD139", "class": "text-center" },
                    { "data": "MD140", "name": "MD140", "class": "text-center" },
                    { "data": "MD141", "name": "MD141", "class": "text-center" },
                    { "data": "MD142", "name": "MD142", "class": "text-center" },
                    { "data": "MD143", "name": "MD143", "class": "text-center" },
                    { "data": "MD144", "name": "MD144", "class": "text-center" },
                    { "data": "MD146", "name": "MD146", "class": "text-center" },
                    { "data": "MD147", "name": "MD147", "class": "text-center" },
                    { "data": "MD148", "name": "MD148", "class": "text-center" },
                    { "data": "MD149", "name": "MD149", "class": "text-center" },
                    { "data": "MD150", "name": "MD150", "class": "text-center" },
                    { "data": "MD151", "name": "MD151", "class": "text-center" },
                    { "data": "MD152", "name": "MD152", "class": "text-center" },
                    { "data": "MD153", "name": "MD153", "class": "text-center" },
                    { "data": "MD155", "name": "MD155", "class": "text-center" },
                    { "data": "MD156", "name": "MD156", "class": "text-center" },
                    { "data": "MD157", "name": "MD157", "class": "text-center" },
                    { "data": "MD158", "name": "MD158", "class": "text-center" },
                    { "data": "MD159", "name": "MD159", "class": "text-center" },
                    { "data": "MD160", "name": "MD160", "class": "text-center" },
                    { "data": "MD162", "name": "MD162", "class": "text-center" },
                    { "data": "MD163", "name": "MD163", "class": "text-center" },
                    { "data": "MD164", "name": "MD164", "class": "text-center" },
                    { "data": "OPEN_HEAD_ROLE", "name": "OPEN_HEAD_NAME" },
                    { "data": "OPEN_ACC_ROLE", "name": "OPEN_HEAD_PHONE" },
                    { "data": "MD165", "name": "MD165", "class": "text-center" },
                    { "data": "MD166", "name": "MD166", "class": "text-center" },
                    { "data": "MD167", "name": "MD167", "class": "text-center" },
                    { "data": "MD168", "name": "MD168", "class": "text-center" },
                    { "data": "MD169", "name": "MD169", "class": "text-center" }
                ],
                columnDefs: [
                    { width: 10, targets: 1 },
                    { width: "1px", targets: 2 },
                    { width: 200, targets: 10 },

                ],

                scrollX: true,
                scrollCollapse: true,
                autoWidth: true,
                "destroy": true,
                "paging": false,
                "pageLength": pagelength,
                "lengthMenu": [[10, 25, 50], [10, 25, 50]],
                "filter": true,
                "info": false,
                "stateSave": false,
                "language": datatables.language,
                lengthChange: true,
                "ordering": false,
                "createdRow": function (row, data, index) {
                    if (data !== undefined) {
                        if (data.ORGNAME === "Нийт дүн" || data.ORGNAME === "Мэдээлсэн"
                            || data.ORGNAME === "Мэдээлээгүй" || data.ORGNAME === "Хугацаа хоцроосон" || data.ORGNAME === "Мэдээлсэн байдлын хэрэгжилтийн хувь" ||
                            data.ORGNAME === "Мэдээлэх шаардлагагүй, хамааралгүй" || data.ORGNAME === "Хугацаа хоцролтын хэрэгжилтийн хувь") {
                            $(row).children('td').each((index, td) => {
                                if (index === 1) {
                                    $('td', row).eq(1).addClass('font-weight-bold');


                                }

                            });
                        } else if (data.ORGNAME === "Төсвийн ерөнхийлөн захирагч" || data.ORGNAME === "Төсвийн төвлөрүүлэн захирагч" || data.ORGNAME === "Төсвийн шууд захирагч") {
                            $(row).children('td').each((index, td) => {
                                if (index === 1) {
                                    $('td', row).eq(1).addClass('font-weight-bold');


                                }
                                if (index !== 34)
                                    $('td', row).eq(index).addClass('tableBorder');

                            });
                        }
                    }
                },

            });

        }

        $('#YearCode').change(function () {
            N2ListInit();
        });
        $('#DeparmentID').change(function () {
            N2ListInit();
        });
        $('#TypeID').change(function () {
            N2ListInit();
        });
        $('#PARENT_BUDGET_ID').change(function () {
            N2ListInit();
        });

        var N2 = {
            N1ID: null,
            table: null,
            display: function (data) {


            },




            close: function () {
                $("#ReportN2").modal("hide");
            },
            //progressResponse: function (data, status, xhr) {
            //    var ct = xhr.getResponseHeader("content-type") || "";
            //    if (ct.indexOf("html") > -1) {
            //        N1.display(data);
            //    }
            //    if (ct.indexOf('json') > -1) {
            //        if (data.error) {
            //            Message.error(data.message);b
            //        } else {
            //            $('.modal-backdrop:first').remove()
            //            N1.close();
            //            N1ListInit();
            //            Message.success(data.message);
            //        }
            //    }
            //}
        }
        function exportFileExcel(tableid, excelname,) {
            $('#N2exportXLSX').addClass('disabled');
            N2.table.destroy();
            N2ListInit(-1);

            setTimeout(function () {
                var wb = XLSX.utils.table_to_book(document.getElementById(tableid));
                XLSX.writeFile(wb, excelname + '.xlsx');

                N2.table.destroy();
                N2ListInit();
                $('#N2exportXLSX').removeClass('disabled');
            }, 5000
            )
        }
    </script>
}
